<%= form_for(@shipment_receipt, remote: true) do |f| %>
  <%= f.hidden_field :shipment_id %>
  <%= f.hidden_field :do_number %>
  <%= f.hidden_field :ob_number %>
  <div class="form-group<%= control_group_error(@shipment_receipt, :shipment_id) %>">
      <label class="col-sm-2 control-label">DO Number</label>
      <div class="col-sm-10">
          <span class="form-control"><%= f.object.do_number %></span>
          <%= error_help_text(@shipment_receipt, :shipment_id) %>
      </div>
  </div>

  <div class="form-group<%= control_group_error(@shipment_receipt, :shipment_id) %>">
      <label class="col-sm-2 control-label">OB Number</label>
      <div class="col-sm-10">
          <span class="form-control"><%= f.object.ob_number %></span>
          <%= error_help_text(@shipment_receipt, :shipment_id) %>
      </div>
  </div>

  <div class="form-group<%= control_group_error(@shipment_receipt, :received_date) %>">
      <%= f.label :received_date, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= f.text_field :received_date, size: 10, readonly: true, class: "form-control" %>
              <%= error_help_text(@shipment_receipt, :received_date) %>
          </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <table border="1" class="product-table table table-condensed table-responsive table-bordered" style="table-layout: fixed;width: 100%">
                  <tr style="text-align: center">
                      <td style="vertical-align: middle;width: 20% !important;"><strong>Product code</strong></td>
                      <td style="vertical-align: middle;width: auto !important;"><strong>Color X Size</strong></td>
                  </tr>
                  <%= f.fields_for :shipment_receipt_products do |shipment_receipt_product_fields| %>
                    <% order_booking_product = OrderBookingProduct.joins(product: :brand).select(:id).select("products.code AS prdct_code, common_fields.name AS prdct_name").where(id: shipment_receipt_product_fields.object.shipment_product.order_booking_product_id).first %>
                    <% order_booking_product_items = order_booking_product.order_booking_product_items %>
                    <% shipment_receipt_product_items = shipment_receipt_product_fields.object.shipment_receipt_product_items %>
                    <% sizes = order_booking_product.sizes %>
                    <% colors = order_booking_product.colors %>
                    <%= shipment_receipt_product_fields.hidden_field :shipment_product_id %>
                    <tr style="text-align: center">
                        <td style="vertical-align: middle;width: 20% !important;">
                            <%= "#{order_booking_product.prdct_code} - #{order_booking_product.prdct_name}" %>
                        </td>
                        <td style="width: auto !important;">
                            <div class="table-responsive">
                                <table border="1" class="table table-condensed table-responsive table-bordered">

                                    <tr style="text-align: center">
                                        <td></td>
                                        <% sizes.each do |size| %>
                                          <td align="center" style="vertical-align: middle">
                                              <%= size.size %>
                                          </td>
                                        <% end %>
                                    </tr>

                                    <% colors.each_with_index do |color, idx| %>                          
                                      <tr style="text-align: center">
                                          <td style="vertical-align: middle" align="center"><%= "#{color.code} - #{color.name}" %></td>                            
                                          <% sizes.each do |size| %>
                                            <% order_booking_product_item = order_booking_product_items.select(:id).where(size_id: size.id, color_id: color.id).first %>
                                            <% shipment_product_item = ShipmentProductItem.select(:id, :quantity).where(order_booking_product_item_id: order_booking_product_item.id).first %>
                                            <% shipment_receipt_product_item = shipment_receipt_product_items.select{|spi| spi.shipment_product_item_id == shipment_product_item.id}.first %>
                                            <% if shipment_receipt_product_item.present? %>
                                              <td align="center" style="vertical-align: middle">
                                                  <%= shipment_receipt_product_fields.fields_for :shipment_receipt_product_items, shipment_receipt_product_item do |spi_form| %>
                                                    <%= spi_form.hidden_field :shipment_product_item_id %>
                                                    <div class="<%= control_group_error(spi_form.object, :quantity) %>">
                                                        <table cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td><%= shipment_product_item.quantity %></td> 
                                                            </tr>
                                                        </table>                                                
                                                        <%= error_help_text(spi_form.object, :quantity) %>
                                                    </div>
                                                    <% if spi_form.object && !spi_form.object.new_record? %>
                                                      <%= spi_form.hidden_field :id %>
                                                    <% end %>
                                                  <% end %>
                                              </td>
                                            <% else %>
                                              <td></td>
                                            <% end %>
                                          <% end %>
                                      </tr>
                                    <% end %>              
                                </table>
                            </div>
                        </td>
                    </tr>
                  <% end %>
              </table>
          </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <a class="btn btn-primary" id="save-btn">Save</a>
              <button class="btn btn-link cancel">Cancel</button>
          </div>
      </div>
    <% end %>

    <script>
      $(function () {
          $("#shipment_receipt_received_date").datepicker({
              dateFormat: "dd/mm/yy"
          });

          $(".quantity").numeric({
              decimal: false,
              negative: false
          }, function () {
              alert("Positive integers only");
              this.value = "";
              this.focus();
          });

          $("#save-btn").click(function () {
              bootbox.confirm({
                  message: "Once you've received the article, you'll not be able to change or cancel it</br>Are you sure?",
                  buttons: {
                      confirm: {
                          label: '<i class="fa fa-check"></i> Confirm'
                      },
                      cancel: {
                          label: '<i class="fa fa-times"></i> Cancel'
                      }
                  },
                  callback: function (result) {
                      if (result) {
                          $("body").css('padding-right', '0px');
                          $("#new_shipment_receipt").submit();
                      }
                  },
                  size: "small"
              });
              return false;
        });
      });
    </script>