<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-shipment-receipt-thead">
        <tr>
            <th class="col-md-3"><%= smart_listing.sortable "DO Number", "delivery_order_number" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Received Date", "shipment_receipts.received_date" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Quantity", "shipment_receipts.quantity" %></th>
            <th class="col-md-3"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |shipment_receipt| %>
          <tr class="editable" data-id="<%= shipment_receipt.id %>">
              <%= smart_listing.render object: shipment_receipt, partial: "shipment_receipts/shipment_receipt", locals: {object: shipment_receipt} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 4, link: new_shipment_receipt_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-shipment-receipt-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-shipment-receipt-thead").show();
      }
  }, 0);

</script>