<div class="page-header"><h1>Listing Supervisors</h1></div>

<table class="table table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Mobile phone</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @supervisors.each do |supervisor| %>
          <tr>
              <td><%= supervisor.code %></td>
              <td><%= supervisor.name %></td>
              <td><%= supervisor.email %></td>
              <td><%= remove_empty_space_from_phone_number(supervisor.phone) %></td>
              <td><%= remove_empty_space_from_phone_number(supervisor.mobile_phone) %></td>
              <td>
                  <%= link_to 'Show', supervisor, class: "btn btn-info btn-xs active" %>
                    <%= link_to 'Edit', edit_supervisor_path(supervisor), class: "btn btn-warning btn-xs active" %>
                      <%= link_to 'Delete', supervisor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs active" %>
                    </td>
                </tr>
              <% end %>
          </tbody>
      </table>


      <%= link_to 'New Supervisor', new_supervisor_path, class: "btn btn-default active" %>
