<div class="page-header"><h1>Supervisor Detail</h1></div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Code:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @supervisor.code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Name:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @supervisor.name %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Address:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @supervisor.address %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Email:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @supervisor.email %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Phone:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= remove_empty_space_from_phone_number(@supervisor.phone) %>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">
            Mobile phone:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= remove_empty_space_from_phone_number(@supervisor.mobile_phone) %>
        </div>
    </div>        
</div>
<%= link_to 'Edit', edit_supervisor_path(@supervisor), class: "btn btn-default active" %>
