<p>
  <strong>Code:</strong>
  <%= @supervisor.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supervisor.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supervisor.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supervisor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= remove_empty_space_from_phone_number(@supervisor.phone) %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= remove_empty_space_from_phone_number(@supervisor.mobile_phone) %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
