<td colspan="4">
    <div style="padding-top: 20px"></div>
    <%= form_for(@price_code, remote: true, html: {class: "form-horizontal"}) do |f| %>
        <!--
        <% if @price_code.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(@price_code.errors.count, "error") %> prohibited this price code from being saved:</h2>

                            <ul>
          <% @price_code.errors.full_messages.each do |message| %>
                                            <li><%= message %></li>
          <% end %>
                            </ul>
                          </div>
        <% end %>
        -->
        <div class="form-group<%= control_group_error(@price_code, :code) %>">
            <%= f.label :code, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.text_field :code, class: "form-control upcase inputs", tabindex: "1" %>
                    <%= error_help_text(@price_code, :code) %>
                </div>
            </div>
            <div class="form-group<%= control_group_error(@price_code, :name) %>">
                <%= f.label :name, class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= f.text_field :name, class: "form-control inputs", tabindex: "2" %>
                        <%= error_help_text(@price_code, :name) %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :description, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.text_area :description, rows: 6, tabindex: "3", class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <%= f.submit "Save", class: "btn btn-primary" %>
                              <button class="btn btn-link cancel">Cancel</button>
                          </div>
                      </div>
                    <% end %>
                </td>
                <script>
                  $(function () {
                      $('#price_code_code').on("input", function () {
                          $(this).val($(this).val().replace(/ /g, ""));
                      });
                  });
                </script>