<p id="notice"><%= notice %></p>

<h1>Listing Price Codes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_codes.each do |price_code| %>
      <tr>
        <td><%= price_code.code %></td>
        <td><%= price_code.name %></td>
        <td><%= link_to 'Show', price_code %></td>
        <td><%= link_to 'Edit', edit_price_code_path(price_code) %></td>
        <td><%= link_to 'Destroy', price_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price code', new_price_code_path %>
