<div class="page-header"><h1>Listing Models</h1></div>

<table class="table table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @models.each do |model| %>
          <tr>
              <td><%= model.code %></td>
              <td><%= model.name %></td>
              <td>
                  <%= link_to 'Show', model, class: "btn btn-info btn-xs active" %>
                  <%= link_to 'Edit', edit_model_path(model), class: "btn btn-warning btn-xs active" %>
                  <%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs active" %>
              </td>
          </tr>
        <% end %>
    </tbody>
</table>


<%= link_to 'New Model', new_model_path, class: "btn btn-default active" %>
