<td colspan="7">
  <div style="padding-top: 20px"></div>
  <%= form_for(@coa_department, remote: true, html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group<%= control_group_error(@coa_department, :department_id) %>">
        <%= f.label :department_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.select :department_id, options_from_collection_for_select(Department.all.select(:id, :code, :name), "id", "department_view", @coa_department.department_id.to_s), {include_blank: true}, {tabindex: "6", class: "form-control inputs"} %>
          <%= error_help_text(@coa_department, :department_id) %>
        </div>
      </div>
      <div class="form-group<%= control_group_error(@coa_department, :coa_id) %>">
        <%= f.label :coa_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.select :coa_id, options_from_collection_for_select(Coa.all.select(:id, :code, :transaction_type), "id", "coa_view", @coa_department.coa_id.to_s), {include_blank: true}, {tabindex: "6", class: "form-control inputs"} %>
          <%= error_help_text(@coa_department, :coa_id) %>
        </div>
      </div>
      <div class="form-group<%= control_group_error(@coa_department, :warehouse_id) %>">
        <%= f.label :warehouse_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.select :warehouse_id, options_from_collection_for_select(Warehouse.select(:id, :code, :name), "id", "code_and_name", @coa_department.warehouse_id.to_s), {include_blank: true}, {tabindex: "6", class: "form-control inputs"} %>
          <%= error_help_text(@coa_department, :warehouse_id) %>
        </div>
      </div>
      <div class="form-group<%= control_group_error(@coa_department, :location) %>">
        <%= f.label :location, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :location, {class: "form-control inputs"} %>
          <%= error_help_text(@coa_department, :location) %>
        </div>
      </div>

  <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <button class="btn btn-link cancel">Cancel</button>
      </div>
    </div>
  <% end %>
</td>
<script>
  $(function () {
      $("#coa_department_coa_id").attr("data-placeholder", "Please select").chosen();
      $("#coa_department_cost_center").attr("data-placeholder", "Please select").chosen();
      $("#coa_department_department_id").attr("data-placeholder", "Please select").chosen();
      $("#coa_department_warehouse_id").attr("data-placeholder", "Please select").chosen();
      $("#coa_department_company_id").attr("data-placeholder", "Please select").chosen();
  });
</script>
