<%= form_for(@purchase_order, html: {class: "form-horizontal"}) do |f| %>
    <!--
    <% if @purchase_order.errors.any? %>
                                <div id="error_explanation">
                                    <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

                                    <ul>
      <% @purchase_order.errors.full_messages.each do |message| %>
                                                                  <li><%= message %></li>
      <% end %>
                                    </ul>
                                </div>
    <% end %>
    -->
    <%= hidden_field_tag "product_ids", params[:product_ids].present? ? params[:product_ids] : (@products.pluck(:id).map{|id| id.to_s}.join(",") rescue "") %>
    <div class="form-group<%= control_group_error(@purchase_order, :vendor_id) %>">
        <%= f.label :vendor_id, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
              <%= f.select :vendor_id, options_from_collection_for_select(@suppliers, 'id', 'name', @purchase_order.vendor_id.to_s), {prompt: 'Select Vendor'}, {class: "form-control"} %>
                <%= error_help_text(@purchase_order, :vendor_id) %>
            </div>
        </div>
        <div class="form-group<%= control_group_error(@purchase_order, :warehouse_id) %>">
            <%= f.label :warehouse_id, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.select :warehouse_id, options_from_collection_for_select(@warehouses, 'id', 'code', @purchase_order.warehouse_id.to_s), {prompt: 'Select Warehouse'}, {class: "form-control"} %>
                    <%= error_help_text(@purchase_order, :warehouse_id) %>
                </div>
            </div>
            <div class="form-group<%= control_group_error(@purchase_order, :request_delivery_date) %>">
                <%= f.label :request_delivery_date, class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= f.text_field :request_delivery_date, size: 10, readonly: true, class: "form-control" %>
                        <%= error_help_text(@purchase_order, :request_delivery_date) %>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Items</label>
                    <div class="col-sm-10">
                        <%= select_tag "product_collections", options_from_collection_for_select(Product.order(:code), 'id', 'code', selected_product_collection), multiple: true, "data-placeholder" => "Choose a product..." %>
                        <%= submit_tag "Generate form", disabled: @purchase_order.new_record?, id: "generate_po_detail_form", class: "btn btn-default active" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <div id="products_detail">
                              <% if @products.present? %>
                                <%= render 'product_quantities' %>
                              <% end %>
                          </div>
                          <% if @purchase_order.errors and @purchase_order.errors.messages[:base] %>
                            <span class='help-block'><%= @purchase_order.errors.messages[:base][0] %></span>
                          <% end %>
                      </div>                                                      
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <%= f.submit "Save", class: "btn btn-default active" %>
                        </div>
                    </div>
                  <% end %>


                  <script>
                  <% unless @purchase_order.new_record? %>
                      var purchaseOrderId = "<%= params[:id] %>";
                      $(function () {
                    <% if @replaced_ids.present? %>
                      <% @replaced_ids.each do |replaced_id| %>
                              // jika product sudah ada di database sembunyikan produk dan check remove
                              if ($("#product_table_<%= replaced_id %>").find("[type='checkbox']").length > 0) {
                                  $("#product_table_<%= replaced_id %>").hide();
                                  $("#product_table_<%= replaced_id %>").find("[type='checkbox']").attr("checked", true);
                              }
                      <% end %>
                    <% end %>
                      });
                  <% else %>
                      var purchaseOrderId = null;
                  <% end %>

                  </script>

