<%= form_for(@purchase_order) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

        <ul>
            <% @purchase_order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :vendor_id %><br>
      <%= f.select :vendor_id, options_from_collection_for_select(@suppliers, 'id', 'name', @purchase_order.vendor_id.to_s), prompt: 'Select Vendor' %>
  </div>
  <div class="field">
      <%= f.label :warehouse_id %><br>
      <%= f.select :warehouse_id, options_from_collection_for_select(@warehouses, 'id', 'code', @purchase_order.warehouse_id.to_s), prompt: 'Select Warehouse' %>
  </div>
  <div class="field">
      <%= f.label :request_delivery_date %><br>
      <%= f.text_field :request_delivery_date, size: 10, readonly: true %>
  </div>
  <h3>PO Details</h3>
  <div class="field">
      <%= select_tag "product_collections", options_from_collection_for_select(Product.order(:code), 'id', 'code', selected_product_collection), multiple: true, "data-placeholder" => "Choose a product..." %>            
      <%= submit_tag "Generate detail form", disabled: @purchase_order.new_record?, id: "generate_po_detail_form" %>
  </div>
  <div id="products_detail">
      <% if @products.present? %>
        <%= render 'product_quantities' %>
      <% end %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>

<% unless @purchase_order.new_record? %>
  <script>
    var purchaseOrderId = "<%= params[:id] %>";
  </script>
<% end %>
