<!--<table class="table table-condensed table-responsive table-bordered hidden" style="width: 100%" id="po_print_doc">
    <tr>
        <td>-->
<table width="100%" id="po_print_doc">
    <tr>
        <td colspan="2"><strong><%= Company.display_name %></strong></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><strong>PURCHASE ORDER</strong></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><%= @purchase_order.number %></td>
    </tr>
    <tr>
        <td style="width: 50%">
            <table class="table-condensed">
                <tr>
                    <td>To</td>
                    <td>:</td>
                    <td><%= @purchase_order.vendor_name %></td>
                </tr>
                <tr>
                    <td>Means of Payment</td>
                    <td>:</td>
                    <td><%= "#{@purchase_order.terms_of_payment} day(s)" %></td>
                </tr>
                <tr>
                    <td>Created Date</td>
                    <td>:</td>
                    <td><%= @purchase_order.created_at.strftime("%d/%m/%Y") %></td>
                </tr>
                <tr>
                    <td>Purchase Order Date</td>
                    <td>:</td>
                    <td><%= @purchase_order.purchase_order_date.strftime("%d/%m/%Y") if @purchase_order.purchase_order_date %></td>
                </tr>
                <tr>
                    <td>Request Delivery Date</td>
                    <td>:</td>
                    <td><%= @purchase_order.request_delivery_date.strftime("%d/%m/%Y") if @purchase_order.request_delivery_date.present? %></td>
                </tr>                                
            </table>
        </td>
        <td valign="top" style="width: 50%">
            <table align="right" class="table-condensed">
                <tr>
                    <td>Warehouse</td>
                    <td>:</td>
                    <td><%= "#{@purchase_order.warehouse_code} - #{@purchase_order.warehouse_name}" %></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>:</td>
                    <td><%= @purchase_order.warehouse_address %></td>
                </tr>
                <tr>
                    <td valign="top">Note</td>
                    <td valign="top">:</td>
                    <td width="300"><%= @purchase_order.note %></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <table class="table table-condensed table-bordered">
                <tbody>
                    <tr style="text-align: center">
                        <td><strong>No</strong></td>
                        <td><strong>Article Code</strong></td>
                        <td><strong>Quantity</strong></td>
                        <td><strong>Total Quantity</strong></td>
                        <td><strong>Unit Cost</strong></td>
                        <td><strong>Total Cost</strong></td>
                    </tr>
                    <% total_qty_all_products = 0 %>
                    <% @purchase_order.purchase_order_products.joins([product: :brand], :cost_list).includes(:purchase_order_details_selected_columns, :color_selected_columns, :size_selected_columns).select("name, cost, purchase_order_products.id, products.code AS product_code").each_with_index do |po_product, idx| %>
                      <% total_quantity = 0 %>
                      <% product_sizes = po_product.size_selected_columns.distinct %>
                      <% product_colors = po_product.color_selected_columns.distinct %>
                      <% purchase_order_details = po_product.purchase_order_details_selected_columns %>
                      <tr align="center">
                          <td style="vertical-align: middle"><%= idx.succ %></td>
                          <td style="vertical-align: middle"><%= "#{po_product.product_code} - #{po_product.name}" %></td>
                          <td style="vertical-align: middle">
                              <table class="table table-condensed table-bordered">
                                  <tbody>
                                      <tr>
                                          <td colspan="2"></td>
                                          <% product_sizes.each do |size| %>
                                            <td style="text-align: center;vertical-align: middle"><%= size.size %></td>
                                          <% end %>
                                          <td style="text-align: center;vertical-align: middle"><strong>Qty / Color</strong></td>
                                      </tr>
                                      <% product_colors.each_with_index do |color, idx| %>
                                        <tr align="center">
    <%# if idx == 0 %>
                                              <!--<td style="vertical-align: middle" rowspan="<%#= product_colors.length %>">Colors</td>-->
    <%# end %>
                                            <td align="center" colspan="2"><%= "#{color.code} - #{color.name}" %></td>
                                            <% qty_per_color = 0 %>
                                            <% product_sizes.each do |size| %>
                                              <% po_detail = purchase_order_details.select{|pod| pod.color_id.eql?(color.id) && pod.size_id.eql?(size.id)}.first %>
                                              <td style="text-align: center;vertical-align: middle">
                                                  <% if po_detail %>
                                                    <%= po_detail.quantity %>
                                                    <% total_quantity += po_detail.quantity %>
                                                    <% qty_per_color += po_detail.quantity %>
                                                  <% end %>
                                              </td>
                                            <% end %>
                                            <td style="text-align: center;vertical-align: middle">
                                                <%= qty_per_color %>
                                            </td>
                                        </tr>
                                      <% end %>
                                  </tbody>
                              </table>
                          </td>
                          <td align="right" style="vertical-align: middle"><%= total_quantity %></td>
                          <td align="right" style="vertical-align: middle">
                              <% if current_user.has_managerial_role? %>
                                <%= number_to_currency((po_product.cost rescue 0),
                                  :separator => ",",
                                  :delimiter => ".",
                                  :unit => "Rp",
                                  :precision => 2) %>
                              <% end %>
                          </td>
                          <td align="right" style="vertical-align: middle">
                              <% if current_user.has_managerial_role? %>
                                <%= number_to_currency(((total_quantity * po_product.cost) rescue 0),
                                  :separator => ",",
                                  :delimiter => ".",
                                  :unit => "Rp",
                                  :precision => 2) %>
                              <% end %>
                          </td>
                      </tr>
                      <% total_qty_all_products += total_quantity %>
                    <% end %>
                    <tr>
                        <td colspan="5" align="right"><strong>Total Quantity</strong></td>
                        <td align="right"><%= total_qty_all_products %></td>
                    </tr>
                    <tr>
                        <td colspan="5" align="right"><strong>Gross Amount</strong></td>
                        <td align="right"><%= number_to_currency(@purchase_order.order_value,
                              :separator => ",",
                              :delimiter => ".",
                              :unit => "Rp",
                              :precision => 2) if current_user.has_managerial_role? %></td>
                    </tr>
                    <tr>
                        <td colspan="5" align="right"><strong>1st Discount (<%= @purchase_order.first_discount.to_f %>%)</strong></td>
                                <td align="right"><%= number_to_currency((@purchase_order.first_discount.to_f / 100) * @purchase_order.order_value,
                                      :separator => ",",
                                      :delimiter => ".",
                                      :unit => "Rp",
                                      :precision => 2) if current_user.has_managerial_role? %></td>
                    </tr>
                    <tr>
                        <td colspan="5" align="right"><strong>2nd Discount (<%= @purchase_order.second_discount.to_f %>%)<% if @purchase_order.is_additional_disc_from_net %> (net)<% elsif @purchase_order.second_discount.present? %> (gross)<% end %></strong></td>
                                <td align="right"><%= number_to_currency(get_second_discount_in_money(@purchase_order),
                                  :separator => ",",
                                  :delimiter => ".",
                                  :unit => "Rp",
                                  :precision => 2) if current_user.has_managerial_role? %></td>
                    </tr>
                <% if @purchase_order.is_taxable_entrepreneur %>                            
                    <tr>
                        <td colspan="5" align="right"><strong>Value Added Tax (<%= @purchase_order.value_added_tax %> 10%)</strong></td>
                        <td align="right">
                          <%= number_to_currency(get_vat_in_money(@purchase_order),
                            :separator => ",",
                            :delimiter => ".",
                            :unit => "Rp",
                            :precision => 2) if current_user.has_managerial_role? %>
                        </td>
                    </tr>
                <% end %>
                    <tr>
                        <td colspan="5" align="right"><strong>Net Amount</strong></td>
                        <td align="right">
                        <%= number_to_currency(value_after_ppn(@purchase_order),
                          :separator => ",",
                          :delimiter => ".",
                          :unit => "Rp",
                          :precision => 2) if current_user.has_managerial_role? %>
                        </td>
                    </tr>

                </tbody>
                <!--                            <tfoot>
                                            </tfoot>-->
            </table>
        </td>
    </tr>
    <tr>
        <td>Created by</td>
        <td style="text-align: right">Approved by</td>
    </tr>
    <tr>
        <td style="padding-top: 50px"><%= @purchase_order.audits.where(action: "create").select(:user_id, :user_type).first.user.name rescue "" %></td>
        <td style="text-align: right"></td>
    </tr>
</table>
<!--</td>
</tr>
</table>-->