<% @purchase_order.purchase_order_products.each do |pop| %>
  <% if (params[:purchase_order_id].present? and !@purchase_order.new_record? and pop.new_record?) or !params[:purchase_order_id].present? %>
    <% if pop.errors and pop.errors.messages[:base] %>
      <span class='help-block'><%= pop.errors.messages[:base][0] %></span>
    <% end %>
    <table border="1" class="product-table table table-condensed table-responsive table-bordered" id="product_table_<%= pop.product.id %>">
        <tr style="text-align: center">
            <td style="vertical-align: middle"><strong>Product code</strong></td>
            <td style="vertical-align: middle"><strong>Size X Color</strong></td>
        </tr>    
        <tr style="text-align: center">
            <td style="vertical-align: middle">
                <strong><%= pop.product.code %></strong>
            </td>
            <td>
                <% purchase_order_product_detail = pop %>
                <% purchase_order_product_array_index = create_product_array_variable_name(purchase_order_product_detail, pop.product) %>
                <%= fields_for purchase_order_product_array_index, purchase_order_product_detail do |purchase_order_product_detail_form| %>
                  <%= purchase_order_product_detail_form.hidden_field :id %>
                  <%= purchase_order_product_detail_form.hidden_field :purchase_order_date, class: "purchase-order-date" %>
                    <%= purchase_order_product_detail_form.hidden_field :product_id %>
                  <% end %>

                  <% sizes = pop.product.sizes %>
                  <% index = 0 %>

                  <script>
                    var colorCodes = [];
                  </script>

                  <table border="1" class="table table-condensed table-responsive table-bordered">
                      <tr style="text-align: center">
                          <th colspan="2" rowspan="2"></th>
                          <td colspan="<%= @colors.size %>" align="center"><strong>Colors</strong><br /><%= text_field_tag "quantity_#{pop.product.id}", "", {placeholder: "quantity", size: 16, class: "quantity form-control quantity-fields"} %></td>
                        </tr>

                        <tr style="text-align: center">
                            <% @colors.each do |color| %>
                              <td align="center"><%= color.code %><br /><%= text_field_tag "quantity_#{pop.product.id}_#{color.code}", "", {placeholder: "quantity", class: "quantity-#{pop.product.id} quantity form-control quantity-fields", size: 16} %></td>
                              <% end %>
                          </tr>

                          <% sizes.each_with_index do |size, idx| %>                          
                            <tr style="text-align: center">
                                <% if idx.eql? 0 %>
                                  <td rowspan="<%= sizes.size %>" style="vertical-align: middle"><strong>Sizes</strong></td>
                                <% end %>
                                <td style="vertical-align: middle"><%= size.size %></td>                            
                                <% @colors.each do |color| %>
                                  <% if idx == 0 %>
                                <script>
                                  colorCodes.push('<%= color.code %>');
                                </script>
                              <% end %>
                              <% purchase_order_detail_detail = pop.purchase_order_details.select{|pod| pod.size_id.eql?(size.id) and pod.color_id.eql?(color.id)}.first %>
                              <% purchase_order_detail_array_index = create_product_detail_array_variable_name(purchase_order_detail_detail, index, purchase_order_product_array_index) %>
                              <td align="center" style="vertical-align: middle">
                                  <%= fields_for purchase_order_detail_array_index, purchase_order_detail_detail do |purchase_order_detail_detail_form| %>
                                    <%= purchase_order_detail_detail_form.hidden_field :id %>
                                    <%= purchase_order_detail_detail_form.hidden_field :size_id %>
                                    <%= purchase_order_detail_detail_form.hidden_field :color_id %>
                                    <div class="<%= control_group_error(purchase_order_detail_detail, :quantity) %>">
                                        <%= purchase_order_detail_detail_form.text_field :quantity, placeholder: "quantity", class: "quantity-#{pop.product.id}-#{color.code} quantity-#{pop.product.id} quantity form-control quantity-fields", size: 16 %>
                                          <%= error_help_text(purchase_order_detail_detail, :quantity) %>
                                      </div>
                                    <% end %>

                                </td>
                                <% index += 1 %>
                              <% end %>
                  </tr>
                <% end %>              
            </table></td>
            </tr>
            <script>
              $.each(colorCodes, function (index, value) {
                  $('#quantity_<%= pop.product.id %>_' + value).keyup(function () {
                      $('.quantity-<%= pop.product.id %>-' + value).val($('#quantity_<%= pop.product.id %>_' + value).val());
                  });
              });
              $('#<%= "quantity_#{pop.product.id}" %>').keyup(function () {
                  $('.quantity-<%= pop.product.id %>').val($('#<%= "quantity_#{pop.product.id}" %>').val());
              });
            </script>
            <% unless purchase_order_product_detail.new_record? %>
              <tr>
                  <td colspan="2">
                      <%= fields_for purchase_order_product_array_index, purchase_order_product_detail do |purchase_order_product_detail_form| %>
                        <%= purchase_order_product_detail_form.check_box :_destroy %> remove
                      <% end %>
                  </td>
              </tr>          
            <% end %>
            </table>
          <% end %>
        <% end %>

        <script>
          $(".quantity").numeric({
              decimal: false,
              negative: false
          }, function () {
              alert("Positive integers only");
              this.value = "";
              this.focus();
          });

        </script>

