<% @purchase_order.purchase_order_products.each do |pop| %>
  <% if (params[:purchase_order_id].present? and !@purchase_order.new_record? and pop.new_record?) or !params[:purchase_order_id].present? %>
    <% product = pop.product %>
    <% if pop.errors and pop.errors.messages[:base] %>
      <span class='help-block'><%= pop.errors.messages[:base][0] %></span>
    <% end %>
    <table border="1" class="product-table table table-condensed table-responsive table-bordered" id="product_table_<%= product.id %>" style="table-layout: fixed;width: 100%">
        <tr style="text-align: center">
            <td style="vertical-align: middle;width: 20% !important;"><strong>Product code</strong></td>
            <td style="vertical-align: middle;width: 20% !important;"><strong>Cost</strong></td>
            <td style="vertical-align: middle;width: auto !important;"><strong>Color X Size</strong></td>
        </tr>    
        <tr style="text-align: center">
            <td style="vertical-align: middle;width: 20% !important;">
                <%= "#{product.code} - #{product.brand.name}" %>
            </td>
            <td style="vertical-align: middle;width: 20% !important;" id="product_table_cost_<%= product.id %>">
                <%= number_to_currency((pop.po_cost), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %>
            </td>
            <td style="width: auto !important;">                
                <% pop_field_name = create_product_array_variable_name(pop, product.id) %>
                <%= fields_for pop_field_name, pop do |pop_form| %>
                  <%= pop_form.hidden_field :po_cost %>
                  <%= pop_form.hidden_field :product_id %>
                <% end %>

                <% sizes = product.sizes.select(:id, :size) %>
                <% index = 0 %>

                <script>
                  var colorSizes = [];
                </script>
                <div class="table-responsive">
                    <table border="1" class="table table-condensed table-responsive table-bordered">
                        <tr style="text-align: center">
                            <th colspan="2" rowspan="2"></th>
                            <td colspan="<%= sizes.length %>" align="center">
                                <!--
                                <strong>Sizes</strong>
                                <br />-->
                                <%= text_field_tag "quantity_#{product.id}", "", {placeholder: "qty", size: 16, class: "quantity form-control quantity-fields", style: "width: 50px !important"} %>
                              </td>
                          </tr>

                          <tr style="text-align: center">
                              <% sizes.each do |size| %>
                                <td align="center">
                                    <%= size.size %>
                                    <br />
                                    <%= text_field_tag "quantity_#{product.id}_#{size.id}", "", {placeholder: "qty", class: "quantity-#{product.id} quantity form-control quantity-fields", size: 16, style: "width: 50px !important"} %>
                                  </td>
                                <% end %>
                            </tr>

                            <% product_colors = product.colors %>
                            <% product_colors.each_with_index do |color, idx| %>                          
                              <tr style="text-align: center">
          <%# if idx.eql? 0 %>
                                    <!--<td rowspan="<%#= product_colors.length %>" style="vertical-align: middle"><strong>Colors</strong></td>-->
          <%# end %>
                                  <td colspan="2" style="vertical-align: middle"><%= "#{color.code} - #{color.name}" %></td>                            
                                  <% sizes.each do |size| %>
                                    <% if idx == 0 %>
                                  <script>
                                    colorSizes.push('<%= size.id %>');
                                  </script>
                                <% end %>
                                <% pod = pop.purchase_order_details.select { |pod| pod.size_id.eql?(size.id) and pod.color_id.eql?(color.id) }.first %>
            <%# if pod.present? %>                
                                <% pod_field_name = create_product_detail_array_variable_name(pod, index, pop_field_name) %>
                                <td align="center" style="vertical-align: middle">
                                    <%= fields_for pod_field_name, pod do |pod_form| %>
                                      <%= pod_form.hidden_field :size_id %>
                                      <%= pod_form.hidden_field :color_id %>
                                      <%= pod_form.hidden_field :product_id, value: product.id %>
                                      <div class="<%= control_group_error(pod, :quantity) %>">
                                          <%= pod_form.text_field :quantity, placeholder: "qty", class: "quantity-#{product.id}-#{size.id} quantity-#{product.id} quantity form-control quantity-fields", size: 16, style: "width: 50px !important" %>
                                            <%= error_help_text(pod, :quantity) %>
                                        </div>
                                      <% end %>

                                  </td>
                                  <% index += 1 %>
              <%# else %>
                                  <!--<td></td>-->
              <%# end %>
                                <% end %>
                                </tr>
                              <% end %>              
                          </table>
                      </div>
                  </td>
              </tr>              
              <script>
                $.each(colorSizes, function (index, value) {
                    $('#quantity_<%= product.id %>_' + value).keyup(function () {
                        $('.quantity-<%= product.id %>-' + value).val($('#quantity_<%= product.id %>_' + value).val());
                    });
                });
                $('#<%= "quantity_#{product.id}" %>').keyup(function () {
                    $('.quantity-<%= product.id %>').val($('#<%= "quantity_#{product.id}" %>').val());
                });
              </script>
          </table>
        <% end %>
      <% end %>

      <script>
        $(".quantity").numeric({
            decimal: false,
            negative: false
        }, function () {
            alert("Positive integers only");
            this.value = "";
            this.focus();
        });

      </script>

