<table border="1">
    <tr style="text-align: center">
        <th>Product code</th>
        <th>Size X Color</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
          <th>
              <%= product.code %>
          </th>
          <td>
              <% purchase_order_product_detail = @purchase_order.purchase_order_products.build(product: product) %>
              <% purchase_order_product_array_index = "purchase_order[purchase_order_products_attributes]["+Time.now.to_i.to_s+product.id.to_s+"]" %>
              <%= fields_for purchase_order_product_array_index, purchase_order_product_detail do |purchase_order_product_detail_form| %>
                <%= purchase_order_product_detail_form.hidden_field :id %>
                <%= purchase_order_product_detail_form.hidden_field :purchase_order_id %>
                <%= purchase_order_product_detail_form.hidden_field :product_id %>
                <%= purchase_order_product_detail_form.select :warehouse_id, options_from_collection_for_select(@store_warehouses, :id, :name), {prompt: true} %>
              <% end %>

              <table border="1">
                  <% price_codes = product.price_codes %>
                  <% colors = product.colors %>
                  <% sizes = product.sizes %>
                  <% index = 0 %>
                  <% price_codes.each do |price_code| %>                  
                    <% color_code = "" %>
                    <script>
                      var colorCodes = [];
                    </script>
                    <tr style="text-align: center">
                        <th colspan="2" rowspan="2"></th>
                        <th colspan="<%= colors.size %>">Colors<br /><%= text_field_tag "quantity_#{product.id}_#{price_code.code}", "", {placeholder: "quantity", style: "text-align:right;", size: 16, class: "quantity"} %></th>
                      </tr>
                      <tr style="text-align: center">
                          <% colors.each do |color| %>
                            <td><%= color.code %><br /><%= text_field_tag "quantity_#{product.id}_#{price_code.code}_#{color.code}", "", {placeholder: "quantity", class: "quantity-#{product.id}-#{price_code.code} quantity", style: "text-align:right;", size: 16} %></td>
                            <% end %>
                        </tr>
                        <% has_color_at_least_one_product = {} %>
                        <% sizes.each_with_index do |size, idx| %>                          
                          <% has_color_at_least_one_product[size.id] = {} %>                        
                          <tr style="text-align: center">
                              <% if idx.eql? 0 %>
                                <th rowspan="<%= sizes.size %>"><%= price_code.code %></th>
                              <% end %>
                              <td><%= size.size %></td>                            
                              <% colors.each do |color| %>
                                <% if idx == 0 %>
                              <script>
                                colorCodes.push('<%= color.code %>');
                              </script>
                            <% end %>
                            <% product_detail = product.product_details.select{|pd| pd.size_id.eql?(size.id) && pd.color_id.eql?(color.id) && pd.price_code_id.eql?(price_code.id)}.first %>
                            <% if product_detail.present? %>
                              <% purchase_order_detail_detail = purchase_order_product_detail.purchase_order_details.build(product_detail: product_detail) %>
                              <% purchase_order_detail_array_index = "#{purchase_order_product_array_index}[purchase_order_details_attributes]["+Time.now.to_i.to_s+index.to_s+"]" %>
                              <% has_color_at_least_one_product[size.id][color.code] = true %>
                              <td>
                                  <%= fields_for purchase_order_detail_array_index, purchase_order_detail_detail do |purchase_order_detail_detail_form| %>
                                    <%= purchase_order_detail_detail_form.hidden_field :id %>
                                    <%= purchase_order_detail_detail_form.hidden_field :product_detail_id %>
                                    <%= purchase_order_detail_detail_form.hidden_field :purchase_order_product_id %>
                                    <div class="field">
                                        <%= purchase_order_detail_detail_form.text_field :quantity, placeholder: "quantity", class: "quantity-#{product.id}-#{price_code.code}-#{color.code} quantity-#{product.id}-#{price_code.code} quantity", style: "text-align:right;", size: 16 %>
                                      </div>  
                                    <% end %>

                                </td>
                                <% index += 1 %>
                              <% else %>
                                <% has_color_at_least_one_product[size.id][color.code] = false %>
                                <td>
                                </td>
                              <% end %>
                            <% end %>
                </tr>
                <% if idx.eql?(sizes.size - 1) and (color_code = check_empty_column(colors, has_color_at_least_one_product)).present? %>                            
                  <script>
                    $("#<%= "quantity_#{product.id}_#{price_code.code}_#{color_code}" %>").hide();
                  </script>                            
                <% end %>
              <% end %>
              <script>
                $.each(colorCodes, function (index, value) {
                    $('#quantity_<%= product.id %>_<%= price_code.code %>_' + value).keyup(function () {
                        $('.quantity-<%= product.id %>-<%= price_code.code %>-' + value).val($('#quantity_<%= product.id %>_<%= price_code.code %>_' + value).val());
                    });
                });
                $('#<%= "quantity_#{product.id}_#{price_code.code}" %>').keyup(function () {
                    $('.quantity-<%= product.id %>-<%= price_code.code %>').val($('#<%= "quantity_#{product.id}_"+price_code.code %>').val());
                });
              </script>
            <% end %>
        </table></td>
        </tr>
      <% end %>
      </table>

