<td colspan="5">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>
    <table class="table table-condensed table-responsive table-bordered">
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td align="center" colspan="2"><strong>PURCHASE ORDER</strong></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><%= @purchase_order.number %></td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table-condensed table-responsive">
                                <tr>
                                    <td>To</td>
                                    <td>:</td>
                                    <td><%= @purchase_order.vendor_name %></td>
                                </tr>
                                <tr>
                                    <td>Means of Payment</td>
                                    <td>:</td>
                                    <td><%= "#{@purchase_order.terms_of_payment} day(s)" %></td>
                                </tr>
                                <tr>
                                    <td>Created Date</td>
                                    <td>:</td>
                                    <td><%= @purchase_order.created_at.strftime("%d/%m/%Y") %></td>
                                </tr>
                                <tr>
                                    <td>Purchase Order Date</td>
                                    <td>:</td>
                                    <td><%= @purchase_order.purchase_order_date.strftime("%d/%m/%Y") if @purchase_order.purchase_order_date %></td>
                                </tr>
                                <tr>
                                    <td>Request Delivery Date</td>
                                    <td>:</td>
                                    <td><%= @purchase_order.request_delivery_date.strftime("%d/%m/%Y") if @purchase_order.request_delivery_date.present? %></td>
                                </tr>
                                <tr>
                                    <td>Gross Amount</td>
                                    <td>:</td>
                                    <td align="right">
                                        <%= number_to_currency(@purchase_order.order_value,
                                          :separator => ",",
                                          :delimiter => ".",
                                          :unit => "Rp",
                                          :precision => 2) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1st Discount (<%= @purchase_order.first_discount.to_f %>%)</td>
                                    <td>:</td>
                                    <td align="right">
                                      <%= number_to_currency((@purchase_order.first_discount.to_f / 100) * @purchase_order.order_value,
                                          :separator => ",",
                                          :delimiter => ".",
                                          :unit => "Rp",
                                          :precision => 2) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2nd Discount (<%= @purchase_order.second_discount.to_f %>%)<% if @purchase_order.is_additional_disc_from_net %> (net)<% elsif @purchase_order.second_discount.present? %> (gross)<% end %></td>
                                    <td>:</td>
                                    <td align="right">
                                    <%= number_to_currency(get_second_discount_in_money(@purchase_order),
                                      :separator => ",",
                                      :delimiter => ".",
                                      :unit => "Rp",
                                      :precision => 2) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Discount (Rp)</td>
                                    <td>:</td>
                                    <td align="right">
                                    <%= number_to_currency(@purchase_order.price_discount.to_f,
                                      :separator => ",",
                                      :delimiter => ".",
                                      :unit => "Rp",
                                      :precision => 2) %>
                                    </td>
                                </tr>
                            <% if @purchase_order.is_taxable_entrepreneur %>                            
                                <tr>
                                    <td>Value Added Tax (<%= @purchase_order.value_added_tax %> 10%)</td>
                                    <td>:</td>
                                    <td align="right">
                                      <%= number_to_currency(get_vat_in_money(@purchase_order),
                                        :separator => ",",
                                        :delimiter => ".",
                                        :unit => "Rp",
                                        :precision => 2) %>
                                    </td>
                                </tr>
                            <% end %>
                                <tr>
                                    <td>Net Amount</td>
                                    <td>:</td>
                                    <td align="right">
                                    <%= number_to_currency(value_after_ppn(@purchase_order),
                                      :separator => ",",
                                      :delimiter => ".",
                                      :unit => "Rp",
                                      :precision => 2) %>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table align="right" class="table-condensed table-responsive">
                                <tr>
                                    <td>Warehouse</td>
                                    <td>:</td>
                                    <td><%= @purchase_order.warehouse_code %></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>:</td>
                                    <td><%= @purchase_order.warehouse_address %></td>
                                </tr>
                                <tr>
                                    <td valign="top">Note</td>
                                    <td valign="top">:</td>
                                    <td width="300"><%= @purchase_order.note %></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <table class="table table-condensed table-responsive table-bordered">
                                <tbody>
                                    <tr style="text-align: center">
                                        <td><strong>No</strong></td>
                                        <td><strong>Article Code</strong></td>
                                        <td><strong>Quantity</strong></td>
                                        <td><strong>Total Quantity</strong></td>
                                        <td><strong>Unit Cost</strong></td>
                                        <td><strong>Total Cost</strong></td>
                                    </tr>
                                <% @purchase_order.purchase_order_products.joins([product: :brand], :cost_list).select("name, cost, purchase_order_products.id, products.code AS product_code").each_with_index do |po_product, idx| %>
                                  <% total_quantity = 0 %>
                                  <% product_sizes = po_product.sizes.select(:id, :size) %>
                                  <% product_colors = po_product.colors.select(:id, :code) %>
                                  <% purchase_order_details = po_product.purchase_order_details.select(:size_id, :color_id, :quantity) %>
                                    <tr align="center">
                                        <td style="vertical-align: middle"><%= idx.succ %></td>
                                        <td style="vertical-align: middle"><%= "#{po_product.product_code} - #{po_product.name}" %></td>
                                        <td style="vertical-align: middle">
                                            <table class="table table-condensed table-responsive table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" rowspan="2"></td>
                                                        <td align="center" colspan="<%= product_sizes.length %>">Sizes</td>
                                                    </tr>
                                                    <tr>
                                                      <% product_sizes.each do |size| %>
                                                        <td align="center"><%= size.size %></td>
                                                      <% end %>
                                                    </tr>
                                                  <% product_colors.each_with_index do |color, idx| %>
                                                    <tr align="center">
                                                        <% if idx == 0 %>
                                                          <td style="vertical-align: middle" rowspan="<%= product_colors.length %>">Colors</td>
                                                        <% end %>
                                                        <td align="center"><%= color.code %></td>
                                                        <% product_sizes.each do |size| %>
                                                          <% po_detail = purchase_order_details.select{|pod| pod.color_id.eql?(color.id) && pod.size_id.eql?(size.id)}.first %>
                                                          <td>
                                                              <% if po_detail %>
                                                                <%= po_detail.quantity %>
                                                                <% total_quantity += po_detail.quantity %>
                                                              <% end %>
                                                          </td>
                                                        <% end %>
                                                    </tr>
                                                  <% end %>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td align="right" style="vertical-align: middle"><%= total_quantity %></td>
                                        <td align="right" style="vertical-align: middle">
                                          <%= number_to_currency((po_product.cost rescue 0),
                                            :separator => ",",
                                            :delimiter => ".",
                                            :unit => "Rp",
                                            :precision => 2) %>
                                        </td>
                                        <td align="right" style="vertical-align: middle">
                                          <%= number_to_currency(((total_quantity * po_product.cost) rescue 0),
                                            :separator => ",",
                                            :delimiter => ".",
                                            :unit => "Rp",
                                            :precision => 2) %>
                                        </td>
                                    </tr>
                                <% end %>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



</td>

<!--<div class="container" style="width: 100%">
        <div class="row">
            <div class="col-xs-6">
                <h1>
                    <a href="https://twitter.com/tahirtaous">
                        <img src="logo.png">
                        Logo here
                    </a>
                </h1>
            </div>
            <div class="col-xs-6 text-right">
                <h1>INVOICE</h1>
                <h1><small>Invoice #001</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>From: <a href="#">Your Name</a></h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Address <br>
                            details <br>
                            more <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-2 text-right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>To : <a href="#">Client Name</a></h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Address <br>
                            details <br>
                            more <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <h4>Service</h4>
                    </th>
                    <th>
                        <h4>Description</h4>
                    </th>
                    <th>
                        <h4>Hrs/Qty</h4>
                    </th>
                    <th>
                        <h4>Rate/Price</h4>
                    </th>
                    <th>
                        <h4>Sub Total</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Article</td>
                    <td><a href="#">Title of your article here</a></td>
                    <td class="text-right">-</td>
                    <td class="text-right">$200.00</td>
                    <td class="text-right">$200.00</td>
                </tr>
                <tr>
                    <td>Template Design</td>
                    <td><a href="#">Details of project here</a></td>
                    <td class="text-right">10</td>
                    <td class="text-right">75.00</td>
                    <td class="text-right">$750.00</td>
                </tr>
                <tr>
                    <td>Development</td>
                    <td><a href="#">WordPress Blogging theme</a></td>
                    <td class="text-right">5</td>
                    <td class="text-right">50.00</td>
                    <td class="text-right">$250.00</td>
                </tr>
            </tbody>
        </table>
        <div class="row text-right">
            <div class="col-xs-2 col-xs-offset-8">
                <p>
                    <strong>
                        Sub Total : <br>
                        TAX : <br>
                        Total : <br>
                    </strong>
                </p>
            </div>
            <div class="col-xs-2">
                <strong>
                    $1200.00 <br>
                    N/A <br>
                    $1200.00 <br>
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Bank details</h4>
                    </div>
                    <div class="panel-body">
                        <p>Your Name</p>
                        <p>Bank Name</p>
                        <p>SWIFT : --------</p>
                        <p>Account Number : --------</p>
                        <p>IBAN : --------</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="span7">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>Contact Details</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Email : you@example.com <br><br>
                                Mobile : -------- <br> <br>
                                Twitter : <a href="https://twitter.com/tahirtaous">@TahirTaous</a>
                            </p>
                            <h4>Payment should be made by Bank Transfer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

<!--<style>
    @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
    body, h1, h2, h3, h4, h5, h6{
        font-family: 'Bree Serif', serif;
    }
</style>-->