<div class="page-header"><h1>Receive purchase order</h1></div>

<%= form_for(@purchase_order, html: {class: "form-horizontal"}, url: receive_purchase_order_path(@purchase_order), method: :post) do |f| %>
    <!--
    <% if @purchase_order.errors.any? %>
                                                                                                    <div id="error_explanation">
                                                                                                        <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

                                                                                                        <ul>
      <% @purchase_order.errors.full_messages.each do |msg| %>
                                                                                                                                                                                                          <li><%= msg %></li>
      <% end %>
                                                                                                        </ul>
                                                                                                    </div>
    <% end %>
    -->
    <%= f.hidden_field :receiving_po %>
    <%= f.fields_for :received_purchase_orders do |received_purchase_order_form| %>
      <% if received_purchase_order_form.object.new_record? %>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                PO Number
            </label>
            <div class="col-sm-10 form-control hidden-box">
                <%= @purchase_order.number %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                To
            </label>
            <div class="col-sm-10 form-control hidden-box">
                <%= @purchase_order.vendor.name if @purchase_order.vendor %>
            </div>
        </div>
        <div class="form-group">
            <%= received_purchase_order_form.label :is_using_delivery_order, "Delivery Order", class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= received_purchase_order_form.radio_button :is_using_delivery_order, "yes", checked: true, class: "do-radio-button" %> Yes
                    <%= received_purchase_order_form.radio_button :is_using_delivery_order, "no", class: "do-radio-button" %> No
                  </div>
              </div>
              <div class="form-group<%= control_group_error(received_purchase_order_form.object, :delivery_order_number) %>">
                  <%= received_purchase_order_form.label :delivery_order_number, "DO Number", class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= received_purchase_order_form.text_field :delivery_order_number, size: 10, class: "form-control do-number-field" %>
                          <%= error_help_text(received_purchase_order_form.object, :delivery_order_number) %>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label"></label>
                      <div class="col-sm-10">
                          <table class="table-condensed table-responsive">
                              <tr>
                                  <td align="center">
                                      <table class="table table-condensed table-responsive table-bordered">
                                          <tbody>
                                              <tr style="text-align: center">
                                                  <td style="vertical-align: middle"><strong>No</strong></td>
                                                  <td style="vertical-align: middle"><strong>Article Code</strong></td>
                                                  <td style="vertical-align: middle"><strong>Details</strong></td>
                                              </tr>
                                              <% number = 1 %>
                                              <%= received_purchase_order_form.fields_for :received_purchase_order_products do |received_purchase_order_product_form| %>
                                                <%= received_purchase_order_product_form.hidden_field :purchase_order_product_id %>
                                                <% received_purchase_order_product = received_purchase_order_product_form.object %>
                                                <% purchase_order_product = received_purchase_order_product.purchase_order_product %>
                                                <% colors = purchase_order_product.colors rescue [] %>
                                                <% sizes = purchase_order_product.sizes rescue [] %>
                                                <tr align="center">
                                                    <td style="vertical-align: middle"><%= number %></td>
                                                    <td style="vertical-align: middle"><%= purchase_order_product.product.code if purchase_order_product.product %></td>
                                                    <td style="vertical-align: middle">                                    
                                                        <table class="table table-condensed table-responsive table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="2" rowspan="2"></td>
                                                                    <td align="center" colspan="<%= sizes.length %>">Sizes</td>
                                                                </tr>
                                                                <tr>
                                                                    <% sizes.each do |size| %>
                                                                      <td align="center"><%= size.size %></td>
                                                                    <% end %>
                                                                </tr>                                            
                                                                <% colors.each_with_index do |color, idx| %>
                                                                  <tr>
                                                                      <% if idx == 0 %>
                                                                        <td style="vertical-align: middle" rowspan="<%= colors.length %>">Colors</td>
                                                                      <% end %>
                                                                      <td style="vertical-align: middle">
                                                                          <%= color.code %>
                                                                      </td>
                                                                      <% sizes.each do |size| %>              
                                                                        <td style="vertical-align: middle">
                                                                            <%= received_purchase_order_product_form.fields_for :received_purchase_order_items do |received_purchase_order_item_form| %>
                                                                              <% received_purchase_order_item = received_purchase_order_item_form.object %>
                                                                              <% purchase_order_detail = received_purchase_order_item.purchase_order_detail %>
                                                                              <% if purchase_order_detail.size_id.eql?(size.id) && purchase_order_detail.color_id.eql?(color.id) %>
                                                                                <%= received_purchase_order_item_form.hidden_field :purchase_order_detail_id %>
                                                                                <div class="<%= control_group_error(received_purchase_order_item, :quantity) %>">
                                                                                    <%= received_purchase_order_item_form.text_field :quantity, placeholder: "quantity", class: "quantity form-control quantity-fields", size: 16 %>
                                                                                      <%= error_help_text(received_purchase_order_item, :quantity) %>
                                                                                  </div>
                                                                                <% end %>
                                                                              <% end %>
                                                                          </td>
                                                                        <% end %>
                                                                    </tr>
                                                                  <% end %>
                                                              </tbody>
                                                          </table>
                                                      </td>
                                                  </tr>
                                                  <% number += 1 %>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>                                                      
                    </div>
                  <% end %>
                <% end %>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <%= f.submit "Save", data: { confirm: "This action cannot be undone\nAre you sure?" }, class: "btn btn-default active" %>
                      </div>
                  </div>              
                <% end %>

