<table class="table table-condensed table-responsive table-bordered">
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td align="center" colspan="2"><strong>PURCHASE ORDER</strong></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><%= @purchase_order.number %></td>
                </tr>
                <tr>
                    <td>
                        <table class="table-condensed table-responsive">
                            <tr>
                                <td>To</td>
                                <td>:</td>
                                <td><%= @purchase_order.vendor.name if @purchase_order.vendor %></td>
                            </tr>
                            <tr>
                                <td>Means of Payment</td>
                                <td>:</td>
                                <td><%= "#{@purchase_order.vendor.terms_of_payment} day(s)" if @purchase_order.vendor %></td>
                            </tr>
                            <tr>
                                <td>Created Date</td>
                                <td>:</td>
                                <td><%= @purchase_order.created_at.strftime("%d/%m/%Y") %></td>
                            </tr>
                            <tr>
                                <td>Delivery Date</td>
                                <td>:</td>
                                <td><%= @purchase_order.request_delivery_date.strftime("%d/%m/%Y") if @purchase_order.request_delivery_date.present? %></td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top">
                        <table align="right" class="table-condensed table-responsive">
                            <tr>
                                <td>Warehouse</td>
                                <td>:</td>
                                <td><%= @purchase_order.warehouse.code if @purchase_order.warehouse %></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>:</td>
                                <td><%= @purchase_order.warehouse.address if @purchase_order.warehouse %></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <table class="table table-condensed table-responsive table-bordered">
                            <tbody>
                                <tr style="text-align: center">
                                    <td><strong>No</strong></td>
                                    <td><strong>Warehouse Name</strong></td>
                                    <td><strong>Article Code</strong></td>
                                    <td><strong>Quantity</strong></td>
                                    <td><strong>Total Quantity</strong></td>
                                    <td><strong>Unit Cost</strong></td>
                                    <td><strong>Total Cost</strong></td>
                                </tr>
                                <% @purchase_order.purchase_order_products.each_with_index do |po_product, idx| %>
                                  <tr align="center">
                                      <td style="vertical-align: middle"><%= idx.succ %></td>
                                      <td style="vertical-align: middle"><%= po_product.warehouse.name if po_product.warehouse %></td>
                                      <td style="vertical-align: middle"><%= po_product.product.code if po_product.product %></td>
                                      <td style="vertical-align: middle">
                                          <table class="table table-condensed table-responsive table-bordered">
                                              <tbody>
                                                  <tr>
                                                      <td colspan="2" rowspan="2"></td>
                                                      <td align="center" colspan="<%= po_product.sizes.length %>">Sizes</td>
                                                  </tr>
                                                  <tr>
                                                      <% po_product.sizes.each do |size| %>
                                                        <td align="center"><%= size.size %></td>
                                                      <% end %>
                                                  </tr>
                                                  <% po_product.colors.each_with_index do |color, idx| %>
                                                    <tr align="center">
                                                        <% if idx == 0 %>
                                                          <td style="vertical-align: middle" rowspan="<%= po_product.colors.length %>">Colors</td>
                                                        <% end %>
                                                        <td align="center"><%= color.code %></td>
                                                        <% po_product.sizes.each do |size| %>
                                                          <% po_detail = po_product.purchase_order_details.select{ |pod| pod.color.eql?(color) && pod.size.eql?(size) }.first %>
                                                          <td>
                                                              <% if po_detail %>
                                                                <%= po_detail.quantity %>
                                                              <% end %>
                                                          </td>
                                                        <% end %>
                                                    </tr>
                                                  <% end %>
                                              </tbody>
                                          </table>
                                      </td>
                                      <td align="right" style="vertical-align: middle"><%= po_product.total_quantity %></td>
                                      <td align="right" style="vertical-align: middle">
                                          <%= number_to_currency(po_product.product.cost,
                                            :separator => ",",
                                            :delimiter => ".",
                                            :unit => "Rp",
                                            :precision => 2) %>
                                      </td>
                                      <td align="right" style="vertical-align: middle">
                                          <%= number_to_currency(po_product.total_cost,
                                            :separator => ",",
                                            :delimiter => ".",
                                            :unit => "Rp",
                                            :precision => 2) %>
                                      </td>
                                  </tr>
                                <% end %>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<%= link_to 'Receive', receive_purchase_order_path(@purchase_order), class: "btn btn-default active" %>
  <%= link_to 'Edit', edit_purchase_order_path(@purchase_order), class: "btn btn-default active" %>
