<%= form_for(@counter_event, remote: true, html: {class: "form-horizontal"}) do |f| %>
<%= hidden_field_tag "counter_event_type", "special price" %>
<%= f.hidden_field :counter_event_type, value: "Special Price" %>
<div class="form-group<%= control_group_error(@counter_event, :code) %>">

  <%= f.label :code, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :code, class: "form-control upcase inputs", id: "counter_event_code_special_price" %>
    <%= error_help_text(@counter_event, :code) %>
  </div>

</div>
<div class="form-group<%= control_group_error(@counter_event, :name) %>">
  <%= f.label :name, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: "form-control inputs" %>
    <%= error_help_text(@counter_event, :name) %>
  </div>
</div>

<div class="form-group<%= control_group_error(@counter_event, :start_time) %>">
  <%= f.label :start_time, "Start time", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :start_time, size: 10, readonly: true, class: "form-control", id: "counter_event_start_time_special_price" %>
    <%= error_help_text(@counter_event, :start_time) %>
  </div>
</div>

<div class="form-group<%= control_group_error(@counter_event, :end_time) %>">
  <%= f.label :end_time, "End time", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :end_time, size: 10, readonly: true, class: "form-control", id: "counter_event_end_time_special_price" %>
    <%= error_help_text(@counter_event, :end_time) %>
  </div>
</div>

<div class="form-group<%= control_group_error(@counter_event, :special_price) %>">
  <%= f.label :special_price, "Price", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :special_price, "data-a-sep" => ".",
    "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16, class: "form-control" %>
    <%= error_help_text(@counter_event, :special_price) %>
  </div>
</div>
<div class="form-group<%= control_group_error(@counter_event, :margin) %>">
    <%= f.label :margin, "Margin", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :margin, size: 10, class: "form-control quantity-fields discount-fields" %>
      <%= error_help_text(@counter_event, :margin) %>
    </div>
  </div>

   <div class="form-group<%= control_group_error(@counter_event, :participation) %>">
    <%= f.label :participation, "Participation", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :participation, size: 10, class: "form-control quantity-fields discount-fields" %>
      <%= error_help_text(@counter_event, :participation) %>
    </div>
  </div>



<div class="form-group">
  <label class="col-sm-2 control-label">Warehouses</label>
  <div class="col-sm-10">
    <table id="listing_event_warehouses_table_special_price" class="display">
      <thead>
        <tr>
          <th></th>
          <th id="code_th_sp">Code</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @warehouses.each do |warehouse| %>
          <tr id="warehouse_<%= warehouse.id %>_special_price">
            <td></td>
            <td><%= warehouse.code %></td>
            <td><%= warehouse.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>



<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Save", class: "btn btn-primary", id: "submit-btn-special-price" %>
    <button class="btn btn-link cancel">Cancel</button>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(function () {
    $("#counter_event_start_time_special_price, #counter_event_end_time_special_price").datetimepicker({
      format: "dd/mm/yyyy hh:ii",
      autoclose: true,
      minuteStep: 1
    });
    
    var counter_eventWarehousesSpecialPriceDataTable = $('#listing_event_warehouses_table_special_price').DataTable({
      order: [1, 'asc'],
      dom: 'T<"clear">lfrtip',
      columns: [
      {data: null, defaultContent: '', orderable: false},
      {data: 'code'},
      {data: 'name'}
      ],
      tableTools: {
        sRowSelect: 'os',
        aButtons: ['select_all', 'select_none']
      },
      paging: false,
      info: false,
      scrollY: "250px",
      scrollCollapse: true
    });
    var warehouse_ids = [];
    
     
    var selectedColorFields = <%= @counter_event.counter_event_warehouses.pluck(:warehouse_id) %>;
    
    $.each(selectedColorFields, function (index, value) {
      var selectedColorId = selectedColorFields[index];
      if (selectedColorId != "") {
          var e = jQuery.Event("click");
          e.ctrlKey = true;
          var clickRowProcessId = setInterval(function () {
              if (!$("#warehouse_" + selectedColorId + "_special_price").hasClass("DTTT_selected") || !$("#warehouse_" + selectedColorId + "_special_price").hasClass("selected")) {
                  $("#warehouse_" + selectedColorId + "_special_price").find("td:first-child").trigger(e);
              } else
                  clearInterval(clickRowProcessId);
          }, 0);
        }
    });
    
    $('#counter_event_special_price').autoNumeric('init');

    $("#form_container_special_price form").submit( function(e) {

    var w_ids = <%= @counter_event.new_record? ? @warehouses.pluck(:id) : @counter_event.counter_event_warehouses.pluck(:warehouse_id) %>;
    $.each(w_ids, function (index, value) {
      var whs = w_ids[index];
      if ($("#warehouse_" + whs + "_special_price").hasClass("DTTT_selected") || $("#warehouse_" + whs +"_special_price").hasClass("selected")) {
          warehouse_ids.push(whs);
      }         
    });

      warehouse_ids = $.unique( warehouse_ids );
      $('<input />').attr('type', 'hidden')
          .attr('name', "warehouse_ids")
          .attr('value', warehouse_ids)
          .appendTo('form');
      return true;
    });

    
    $('#counter_event_code_special_price').on("input", function () {
      $(this).val($(this).val().replace(/ /g, ""));
    });
  });
</script>  