<td><%= object.document_number %></td>
<td id="returned-receipt-number-<%= object.id %>"><%= object.transaction_number rescue nil %></td>
<td><%= object.created_at.strftime("%d/%m/%Y") %></td>
<td><%= object.total_return_quantity %></td>
<td><%= number_to_currency(object.total_return, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
<td class="actions" style="text-align: right">
    <%= link_to_if(can?(:read, SalesReturn), content_tag(:i, "", :class => "glyphicon glyphicon-share-alt"), sales_return_path(object), :remote => true, :method => :get, title: "Show" ) %>
</td>
