<td colspan="6">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>

    <dl class="dl-horizontal">
        <dt>Transaction Number</dt>
        <dd><%= object.document_number %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Receipt Number</dt>
        <dd><%= object.transaction_number %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Transaction Date</dt>
        <dd><%= object.created_at.to_date.strftime("%d/%m/%Y") %></dd>
    </dl>


    <dl class="dl-horizontal">
        <dt>Total</dt>
        <dd><%= number_to_currency(object.total_return, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Quantity</dt>
        <dd><%= object.total_return_quantity %></dd>
    </dl>


    <% sale_return_products = object.sales_return_products.joins(sale_product: [product_barcode: [:size, product_color: [:color, [product: :brand]]]]).
      select(:reason, "product_barcodes.barcode", "brands_products.name AS product_name", "products.code AS product_code", "common_fields.code AS color_code", "common_fields.name AS color_name", "sizes.size AS product_size", "sale_products.total AS subtotal") %>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Barcode</th>
                <th>Product</th>
                <th>Color</th>
                <th>Size</th>
                <th>Net Price</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            <% sale_return_products.each_with_index do |sale_return_product, index| %>
              <tr>
                  <td style="vertical-align: middle"><%= index + 1 %></td>
                  <td style="vertical-align: middle"><%= sale_return_product.barcode %></td>
                  <td><%= "#{sale_return_product.product_code} - #{sale_return_product.product_name}" %></td>
                  <td><%= "#{sale_return_product.color_code} - #{sale_return_product.color_name}" %></td>
                  <td><%= sale_return_product.product_size %></td>
                  <td><%= number_to_currency(sale_return_product.subtotal, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                  <td>
                      <%= sale_return_product.reason %>
                  </td>
              </tr>
            <% end %>
        </tbody>
    </table>

</td>
