
<%= form_tag(incentives_path, remote: true, class: "form-horizontal", method: :get) do %>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Incentive</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div>
                        <div class="form-group">
                            <%= label_tag :incentive_spg, "SPG", class: "col-sm-2 control-label" %>
                              <div class="col-sm-10">
                                  <%= select_tag :incentive_spg, content_tag(:option, 'ALL', value: "ALL") + options_from_collection_for_select(SalesPromotionGirl.select(:name).where(warehouse_id: current_user.sales_promotion_girl.warehouse_id, role: "spg").order(:name), :name, :name), {include_blank: true, class: "form-control"} %>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= label_tag :incentive_transaction_date, "Transaction date", class: "col-sm-2 control-label" %>
                                  <div class="col-sm-10">
                                      <%= text_field_tag :incentive_transaction_date, "", class: "form-control", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <%= label_tag :calculate_by, "Calculate by", class: "col-sm-2 control-label" %>
                                      <div class="col-sm-10">
                                          <%= select_tag :calculate_by, options_for_select(Incentive::CALCULATE_TYPES, nil), {include_blank: true, class: "form-control"} %>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <%= submit_tag "Print", class: "btn btn-primary", style: "float: right", id: "btn-print-incentive" %>
                                      <%= submit_tag "Show", class: "btn btn-primary", style: "float: right", id: "btn-show-incentive" %>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>        
                  <% end %>
                  <div id="incentive-list-container"></div> 