<% @stock_mutation_products.each do |stock_mutation_product| %>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <table border="1" class="product-table table table-condensed table-responsive table-bordered" style="table-layout: fixed;width: 100%">
              <tr style="text-align: center">
                  <td style="vertical-align: middle;width: 20% !important;"><strong>Product code</strong></td>
                  <td style="vertical-align: middle;width: auto !important;"><strong>Color X Size</strong></td>
              </tr>
              <%= fields_for "stock_mutation[stock_mutation_products_attributes][#{stock_mutation_product.product_id}]", stock_mutation_product do |stock_mutation_product_fields| %>
                <%= stock_mutation_product_fields.hidden_field :product_id, class: "stock-mutation-product-id-fields" %>
                  <%= stock_mutation_product_fields.hidden_field :product_code, value: stock_mutation_product.code %>
                  <%= stock_mutation_product_fields.hidden_field :product_name, value: stock_mutation_product.brand_name %>
                  <%= stock_mutation_product_fields.hidden_field :id %>
                  <% colors = @product_colors[stock_mutation_product.product_id] %>
                  <% sizes = @product_sizes[stock_mutation_product.product_id] %>
                  <% stock_mutation_product_items = stock_mutation_product_fields.object.stock_mutation_product_items %>

                  <tr style="text-align: center">
                      <td style="vertical-align: middle;width: 20% !important;">
                          <%= "#{stock_mutation_product.code} - #{stock_mutation_product.brand_name}" %>
                      </td>
                      <td style="width: auto !important;">
                          <div class="table-responsive">
                              <table border="1" class="table table-condensed table-responsive table-bordered">
                                  <tr style="text-align: center">
                                      <td></td>
                                      <% sizes.each do |size| %>
                                        <td align="center" style="vertical-align: middle">
                                            <%= size.size %>
                                        </td>
                                      <% end %>
                                  </tr>

                                  <% colors.each_with_index do |color, idx| %>                          
                                    <tr style="text-align: center">
                                        <td style="vertical-align: middle" align="center"><%= "#{color.code} - #{color.name}" %></td>
                                        <% sizes.each do |size| %>
                                          <% stock_mutation_product_item = stock_mutation_product_items.select{|smpi| smpi.size_id == size.id && smpi.color_id == color.id}.first %>
                                          <% if stock_mutation_product_item.present? %>
                                            <td align="center" style="vertical-align: middle">
                                                <%= fields_for "stock_mutation[stock_mutation_products_attributes][#{stock_mutation_product.product_id}][stock_mutation_product_items_attributes][#{size.id}#{color.id}]", stock_mutation_product_item do |smpi_form| %>
                                                  <% unless smpi_form.object.new_record? %>                                    
                                                    <%= smpi_form.hidden_field :id %>
                                                  <% end %>
                                                  <%= smpi_form.hidden_field :size_id %>
                                                  <%= smpi_form.hidden_field :color_id %>
                                                  <%= smpi_form.hidden_field :_destroy %>
                                                  <div class="<%= control_group_error(smpi_form.object, :quantity) %>">
                                                      <table cellpadding="0" cellspacing="0">
                                                          <tr>
                                                              <td><%= smpi_form.text_field :quantity, placeholder: "qty", class: "quantity-#{stock_mutation_product.product_id}-#{size.id} quantity-#{stock_mutation_product.product_id} quantity form-control quantity-fields", size: 16, style: "width: 50px !important" %></td>
                                                            </tr>
                                                        </table>                                                
                                                        <%= error_help_text(smpi_form.object, :quantity) %>
                                                    </div>
                                                  <% end %>
                                              </td>
                                            <% else %>
                                              <td></td>
                                            <% end %>
                                          <% end %>
                                      </tr>
                                    <% end %>              
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <td style="vertical-align: middle;" colspan="2" align="left">
                            <%= stock_mutation_product_fields.check_box :_destroy %> Delete
                        </td>
                    </tr>
                  <% end %>
              </table>
          </div>
      </div>
    <% end %>

    <script>
      $(function () {
          $(".quantity").numeric({
              decimal: false,
              negative: false
          }, function () {
              alert("Positive integers only");
              this.value = "";
              this.focus();
          });
      });
    </script>