<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-store-to-warehouse-receipt-thead">
        <tr>
            <th class="col-md-4"><%= smart_listing.sortable "Number", "number" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Delivery Date", "delivery_date" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Received At", "received_date" %></th>
            <th class="col-md-1"><%= smart_listing.sortable "Qty", "quantity" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Courier Cost", "courier_cost" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |stock_mutation| %>
          <tr class="editable" data-id="<%= stock_mutation.id %>">
              <%= smart_listing.render object: stock_mutation, partial: "stock_mutations/stock_mutation_warehouse_receipt", locals: {object: stock_mutation} %>
          </tr>
        <% end %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-store-to-warehouse-receipt-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-store-to-warehouse-receipt-thead").show();
      }
  }, 0);
</script>