<td><%= object.number %></td>
<td><%= object.delivery_date.strftime("%d/%m/%Y") %></td>
<td><%= object.received_date.strftime("%d/%m/%Y") if object.received_date.present? %></td>
<td id="total-sm-quantity-<%= object.id %>"><%= object.quantity %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, stock_mutation_path(object), data: {remote: true}, title: "Show" %>
<%#= link_to_if(can?(:manage, Shipment) && object.received_date.nil?, content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete" ) %>
</td>
