<td><%= object.number %></td>
<td><%= object.delivery_date.strftime("%d/%m/%Y") %></td>
<td><%= object.approved_date.strftime("%d/%m/%Y") if object.approved_date.present? %></td>
<td><%= object.received_date.strftime("%d/%m/%Y") if object.received_date.present? %></td>
<td><%= object.quantity %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, show_store_to_store_receipt_stock_mutation_path(id: object.id), data: {remote: true}, title: "Show" %>
    <%= link_to_if(can?(:receive, StockMutation) && object.received_date.nil?, content_tag(:i, "", :class => "glyphicon glyphicon-download-alt"), "javascript:receiveStoreToStoreInventory('#{object.id}')", title: "Receive" ) %>
    <%= link_to_if(can?(:change_receive_date, StockMutation) && object.received_date.present? && !object.is_receive_date_changed, content_tag(:i, "", :class => "glyphicon glyphicon-calendar"), "javascript:changeReceiveStoreToStoreInventoryDate('#{object.id}')", title: "Change receive date" ) %>
</td>
