<td><%= object.number %></td>
<td><%= object.delivery_date.strftime("%d/%m/%Y") %></td>
<td><%= object.received_date.strftime("%d/%m/%Y") if object.received_date.present? %></td>
<td><%= object.quantity %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, show_store_to_warehouse_receipt_stock_mutation_path(id: object.id), data: {remote: true}, title: "Show" %>
    <%= link_to_if(can?(:receive_to_warehouse, StockMutation) && object.received_date.nil?, content_tag(:i, "", :class => "glyphicon glyphicon-download-alt"), "javascript:receiveStoreToWarehouseInventory('#{object.id}')", title: "Receive" ) %>
</td>
