<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th class="text-center" colspan="12"><%= "#{Date::MONTHNAMES[@selected_date.month]} #{@selected_date.year}" %> - <%= "#{@warehouse.code}, #{@warehouse.name}" %></th>
            </tr>
            <tr>
                <th class="text-center" rowspan="2">Article</th>
                <th class="text-center" rowspan="2">Size</th>
                <th class="text-center" rowspan="2">Color</th>
                <th class="text-center" rowspan="2">Beginning Stock</th>
                <th class="text-center" rowspan="2">Rec. PO</th>
                <th class="text-center" rowspan="2">Ret. PO</th>
                <th class="text-center" rowspan="2">DO</th>
                <th class="text-center" rowspan="2">RW</th>
                <th class="text-center" colspan="2">Rolling</th>
                <th class="text-center" rowspan="2">Sales</th>
                <th class="text-center" rowspan="2">Ending Stock</th>
            </tr>
            <tr>
                <th class="text-center">In</th>
                <th class="text-center">Out</th>
            </tr>
        </thead>
        <tbody>
            <% @stock_movement_transactions.each do |stock_movement_transaction| %>
              <% stock_movement_product_detail = StockMovementProductDetail.joins(:color, :size, [stock_movement_product: [product: :brand]]).select(:color_id, :size_id).select("product_id, common_fields.code AS color_code, common_fields.name AS color_name, size AS product_size, products.code AS product_code, brands_products.name AS product_name").where(id: stock_movement_transaction.stock_movement_product_detail_id).first %>
              <tr>
                  <td><%= "#{stock_movement_product_detail.product_code} - #{stock_movement_product_detail.product_name}" %></td>
                  <td class="text-right"><%= stock_movement_product_detail.product_size %></td>
                  <td><%= "#{stock_movement_product_detail.color_code} - #{stock_movement_product_detail.color_name}" %></td>
                  <td class="text-right">
                      <% previous_stock_movement_transaction = @previous_stock_movement_transactions.select do |psmt|
                        previous_stock_movement_product_detail = StockMovementProductDetail.joins(:stock_movement_product).select(:color_id, :size_id).select("product_id").where(id: psmt.stock_movement_product_detail_id).first
                        previous_stock_movement_product_detail.product_id == stock_movement_product_detail.product_id && previous_stock_movement_product_detail.color_id == stock_movement_product_detail.color_id && previous_stock_movement_product_detail.size_id == stock_movement_product_detail.size_id
                        end.first %>
                      <% if previous_stock_movement_transaction.present? %>
                        <% if @warehouse.warehouse_type.eql?("central") %>                                             
                          <%= beginning_stock = previous_stock_movement_transaction.total_po_quantity_received - previous_stock_movement_transaction.total_pr_quantity_returned - previous_stock_movement_transaction.total_do_quantity_delivered + previous_stock_movement_transaction.total_stock_return_quantity_received %>
                          <% ending_stock = beginning_stock + stock_movement_transaction.total_po_quantity_received - stock_movement_transaction.total_pr_quantity_returned - stock_movement_transaction.total_do_quantity_delivered + stock_movement_transaction.total_stock_return_quantity_received %>
                        <% else %>
                          <%= beginning_stock = previous_stock_movement_transaction.total_do_quantity_received - previous_stock_movement_transaction.total_stock_return_quantity_returned + previous_stock_movement_transaction.total_stock_transfer_quantity_received - previous_stock_movement_transaction.total_stock_transfer_quantity_delivered %>
                          <% ending_stock = beginning_stock + stock_movement_transaction.total_do_quantity_received - stock_movement_transaction.total_stock_return_quantity_returned + stock_movement_transaction.total_stock_transfer_quantity_received - stock_movement_transaction.total_stock_transfer_quantity_delivered %>
                        <% end %>
                      <% else %>
                        0
                        <% if @warehouse.warehouse_type.eql?("central") %>                                             
                          <% ending_stock = stock_movement_transaction.total_po_quantity_received - stock_movement_transaction.total_pr_quantity_returned - stock_movement_transaction.total_do_quantity_delivered + stock_movement_transaction.total_stock_return_quantity_received %>
                        <% else %>
                          <% ending_stock = stock_movement_transaction.total_do_quantity_received - stock_movement_transaction.total_stock_return_quantity_returned + stock_movement_transaction.total_stock_transfer_quantity_received - stock_movement_transaction.total_stock_transfer_quantity_delivered %>
                        <% end %>
                      <% end %>
                  </td>
                  <td class="text-right"><%= stock_movement_transaction.total_po_quantity_received rescue 0 %></td>
                  <td class="text-right"><%= stock_movement_transaction.total_pr_quantity_returned rescue 0 %></th>
                  <td class="text-right">
                      <% if @warehouse.warehouse_type.eql?("central") %>
                        <%= stock_movement_transaction.total_do_quantity_delivered rescue 0 %>
                      <% else %>
                        <%= stock_movement_transaction.total_do_quantity_received rescue 0 %>
                      <% end %>
                  </td>
                  <td class="text-right">
                      <% if @warehouse.warehouse_type.eql?("central") %>
                        <%= stock_movement_transaction.total_stock_return_quantity_received rescue 0 %>
                      <% else %>
                        <%= stock_movement_transaction.total_stock_return_quantity_returned rescue 0 %>
                      <% end %>
                  </td>
                  <td class="text-right"><%= stock_movement_transaction.total_stock_transfer_quantity_received rescue 0 %></td>
                  <td class="text-right"><%= stock_movement_transaction.total_stock_transfer_quantity_delivered rescue 0 %></td>
                  <td class="text-right">0</td>
                  <td class="text-right"><%= ending_stock %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>