<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Consignment<small>Sale Entry</small></h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form class="form-horizontal" id="new_cashier_opening" action="#" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
					<div class="form-group">
						<label class="control-label col-md-2 col-xs-12" for="barcode">Transaction Date</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="input-group">
								<input type="text" id="datepicker" class="form-control col-md-12 col-xs-12">
								
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2 col-xs-12" for="barcode">Event</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="input-group">
								<select class="form-control col-md-12 col-xs-12" name="type">
									<option value="normal" <%= is_selected(params[:type], "normal") %>>Normal</option>
									<option value="discount_first_and_second" <%= is_selected(params[:type], "discount_first_and_second") %> >Discount first & second</option>
									<option value="discount_first" <%= is_selected(params[:type], "discount_first") %>>Discount first</option>
									<option value="special_price" <%= is_selected(params[:type], "special_price") %>>Special Price</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-2 col-xs-12" for="barcode">Barcode</label>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="input-group">
								<input type="text" id="barcode2" class="form-control col-md-7 col-xs-12" style="width: 100%">
								<span class="input-group-btn">
									<button type="button" class="btn btn-primary" style="margin-bottom: 0px !important" id="search-barcode-btn2">
										<span class="glyphicon glyphicon-plus"></span> Add
									</button>
									<button type="button" class="btn btn-primary" style="margin-bottom: 0px !important" id="search-sale-product-btn2">
										<span class="glyphicon glyphicon-search"></span> Search
									</button>
								</span>
							</div>
						</div>
					</div>

					<div id="listing-purchased-products">
						<div id="purchased_products_datatable">
							<div id="listing_purchased_products_table_wrapper" class="dataTables_wrapper">
								<div class="DTTT_container"></div>
								<div class="clear"></div>
								<%= render_table_with_type(params[:type]) %>
							</div>
						</div>


						<style>
						#listing_purchased_products_table_filter label {
							font-weight: normal;
						}

						#listing_purchased_products_table_wrapper .DTTT_container {
							position: absolute
						}
					</style></div>


					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-sm-offset-10 col-sm-2">
							<input type="submit" name="commit" value="Submit" class="btn btn-primary" id="cashier_opening_submit_button" data-disable-with="Open">
						</div>
					</div>
				</form>
			</div>				
		</div>
	</div>
</div>

<div class="bootbox modal bootboxsearch" tabindex="-1" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button><h4 class="modal-title">Search Product</h4></div><div class="modal-body"><div class="bootbox-body"><div id="searchSaleProductForm" class="form-horizontal search-sale-product-form" style="">
	<div class="form-group">
		<label class="col-xs-3 control-label">Product Code</label>
		<div class="col-xs-5">
			<input type="text" name="sale_product_code" id="sale_product_code" value="" class="form-control upcase">
		</div>
	</div>

	<div id="sale_product_color_field_container"><div class="form-group">
		<label class="col-xs-3 control-label">Color</label>
		<div class="col-xs-5">
			<select name="sale_product_color" id="sale_product_color" class="form-control" data-placeholder="Select" style="display: none;"><option value="" label=" "></option><option value="6">RD - Red</option>
				<option value="7">GRN - Green</option>
				<option value="8">BL - Blue</option>
				<option value="9">BLK - Black</option>
				<option value="11">WHT - White</option></select><div class="chosen-container chosen-container-single" style="width: 200px;" title="" id="sale_product_color_chosen"><a class="chosen-single"><span>RD - Red</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"><li class="active-result result-selected" data-option-array-index="1" style="">RD - Red</li><li class="active-result" data-option-array-index="2" style="">GRN - Green</li><li class="active-result" data-option-array-index="3" style="">BL - Blue</li><li class="active-result" data-option-array-index="4" style="">BLK - Black</li><li class="active-result" data-option-array-index="5" style="">WHT - White</li></ul></div></div>
			</div>
		</div></div>

		<div id="sale_product_size_field_container"><div class="form-group">
			<label class="col-xs-3 control-label">Size</label>
			<div class="col-xs-5">
				<select name="sale_product_size" id="sale_product_size" class="form-control" data-placeholder="Select" style="display: none;"><option value="" label=" "></option><option value="19">L</option>
					<option value="18">M</option>
					<option value="17">S</option>
					<option value="20">XL</option></select><div class="chosen-container chosen-container-single" style="width: 200px;" title="" id="sale_product_size_chosen"><a class="chosen-single"><span>L</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"><li class="active-result result-selected" data-option-array-index="1" style="">L</li><li class="active-result" data-option-array-index="2" style="">M</li><li class="active-result" data-option-array-index="3" style="">S</li><li class="active-result" data-option-array-index="4" style="">XL</li></ul></div></div>
				</div>
			</div></div>

			<div class="form-group">
				<div class="col-xs-5 col-xs-offset-3">
					<button type="button" class="btn btn-primary" id="modal_form_btn_add_product">
						<span class="glyphicon glyphicon-plus"></span> Add
					</button>
				</div>
			</div>
		</div></div></div></div></div></div>
		<% content_for :bottom_assets do %>
		<script type="text/javascript">
			function sum_subtotal(){
				var sum = 0;
				$(".p_price").each(function() {

					var value = $(this).text().replace('Rp', '').replace('.', '').replace(',00', '');
				    // add only if the value is number
				    if(!isNaN(value) && value.length != 0) {
				    	sum += parseFloat(value);
				    }
				  });

				$("#total-sale").text(sum)

				$("#total-sale").toCurrency({
				  precision: 2, // decimal precision
				  delimiter: ".", // thousands delimiter
				  separator: ",", // decimal separator
				  unit: "Rp", // unit
				  format: "%u%n", // format. %u is the placeholder for the unit, %n for the number
				  negativeFormat: false   // format for negative numbers. If false, it defaults to the same format as positive numbers
				});
			}

			function sum_discount_one_two(){
				$(".discount_one_two").each(function() {

					var value = $(this).text().replace('%', '').replace('%', '').split(" + ");
					var ori_price = $(this).parent().find(".ori_price").text().replace('Rp', '').replace('.', '').replace(',00', '');
					discount_one = value[0];
					discount_two = value[1];

					discount_one_res = (ori_price * discount_one / 100);

					var sum = ori_price - (discount_one_res + (discount_one_res * discount_two / 100));

					$(this).parent().find(".p_price").text( parseFloat(sum));

					$(this).parent().find(".p_price").toCurrency({
						  precision: 2, // decimal precision
						  delimiter: ".", // thousands delimiter
						  separator: ",", // decimal separator
						  unit: "Rp", // unit
						  format: "%u%n", // format. %u is the placeholder for the unit, %n for the number
						  negativeFormat: false   // format for negative numbers. If false, it defaults to the same format as positive numbers
						});
				});				
			}

			function sum_discount_one(){
				$(".discount_one").each(function() {

					var value = $(this).text().replace('%', '').replace('%', '').split(" + ");
					var ori_price = $(this).parent().find(".ori_price").text().replace('Rp', '').replace('.', '').replace(',00', '');
					discount_one = value[0];
					discount_one_res = (ori_price * discount_one / 100);
					var sum = ori_price - discount_one_res;

					$(this).parent().find(".p_price").text( parseFloat(sum));				    
					$(this).parent().find(".p_price").toCurrency({
						  precision: 2, // decimal precision
						  delimiter: ".", // thousands delimiter
						  separator: ",", // decimal separator
						  unit: "Rp", // unit
						  format: "%u%n", // format. %u is the placeholder for the unit, %n for the number
						  negativeFormat: false   // format for negative numbers. If false, it defaults to the same format as positive numbers
						});
				});				
			}

			function sum_special_price(){
				$(".special_price").each(function() {

					var value = $(this).text().replace('Rp', '').replace('.', '').replace(',00', '').split("Special price: ")[1];

					$(this).parent().find(".p_price").text( parseFloat(value));				    
					$(this).parent().find(".p_price").toCurrency({
						  precision: 2, // decimal precision
						  delimiter: ".", // thousands delimiter
						  separator: ",", // decimal separator
						  unit: "Rp", // unit
						  format: "%u%n", // format. %u is the placeholder for the unit, %n for the number
						  negativeFormat: false   // format for negative numbers. If false, it defaults to the same format as positive numbers
						});
				});				
			}

			$(function () {
				sum_discount_one_two();
				sum_discount_one();
				sum_special_price();
				sum_subtotal();
				$(".bootboxsearch").modal('hide');

				$("#datepicker").datetimepicker({
					format: "dd/mm/yyyy hh:ii",
					autoclose: true,
					minuteStep: 1
				});
				$("a#menu_toggle").click();
				$("#search-barcode-btn").click(function () {
					if($("#barcode2").val() == "0000001"){
						$("#barcode2").blur();
						$.get("/fake_consignment_sale/get_product.js", {
							barcode: $("#barcode2").val().trim()
						});

					}else{
						bootbox.alert({message: "Product is not available", size: "small"});    		
					}        
				});

				$('#search-sale-product-btn2').on('click', function () {
					$(".bootboxsearch").modal('show');
				});

			});

			$("select[name='type']").change(function(){
				document.location = '/consignments/new?type='+ $(this).val()
			});
			
		</script>	        
		<% end %>