<!--<div class="table-responsive">-->
<table class="table table-striped table-bordered" style="padding-bottom: 1px; word-wrap: break-word">
    <thead>
        <% if params[:date].present? %>
          <tr>
              <th colspan="13" style="background-color: rgba(52,152,219,.88); color: #ffffff" class="text-center">
                  System will update ending stock once user approved transaction
              </th>
          </tr>
        <% end %>
        <tr><th colspan="13" class="text-center">
                <% if params[:date].present? %>
                  <%= "#{params[:counter_type].strip}: #{(params[:date].to_date - 1.year).strftime("%d %B %Y")}" %> VS <%= "#{params[:date].to_date.strftime("%d %B %Y")}" %>
                <% else %>
                  <%= "#{params[:counter_type].strip}: #{Date::MONTHNAMES[params[:month].to_i]} #{params[:year].to_i - 1}" %> VS <%= "#{Date::MONTHNAMES[params[:month].to_i]} #{params[:year]}" %>
                <% end %>
            </th></tr>
        <tr>
            <th class="text-center" style="vertical-align: middle" rowspan="2">Region</th>
            <th class="text-center" style="vertical-align: middle" rowspan="2">Counter</th>
            <th class="text-center" colspan="3">Net Sales</th>
            <th class="text-center" colspan="3">Qty Sold</th>
            <th class="text-center" colspan="3">AUR</th>
            <% unless params[:date].present? %>
              <th class="text-center" style="vertical-align: middle" rowspan="2">Target</th>
              <th class="text-center" style="vertical-align: middle" rowspan="2">Ach</th>
            <% end %>
            <th class="text-center" style="vertical-align: middle" rowspan="2">Ending Stock</th>
        </tr>
        <tr>
            <% if params[:date].present? %>
              <th class="text-center"><%= (params[:date].to_date - 1.year).year %></th>
              <th class="text-center"><%= params[:date].to_date.year %></th>
              <th class="text-center">Growth</th>
              <th class="text-center"><%= (params[:date].to_date - 1.year).year %></th>
              <th class="text-center"><%= params[:date].to_date.year %></th>
              <th class="text-center">Growth</th>
              <th class="text-center"><%= (params[:date].to_date - 1.year).year %></th>
              <th class="text-center"><%= params[:date].to_date.year %></th>
              <th class="text-center">Growth</th>
            <% else %>
              <th class="text-center"><%= params[:year].to_i - 1 %></th>
              <th class="text-center"><%= params[:year] %></th>
              <th class="text-center"><%= params[:year].to_i - 1 %></th>
              <th class="text-center"><%= params[:year] %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% last_region_id = 0 %>
        <% @warehouses.each do |warehouse| %>
          <% if params[:date].present? %>
            <% lst = ListingStockTransaction.select("SUM(CASE WHEN listing_stock_transactions.transaction_type = 'BS' THEN listing_stock_transactions.quantity ELSE 0 END) AS bs_quantity, SUM(CASE WHEN listing_stock_transactions.transaction_type = 'DO' THEN listing_stock_transactions.quantity ELSE 0 END) AS do_quantity, SUM(CASE WHEN listing_stock_transactions.transaction_type = 'RW' THEN listing_stock_transactions.quantity ELSE 0 END) AS rw_quantity, SUM(CASE WHEN listing_stock_transactions.transaction_type = 'RGO' THEN listing_stock_transactions.quantity ELSE 0 END) AS rgo_quantity, SUM(CASE WHEN listing_stock_transactions.transaction_type = 'RGI' THEN listing_stock_transactions.quantity ELSE 0 END) AS rgi_quantity, SUM(CASE WHEN listing_stock_transactions.transaction_type = 'SLK' THEN listing_stock_transactions.quantity ELSE 0 END) AS slk_quantity").joins(listing_stock_product_detail: :listing_stock).where(["listing_stock_transactions.transaction_date <= ? AND listing_stocks.warehouse_id = ?", params[:date].to_date, warehouse.id]).first %>
          <% end %>
          <% ending_stock = (lst.bs_quantity + lst.do_quantity + lst.rgi_quantity) - (lst.rw_quantity + lst.rgo_quantity + lst.slk_quantity) rescue 0 %>
          <% total_counter_per_region = @warehouses.select{|wr| wr.region_id == warehouse.region_id}.length %>
          <% 
          percentage = if warehouse.prev_net_sales.to_f <= warehouse.selected_net_sales.to_f
            first_val = warehouse.selected_net_sales.to_f
            second_val = warehouse.prev_net_sales.to_f
            if second_val > 0
              "#{((first_val - second_val) / second_val * 100).round}%"
              elsif first_val > 0
              "100%"
              else
              "0%"
            end
            else
            first_val = warehouse.prev_net_sales.to_f
            second_val = warehouse.selected_net_sales.to_f
            "(#{((first_val - second_val) / first_val * 100).round}%)"
            end
        %>
          <% 
          qty_sold_percentage = if warehouse.prev_qty_sold <= warehouse.selected_qty_sold
            first_val = warehouse.selected_qty_sold.to_f
            second_val = warehouse.prev_qty_sold.to_f
            if second_val > 0
              "#{((first_val - second_val) / second_val * 100).round}%"
              elsif first_val > 0
              "100%"
              else
              "0%"
            end
            else
            first_val = warehouse.prev_qty_sold.to_f
            second_val = warehouse.selected_qty_sold.to_f
            "(#{((first_val - second_val) / first_val * 100).round}%)"
            end
        %>
          <% if warehouse.prev_qty_sold.to_i > 0 %>
            <% prev_aur = (warehouse.prev_net_sales.to_f / warehouse.prev_qty_sold.to_i).round %>
          <% else %>
            <% prev_aur = 0 %>
          <% end %>
          <% if warehouse.selected_qty_sold.to_i > 0 %>
            <% aur = (warehouse.selected_net_sales.to_f / warehouse.selected_qty_sold.to_i).round %>
          <% else %>
            <% aur = 0 %>
          <% end %>
          <% 
          aur_percentage = if prev_aur.to_f <= aur.to_f
            first_val = aur.to_f
            second_val = prev_aur.to_f
            if second_val > 0
              "#{((first_val - second_val) / second_val * 100).round}%"
              elsif first_val > 0
              "100%"
              else
              "0%"
            end
            else
            first_val = prev_aur.to_f
            second_val = aur.to_f
            "(#{((first_val - second_val) / first_val * 100).round}%)"
            end
        %>
          <tr>
              <% if last_region_id != warehouse.region_id %>
                <td rowspan="<%= total_counter_per_region %>" style="vertical-align: middle"><%= "#{warehouse.region_code} - #{warehouse.region_name}" %></td>
              <% end %>
              <td><%= "#{warehouse.code} - #{warehouse.name}" %></td>
              <td class="text-right"><%= number_to_currency(warehouse.prev_net_sales.to_f,
                    :separator => ",",
                    :delimiter => ".",
                    :unit => "Rp",
                    :precision => 2) %></td>
              <td class="text-right"><%= number_to_currency(warehouse.selected_net_sales.to_f,
                    :separator => ",",
                    :delimiter => ".",
                    :unit => "Rp",
                    :precision => 2) %></td>
              <td class="text-right"><%= percentage %></td>
              <td class="text-right"><%= number_to_currency(warehouse.prev_qty_sold.to_i,
                    :separator => ",",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= number_to_currency(warehouse.selected_qty_sold.to_i,
                    :separator => ",",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= qty_sold_percentage %></td>
              <td class="text-right">
                  <%= number_to_currency(prev_aur,
                    :separator => ",",
                    :delimiter => ".",
                    :unit => "Rp",
                    :precision => 2) %>
              </td>
              <td class="text-right">
                  <%= number_to_currency(aur,
                    :separator => ",",
                    :delimiter => ".",
                    :unit => "Rp",
                    :precision => 2) %>
              </td>
              <td class="text-right">
                  <%= aur_percentage %>
              </td>
              <% unless params[:date].present? %>
                <td></td>
                <td></td>
              <% end %>
              <td class="text-right"><%= number_to_currency(ending_stock.to_i,
                    :separator => ",",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
          </tr>
          <% last_region_id = warehouse.region_id %>
        <% end %>
    </tbody>
</table>
<!--</div>-->