<% @direct_purchase.direct_purchase_products.each do |dpp| %>
  <% if dpp.errors && dpp.errors.messages[:base] %>
    <span class='help-block'><%= dpp.errors.messages[:base][0] %></span>
  <% end %>

  <table border="1" class="product-table table table-condensed table-responsive table-bordered" id="product_table_<%= dpp.product_id %>" style="table-layout: fixed;width: 100%">
      <tr style="text-align: center">
          <td style="vertical-align: middle;width: 20% !important;"><strong>Product code</strong></td>
          <% if current_user.has_managerial_role? %>
            <td style="vertical-align: middle;width: 20% !important;"><strong>Cost</strong></td>
          <% end %>
          <td style="vertical-align: middle;width: auto !important;"><strong>Color X Size</strong></td>
      </tr>    
      <tr style="text-align: center">
          <td style="vertical-align: middle;width: 20% !important;">
              <%= "#{dpp.prdct_code} - #{dpp.prdct_name}" %>
          </td>
          <% if current_user.has_managerial_role? %>
            <td style="vertical-align: middle;width: 20% !important;" id="dp_product_table_cost_<%= dpp.product_id %>">
                <%= number_to_currency((dpp.dp_cost), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %>
            </td>
          <% end %>
          <td style="vertical-align: middle;width: auto !important;">
              <div class="table-responsive">
                  <% direct_purchase_product_array_index = create_direct_purchase_product_array_variable_name(dpp.product_id) %>
                  <%= fields_for direct_purchase_product_array_index, dpp do |dpp_form| %>
                    <%= dpp_form.hidden_field :product_id %>
                    <%= dpp_form.hidden_field :prdct_code %>
                    <%= dpp_form.hidden_field :dp_cost, id: "dp-cost-#{dpp.product_id}" if current_user.has_managerial_role? %>
                  <% end %>

                  <% sizes = @sizes[dpp.product_id] %>
                  <% index = 0 %>

                  <script>
                    var sizeSizes = [];
                  </script>

                  <table border="1" class="table table-condensed table-responsive table-bordered">
                      <tr style="text-align: center">
                          <th colspan="2" rowspan="2"></th>
                          <td colspan="<%= sizes.length %>" align="center"><%= text_field_tag "quantity_#{dpp.product_id}", "", {placeholder: "qty", size: 16, class: "quantity form-control quantity-fields", style: "width: 50px !important"} %></td>
                        </tr>

                        <tr style="text-align: center">
                            <% sizes.each do |size| %>
                              <td align="center"><%= size.size %><br /><%= text_field_tag "quantity_#{dpp.product_id}_#{size.size}", "", {placeholder: "qty", class: "quantity-#{dpp.product_id} quantity form-control quantity-fields", size: 16, style: "width: 50px !important"} %></td>
                              <% end %>
                          </tr>

                          <% @colors[dpp.product_id].each_with_index do |color, idx| %>                          
                            <tr style="text-align: center">
                                <td style="vertical-align: middle" colspan="2"><%= "#{color.code} - #{color.name}" %></td>                            
                                <% sizes.each do |size| %>
                                  <% if idx == 0 %>
                                <script>
                                  sizeSizes.push('<%= size.size %>');
                                </script>
                              <% end %>
                              <% direct_purchase_detail_detail = dpp.direct_purchase_details.select{|dpd| dpd.size_id.eql?(size.id) and dpd.color_id.eql?(color.id)}.first %>
                              <% direct_purchase_detail_array_index = create_direct_purchase_detail_array_variable_name(index, direct_purchase_product_array_index) %>
                              <td align="center" style="vertical-align: middle">
                                  <%= fields_for direct_purchase_detail_array_index, direct_purchase_detail_detail do |direct_purchase_detail_detail_form| %>
                                    <%= direct_purchase_detail_detail_form.hidden_field :size_id %>
                                    <%= direct_purchase_detail_detail_form.hidden_field :color_id %>
                                    <div class="<%= control_group_error(direct_purchase_detail_detail, :quantity) %>">
                                        <%= direct_purchase_detail_detail_form.text_field :quantity, placeholder: "qty", class: "quantity-#{dpp.product_id}-#{size.size} quantity-#{dpp.product_id} quantity form-control quantity-fields", size: 16, style: "width: 50px !important" %>
                                          <%= error_help_text(direct_purchase_detail_detail, :quantity) %>
                                      </div>
                                    <% end %>

                                </td>
                                <% index += 1 %>
                              <% end %>
                              </tr>
                            <% end %>              
                        </table>
                    </div>
                </td>
            </tr>
            <script>
              $.each(sizeSizes, function (index, value) {
                  $('#quantity_<%= dpp.product_id %>_' + value).keyup(function () {
                      $('.quantity-<%= dpp.product_id %>-' + value).val($('#quantity_<%= dpp.product_id %>_' + value).val());
                  });
              });
              $('#<%= "quantity_#{dpp.product_id}" %>').keyup(function () {
                  $('.quantity-<%= dpp.product_id %>').val($('#<%= "quantity_#{dpp.product_id}" %>').val());
              });
            </script>
        </table>
      <% end %>

      <script>
        $(".quantity").numeric({
            decimal: false,
            negative: false
        }, function () {
            alert("Positive integers only");
            this.value = "";
            this.focus();
        });

      </script>

