<td><%= object.code %></td>
<td><%= object.name %></td>
<td><%= object.card_type %></td>
<td class="actions" style="text-align: right">
    <%= link_to_if(can?(:manage, Bank), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_bank_path(object), :remote => true, class: :edit, method: :get, title: "Edit" ) %>
      <%= link_to_if(can?(:manage, Bank), content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete" ) %>
  </td>
