<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-notification-thead">
        <tr>
            <th class="col-md-4"><%= smart_listing.sortable "Event", "event" %></th>
            <th class="col-md-4"><%= smart_listing.sortable "Body", "body" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Created at", "notifications.created_at" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |notification| %>
          <tr class="editable" data-id="<%= notification.id %>">
              <%= smart_listing.render object: notification, partial: "notifications/notification_row", locals: {object: notification} %>
          </tr>
        <% end %>
<%#= smart_listing.item_new colspan: 4, link: new_brand_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-notification-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-notification-thead").show();
      }
  }, 0);
<%# if cannot?(:manage, Brand) %>
  /*
   $('#new-item-btn').css({'opacity': 0.0, 'cursor': 'default'});
   $('#new-item-btn').unbind("click");
   $('#new-item-btn').click(function (e) {
   return false;
   });*/
<%# end %>
</script>