<table cellspacing="0" border="1" style="border-color: #DDDDDD;border-style: solid;border-collapse: collapse">
    <tr>
        <td style="padding-top: 10px;padding-bottom: 20px;padding-right: 20px;padding-left: 20px">
            <table width="100%">
                <tr>
                    <td colspan="2" align="center"><%= image_tag image_url("one-s.jpg", host: "http://159.65.4.235/") %></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><strong>CASH DISBURSEMENT REPORT</strong></td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Store</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? "#{@cashier_opening.code} - #{@cashier_opening.name}" : "" %></td>
                            </tr>
                            <tr>
                                <td>Opened By</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.cashier_name : "" %></td>
                            </tr>
                            <tr>
                                <td>Station</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.station : "" %></td>
                            </tr>
                            <tr>
                                <td>Shift</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.shift : "" %></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Opened At</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.created_at.strftime("%d/%m/%Y %H:%M") : "" %></td>
                            </tr>
                            <tr>
                                <td>Closed At</td>
                                <td>:</td>
                                <td><%= @cashier_opening.closed_at.strftime("%d/%m/%Y %H:%M") if @cashier_opening.present? && @cashier_opening.closed_at.present? %></td>
                            </tr>
                            <tr>
                                <td>Beginning Cash</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.beginning_cash : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                            <tr>
                                <td>Cash On Hand</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.cash_balance : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <table cellspacing="0" border="1" cellpadding="5" style="border-color: white;border-style: solid;border-collapse: collapse" width="100%">
                            <tbody>
                                <tr style="text-align: center;color: white" bgcolor="#337ab7">
                                    <td><strong>No.</strong></td>
                                    <td><strong>Description</strong></td>
                                    <td><strong>Price/Amount</strong></td>
                                </tr>
                                <% sum = 0 %>
                                <% if @cashier_opening.present? %>
                                  <% @cashier_opening.cash_disbursements.each_with_index do |cash_disbursement, index| %>
                                    <% sum += cash_disbursement.price %>
                                    <tr align="center">
                                        <td style="vertical-align: middle"><%= index.succ %></td>
                                        <td style="vertical-align: middle"><%= cash_disbursement.description %></td>
                                        <td style="vertical-align: middle; text-align: right"><%= number_to_currency(cash_disbursement.price, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                                    </tr>
                                  <% end %>
                                <% end %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" align="right"><strong>Sum</strong></td>
                                    <td align="right"><strong><%= number_to_currency(sum,
                                              :separator => ",",
                                              :delimiter => ".",
                                              :unit => "Rp",
                                              :precision => 2) %></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>                    
            </table>
        </td>
    </tr>
</table>
<br>
<table cellspacing="0" border="1" style="border-color: #DDDDDD;border-style: solid;border-collapse: collapse">
    <tr>
        <td style="padding-top: 10px;padding-bottom: 20px;padding-right: 20px;padding-left: 20px">
            <table width="100%">
                <tr>
                    <td colspan="2" align="center"><%= image_tag image_url("one-s.jpg", host: "http://159.65.4.235/") %></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><strong>GENERAL SALES SUMMARY</strong></td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Store</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? "#{@cashier_opening.code} - #{@cashier_opening.name}" : "" %></td>
                            </tr>
                            <tr>
                                <td>Station</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.station : "" %></td>
                            </tr>
                            <tr>
                                <td>Shift</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.shift : "" %></td>
                            </tr>
                            <tr>
                                <td>Gross Sales</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.gross_sales : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                            <tr>
                                <td>Total Quantity</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.total_quantity : 0 %></td>
                            </tr>
                            <tr>
                                <td>Total Gift Quantity</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.total_gift_quantity : 0 %></td>
                            </tr>
                            <tr>
                                <td>Total Cash Payment</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.cash_payment : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Opened By</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.cashier_name : "" %></td>
                            </tr>
                            <tr>
                                <td>Opened At</td>
                                <td>:</td>
                                <td><%= @cashier_opening.present? ? @cashier_opening.created_at.strftime("%d/%m/%Y %H:%M") : "" %></td>
                            </tr>
                            <tr>
                                <td>Closed At</td>
                                <td>:</td>
                                <td><%= @cashier_opening.closed_at.strftime("%d/%m/%Y %H:%M") if @cashier_opening.present? && @cashier_opening.closed_at.present? %></td>
                            </tr>
                            <tr>
                                <td>Net Sales</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.net_sales : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                            <tr>
                                <td>Total Card Payment</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.card_payment : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                            <tr>
                                <td>Total Debit Card Payment</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.debit_card_payment : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                            <tr>
                                <td>Total Credit Card Payment</td>
                                <td>:</td>
                                <td><%= number_to_currency((@cashier_opening.present? ? @cashier_opening.credit_card_payment : 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <table cellspacing="0" border="1" cellpadding="5" style="border-color: white;border-style: solid;border-collapse: collapse" width="100%">
                            <tbody>
                                <tr style="text-align: center;color: white" bgcolor="#337ab7">
                                    <td><strong>Event</strong></td>
                                    <td><strong>Quantity</strong></td>
                                    <td><strong>Gross</strong></td>
                                    <td><strong>Net</strong></td>
                                </tr>
                                <% sale_products = if @cashier_opening.present?
                                  SaleProduct.joins(:price_list, :sale).
                                    joins("LEFT JOIN events ON sale_products.event_id = events.id").
                                    joins("LEFT JOIN events gift_events ON sales.gift_event_id = gift_events.id").
                                    where(["sales.cashier_opening_id = ?", @cashier_opening.id]).
                                    select(:sale_id, :quantity, "sale_products.total AS subtotal", :event_id, "sales.gift_event_id", "price_lists.price AS article_price", "events.event_type AS article_event_type", "gift_events.discount_amount AS store_discount_amount", "sales.gift_event_product_id", "events.code AS article_event_code", "gift_events.code AS store_event_code", "sales.member_discount AS sale_member_discount", "sales.transaction_number").
                                    order("sales.transaction_number ASC")
                                  else
                                []
                                  end
                              %>
                                <% sale_types = {} %>
                                <% sale_products.each do |sale_product| %>
                                  <% if sale_product.event_id.blank? && sale_product.gift_event_id.blank? %>
                                    <% if sale_types["normal"].nil? %>
                                      <% sale_types["normal"] = {} %>
                                      <% sale_types["normal"]["quantity"] = 1 %>
                                      <% sale_types["normal"]["gross"] = sale_product.article_price %>
                                      <% sale_types["normal"]["net"] = sale_product.subtotal %>
                                    <% else %>
                                      <% sale_types["normal"]["quantity"] += 1 %>
                                      <% sale_types["normal"]["gross"] += sale_product.article_price %>
                                      <% sale_types["normal"]["net"] += sale_product.subtotal %>
                                    <% end %>
                                  <% elsif sale_product.gift_event_id.blank? %>
                                    <% if sale_types[sale_product.article_event_code].nil? %>
                                      <% sale_types[sale_product.article_event_code] = {} %>
                                      <% if sale_product.article_event_type.eql?("Buy 1 Get 1 Free") %>
                                        <% sale_types[sale_product.article_event_code]["quantity"] = 2 %>
                                      <% else %>
                                        <% sale_types[sale_product.article_event_code]["quantity"] = 1 %>
                                      <% end %>
                                      <% sale_types[sale_product.article_event_code]["gross"] = sale_product.article_price %>
                                      <% sale_types[sale_product.article_event_code]["net"] = sale_product.subtotal %>
                                    <% else %>
                                      <% if sale_product.article_event_type.eql?("Buy 1 Get 1 Free") %>
                                        <% sale_types[sale_product.article_event_code]["quantity"] += 2 %>
                                      <% else %>
                                        <% sale_types[sale_product.article_event_code]["quantity"] += 1 %>
                                      <% end %>
                                      <% sale_types[sale_product.article_event_code]["gross"] += sale_product.article_price %>
                                      <% sale_types[sale_product.article_event_code]["net"] += sale_product.subtotal %>
                                    <% end %>
                                  <% else %>
                                    <% sale_product_quantity_per_transaction_number = sale_products.select{|sp| sp.transaction_number == sale_product.transaction_number}.length %>
                                    <% if sale_types[sale_product.store_event_code].nil? %>
                                      <% sale_types[sale_product.store_event_code] = {} %>
                                      <% if sale_product.gift_event_product_id.present? %>
                                        <% sale_types[sale_product.store_event_code]["quantity"] = 1 %>
                                        <% sale_types[sale_product.store_event_code]["gift_quantity"] = 1 %>
                                        <% sale_types[sale_product.store_event_code]["sale_ids"] = [] %>
                                        <% sale_types[sale_product.store_event_code]["sale_ids"] << sale_product.sale_id %>
                                      <% else %>
                                        <% sale_types[sale_product.store_event_code]["quantity"] = 1 %>
                                        <% sale_types[sale_product.store_event_code]["store_discount_amount"] = sale_product.store_discount_amount %>
                                        <% sale_types[sale_product.store_event_code]["sale_ids"] = [] %>
                                        <% sale_types[sale_product.store_event_code]["sale_ids"] << sale_product.sale_id %>
                                      <% end %>
                                      <% sale_types[sale_product.store_event_code]["gross"] = sale_product.article_price %>
                                      <%
                                      subtotal = if sale_product.gift_event_product_id.blank?
                                        if sale_product.sale_member_discount.present? && sale_product.sale_member_discount > 0
                                          subtotal_before_member_discount = (sale_product.subtotal * 100).to_f / (100 - sale_product.sale_member_discount)
                                          subtotal_after_gift_discount = subtotal_before_member_discount - (sale_product.store_discount_amount.to_f / sale_product_quantity_per_transaction_number)
                                          subtotal_after_gift_discount - subtotal_after_gift_discount * (sale_product.sale_member_discount.to_f / 100)
                                          else
                                          sale_product.subtotal - (sale_product.store_discount_amount.to_f / sale_product_quantity_per_transaction_number)
                                        end
                                        else
                                        sale_product.subtotal
                                        end
                                    %>
                                      <% sale_types[sale_product.store_event_code]["net"] = subtotal %>
                                    <% else %>
                                      <% if sale_product.gift_event_product_id.present? %>
                                        <% sale_types[sale_product.store_event_code]["quantity"] += 1 %>
                                        <% unless sale_types[sale_product.store_event_code]["sale_ids"].include? sale_product.sale_id %>
                                          <% unless sale_types[sale_product.store_event_code]["gift_quantity"].blank? %>                                
                                            <% sale_types[sale_product.store_event_code]["gift_quantity"] += 1 %>
                                          <% else %>
                                            <% sale_types[sale_product.store_event_code]["gift_quantity"] = 1 %>
                                          <% end %>
                                          <% sale_types[sale_product.store_event_code]["sale_ids"] << sale_product.sale_id %>
                                        <% else %>
                                          <% sale_types[sale_product.store_event_code]["gift_quantity"] = 1 if sale_types[sale_product.store_event_code]["gift_quantity"].blank? %>
                                        <% end %>
                                      <% else %>
                                        <% sale_types[sale_product.store_event_code]["quantity"] += 1 %>
                                        <% unless sale_types[sale_product.store_event_code]["sale_ids"].include? sale_product.sale_id %>
                                          <% unless sale_types[sale_product.store_event_code]["store_discount_amount"].blank? %>                                
                                            <% sale_types[sale_product.store_event_code]["store_discount_amount"] += sale_product.store_discount_amount %>
                                          <% else %>                              
                                            <% sale_types[sale_product.store_event_code]["store_discount_amount"] = sale_product.store_discount_amount %>
                                          <% end %>                              
                                          <% sale_types[sale_product.store_event_code]["sale_ids"] << sale_product.sale_id %>
                                        <% else %>
                                          <% sale_types[sale_product.store_event_code]["store_discount_amount"] = sale_product.store_discount_amount if sale_types[sale_product.store_event_code]["store_discount_amount"].blank? %>
                                        <% end %>
                                      <% end %>
                                      <% sale_types[sale_product.store_event_code]["gross"] += sale_product.article_price %>
                                      <%
                                      subtotal = if sale_product.gift_event_product_id.blank?
                                        if sale_product.sale_member_discount.present? && sale_product.sale_member_discount > 0
                                          subtotal_before_member_discount = (sale_product.subtotal * 100).to_f / (100 - sale_product.sale_member_discount)
                                          subtotal_after_gift_discount = subtotal_before_member_discount - (sale_product.store_discount_amount.to_f / sale_product_quantity_per_transaction_number)
                                          subtotal_after_gift_discount - subtotal_after_gift_discount * (sale_product.sale_member_discount.to_f / 100)
                                          else
                                          sale_product.subtotal - (sale_product.store_discount_amount.to_f / sale_product_quantity_per_transaction_number)
                                        end
                                        else
                                        sale_product.subtotal
                                        end
                                    %>
                                      <% sale_types[sale_product.store_event_code]["net"] += subtotal %>
                                    <% end %>
                                  <% end %>
                                <% end %>

                                <%
                                sales_return_products = SalesReturnProduct.
                                  select("sale_products.event_id", "price_lists.price AS article_price", "sale_products.total AS subtotal", "events.code AS article_event_code").
                                  joins(sale_product: :price_list, sales_return: :sale).
                                  joins("LEFT JOIN events ON sale_products.event_id = events.id").
                                  where(["sales.cashier_opening_id = ?", @cashier_opening.id]).
                                  order("sales_returns.document_number ASC")
                              %>

                                <% sales_return_products.each do |sales_return_product| %>
                                  <% if sales_return_product.event_id.blank? %>
                                    <% sale_types["normal"]["quantity"] -= 1 %>
                                    <% sale_types["normal"]["gross"] -= sales_return_product.article_price %>
                                    <% sale_types["normal"]["net"] -= sales_return_product.subtotal %>
                                  <% else %>
                                    <% sale_types[sales_return_product.article_event_code]["quantity"] -= 1 %>
                                    <% sale_types[sales_return_product.article_event_code]["gross"] -= sales_return_product.article_price %>
                                    <% sale_types[sales_return_product.article_event_code]["net"] -= sales_return_product.subtotal %>
                                  <% end %>
                                <% end %>

                                <% total_quantity = 0 %>
                                <% total_gross = 0 %>
                                <% total_net = 0 %>

                                <% sale_types.each do |k,v| %>
                                  <% if k.eql?("normal") %>
                                    <% event_name = "Normal" %>
                                  <% else %>
                                    <% event_name = k %>
                                  <% end %>
                                  <tr>
                                      <td><%= event_name %></td>
                                      <td style="vertical-align: middle; text-align: right"><%= v["quantity"].to_i + v["gift_quantity"].to_i %></td>
                                      <td style="vertical-align: middle; text-align: right"><%= number_to_currency(v["gross"], :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                                      <td style="vertical-align: middle; text-align: right"><%= number_to_currency(v["net"].to_f, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                                  </tr>
                                  <% total_quantity += (v["quantity"].to_i + v["gift_quantity"].to_i) %>
                                  <% total_gross += v["gross"].to_f %>
                                  <% total_net += v["net"].to_f %>
                                <% end %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td align="right"><strong>Sum</strong></td>
                                    <td align="right"><strong><%= total_quantity %></strong></td>
                                    <td align="right"><strong><%= number_to_currency(total_gross, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></strong></td>
                                    <td align="right"><strong><%= number_to_currency(total_net, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>                    
            </table>
        </td>
    </tr>
</table>