<table cellspacing="0" border="1" style="border-color: #DDDDDD;border-style: solid;border-collapse: collapse">
    <tr>
        <td style="padding: 10px">
            <table width="100%">
                <tr>
                    <td colspan="2" align="center"><%= image_tag image_url("one-s.jpg", host: "http://103.18.133.198/") %></td>
                </tr>
                <tr>
                    <td colspan="2"><strong><%= Company.display_name %></strong></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><strong>AP PAYMENT</strong></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><%= @account_payable_payment.number %></td>
                </tr>
                <tr>
                    <td style="vertical-align: top;width: 70%">
                        <table>
                            <tr>
                                <td>Vendor</td>
                                <td>:</td>
                                <td><%= "#{@account_payable_payment.vendor.code} - #{@account_payable_payment.vendor.name}" %></td>
                            </tr>
                            <tr>
                                <td>Payment Date</td>
                                <td>:</td>
                                <td><%= @account_payable_payment.payment_date.strftime("%d/%m/%Y") %></td>
                            </tr>
                            <tr style="white-space: nowrap">
                                <td>Payment Method</td>
                                <td>:</td>
                                <td><%= @account_payable_payment.payment_method %></td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top;width: 30%">
                        <table align="right">
                            <% if @account_payable_payment.payment_method.eql?("Giro") %>
                              <tr>
                                  <td style="vertical-align: top">Giro Number</td>
                                  <td style="vertical-align: top">:</td>
                                  <td><%= @account_payable_payment.giro_number %></td>
                              </tr>                                
                              <tr>
                                  <td>Giro Date</td>
                                  <td>:</td>
                                  <td><%= @account_payable_payment.giro_date.strftime("%d/%m/%Y") %></td>
                              </tr>
                            <% elsif @account_payable_payment.payment_method.eql?("Transfer") %>
                              <tr>
                                  <td style="vertical-align: top">Bank</td>
                                  <td style="vertical-align: top">:</td>
                                  <td><%= "#{@account_payable_payment.bank.code} - #{@account_payable_payment.bank.name} (#{@account_payable_payment.bank.card_type})" %></td>
                              </tr>                                
                              <tr>
                                  <td>Account Number</td>
                                  <td>:</td>
                                  <td><%= @account_payable_payment.bank_account_number %></td>
                              </tr>
                            <% end %>
                        </table>
                    </td>
                </tr>
                <% @account_payable_payment.account_payable_payment_invoices.joins(:account_payable).includes(:account_payable_purchases).select(:id, :amount, :account_payable_id, "account_payables.number AS ap_invoice_number", "account_payables.note AS ap_invoice_note", "account_payables.total AS ap_invoice_total", "account_payables.vendor_invoice_number", "account_payables.vendor_invoice_date").each do |appi| %>
                  <tr>
                      <td align="center" colspan="2">
                          <table cellspacing="0" border="1" style="border-color: #DDDDDD;border-style: solid;border-collapse: collapse" width="100%">
                              <tbody>
                                  <tr>
                                      <td style="padding: 10px">
                                          <table width="100%">
                                              <tbody>
                                                  <tr>
                                                      <td align="center" colspan="2"><%= appi.ap_invoice_number %></td>
                                                  </tr>
                                                  <tr>
                                                      <td style="vertical-align: top;width: 70%">
                                                          <table>
                                                              <tr>
                                                                  <td>Vendor Inv. Number</td>
                                                                  <td>:</td>
                                                                  <td><%= appi.vendor_invoice_number %></td>
                                                              </tr>
                                                              <tr>
                                                                  <td>Vendor Inv. Date</td>
                                                                  <td>:</td>
                                                                  <td><%= appi.vendor_invoice_date.strftime("%d/%m/%Y") %></td>
                                                              </tr>
                                                          </table>
                                                      </td>
                                                      <td style="vertical-align: top;width: 30%">
                                                          <table align="right">
                                                              <tr>
                                                                  <td style="vertical-align: top">Note</td>
                                                                  <td style="vertical-align: top">:</td>
                                                                  <td style="word-wrap: break-word"><%= appi.ap_invoice_note %></td>
                                                              </tr>
                                                          </table>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td align="center" colspan="2">
                                                          <table cellspacing="0" border="1" cellpadding="5" style="border-color: white;border-style: solid;border-collapse: collapse" width="100%">
                                                              <tbody>
                                                                  <tr bgcolor="#337ab7"><th colspan="9" style="text-align: center;color: white">Items Received</th></tr>
                                                                  <tr style="text-align: center;color: white;opacity: 0.65" bgcolor="#337ab7">
                                                                      <td><strong>No</strong></td>
                                                                      <td colspan="2"><strong>PO/DO Number</strong></td>
                                                                      <td><strong>Qty</strong></td>
                                                                      <td><strong>Gross Amount</strong></td>
                                                                      <td><strong>1st Disc</strong></td>
                                                                      <td><strong>2nd Disc</strong></td>
                                                                      <td><strong>VAT (10%)</strong></td>
                                                                      <td><strong>Net Amount</strong></td>
                                                                  </tr>
                                                                  <% total_amount_received = 0 %>
                                                                  <% appi.account_payable_purchases.each_with_index do |app, idx| %>
                                                                    <% purchase_order = app.purchase %>
                                                                    <tr align="center">
                                                                        <td style="vertical-align: middle"><%= idx.succ %></td>
                                                                        <td colspan="2" style="vertical-align: middle"><%= purchase_order.number rescue purchase_order.received_purchase_order.delivery_order_number %></td>
                                                                        <td style="vertical-align: middle"><%= purchase_order.quantity_received %></td>
                                                                        <td style="vertical-align: middle"><%= number_to_currency(purchase_order.receiving_value,
                                                                              :separator => ",",
                                                                              :delimiter => ".",
                                                                              :unit => "Rp",
                                                                              :precision => 2) %></td>
                                                                        <td style="vertical-align: middle">
                                                                            <% if purchase_order.first_discount.present? %>
                                                                              <%= number_to_currency((purchase_order.first_discount.to_f / 100) * purchase_order.receiving_value,
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %> (<%= "#{purchase_order.first_discount}%" %>)
                                                                            <% end %>
                                                                        </td>
                                                                        <td style="vertical-align: middle">
                                                                            <% if purchase_order.second_discount.present? %>
                                                                              <%= number_to_currency(get_second_discount_in_money_for_ap(purchase_order),
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %> (<%= "#{purchase_order.second_discount}%" %> from <%= purchase_order.is_additional_disc_from_net ? "net" : "gross" %>)
                                                                            <% end %>
                                                                        </td>
                                                                        <td style="vertical-align: middle">
                                                                            <% if purchase_order.is_taxable_entrepreneur %>
                                                                              <%
                                                                              vat_type = purchase_order.value_added_tax rescue purchase_order.vat_type
                                                                              vat_in_money = if vat_type.eql?("include")
                                                                                get_include_vat_in_money_for_ap(purchase_order)
                                                                                else
                                                                                get_vat_in_money_for_ap(purchase_order)
                                                                                end
                                                                            %>
                                                                              <%= number_to_currency(vat_in_money,
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %> (<%= vat_type %>)
                                                                            <% end %>
                                                                        </td>
                                                                        <td align="right"><%= number_to_currency(value_after_ppn_for_ap(purchase_order),
                                                                              :separator => ",",
                                                                              :delimiter => ".",
                                                                              :unit => "Rp",
                                                                              :precision => 2) %></td>
                                                                    </tr>
                                                                    <% total_amount_received += value_after_ppn_for_ap(purchase_order) %>
                                                                  <% end %>
                                                                  <tr bgcolor="#337ab7" style="color: white">
                                                                      <td colspan="8" align="right"><strong>Amount Received</strong></td>
                                                                      <td align="right"><strong><%= number_to_currency(total_amount_received,
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %></strong></td>
                                                                  </tr>
                                                                  <% total_amount_returned = 0 %>
                                                                  <% allocated_return_items = appi.allocated_return_items.select(:purchase_return_id) %>
                                                                  <% if allocated_return_items.size > 0 %>
                                                                    <tr bgcolor="#337ab7"><th colspan="9" style="text-align: center;color: white">Allocated Return Items</th></tr>
                                                                    <tr style="text-align: center;color: white;opacity: 0.65" bgcolor="#337ab7">
                                                                        <td><strong>No</strong></td>
                                                                        <td><strong>PR Number</strong></td>
                                                                        <td><strong>PO/DO Number</strong></td>
                                                                        <td><strong>Qty</strong></td>
                                                                        <td><strong>Gross Amount</strong></td>
                                                                        <td><strong>1st Disc</strong></td>
                                                                        <td><strong>2nd Disc</strong></td>
                                                                        <td><strong>VAT (10%)</strong></td>
                                                                        <td><strong>Net Amount</strong></td>
                                                                    </tr>
                                                                    <% allocated_return_items.each_with_index do |ari, idx| %>
                                                                      <tr align="center">
                                                                          <td style="vertical-align: middle"><%= idx.succ %></td>
                                                                          <td style="vertical-align: middle"><%= ari.purchase_return.number %></td>
                                                                          <td style="vertical-align: middle"><%= ari.purchase_return.purchase_order.number rescue ari.purchase_return.direct_purchase.received_purchase_order.delivery_order_number %></td>
                                                                          <td style="vertical-align: middle"><%= ari.purchase_return.quantity_returned %></td>
                                                                          <td style="vertical-align: middle"><%= number_to_currency(total_return_value(ari.purchase_return),
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %></td>
                                                                          <td style="vertical-align: middle">
                                                                              <% if (ari.purchase_return.purchase_order && ari.purchase_return.purchase_order.first_discount.present?) || (ari.purchase_return.direct_purchase && ari.purchase_return.direct_purchase.first_discount.present?) %>
                                                                                <%= number_to_currency(((ari.purchase_return.purchase_order.first_discount.to_f rescue ari.purchase_return.direct_purchase.first_discount.to_f) / 100) * total_return_value(ari.purchase_return),
                                                                                  :separator => ",",
                                                                                  :delimiter => ".",
                                                                                  :unit => "Rp",
                                                                                  :precision => 2) %> (<%= "#{(ari.purchase_return.purchase_order.first_discount rescue ari.purchase_return.direct_purchase.first_discount)}%" %>)
                                                                              <% end %>
                                                                          </td>
                                                                          <td style="vertical-align: middle">
                                                                              <% if (ari.purchase_return.purchase_order && ari.purchase_return.purchase_order.second_discount.present?) || (ari.purchase_return.direct_purchase && ari.purchase_return.direct_purchase.second_discount) %>
                                                                                <%= number_to_currency(get_second_discount_in_money_pr(ari.purchase_return),
                                                                                  :separator => ",",
                                                                                  :delimiter => ".",
                                                                                  :unit => "Rp",
                                                                                  :precision => 2) %> (<%= "#{(ari.purchase_return.purchase_order.second_discount rescue ari.purchase_return.direct_purchase.second_discount)}%" %> from <%= (ari.purchase_return.purchase_order && ari.purchase_return.purchase_order.is_additional_disc_from_net) || (ari.purchase_return.direct_purchase && ari.purchase_return.direct_purchase.is_additional_disc_from_net) ? "net" : "gross" %>)
                                                                              <% end %>
                                                                          </td>
                                                                          <td style="vertical-align: middle">
                                                                              <% if ari.purchase_return.purchase_order && ari.purchase_return.purchase_order.is_taxable_entrepreneur %>
                                                                                <%
                                                                                vat_in_money = if ari.purchase_return.purchase_order.value_added_tax.eql?("include")
                                                                                  get_include_vat_in_money_pr(ari.purchase_return)
                                                                                  else
                                                                                  get_vat_in_money_pr(ari.purchase_return)
                                                                                  end
                                                                              %>
                                                                                <%= number_to_currency(vat_in_money,
                                                                                  :separator => ",",
                                                                                  :delimiter => ".",
                                                                                  :unit => "Rp",
                                                                                  :precision => 2) %> (<%= ari.purchase_return.purchase_order.value_added_tax %>)
                                                                              <% elsif ari.purchase_return.direct_purchase && ari.purchase_return.direct_purchase.is_taxable_entrepreneur %>
                                                                                <%
                                                                                vat_in_money = if ari.purchase_return.direct_purchase.vat_type.eql?("include")
                                                                                  get_include_vat_in_money_pr(ari.purchase_return)
                                                                                  else
                                                                                  get_vat_in_money_pr(ari.purchase_return)
                                                                                  end
                                                                              %>
                                                                                <%= number_to_currency(vat_in_money,
                                                                                  :separator => ",",
                                                                                  :delimiter => ".",
                                                                                  :unit => "Rp",
                                                                                  :precision => 2) %> (<%= ari.purchase_return.direct_purchase.vat_type %>)
                                                                              <% end %>
                                                                          </td>
                                                                          <td align="right">
                                                                              <%= number_to_currency(value_after_ppn_pr(ari.purchase_return),
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %>
                                                                          </td>
                                                                      </tr>
                                                                      <% total_amount_returned += value_after_ppn_pr(ari.purchase_return) %>
                                                                    <% end %>
                                                                    <tr bgcolor="#337ab7" style="color: white">
                                                                        <td colspan="8" align="right"><strong>Amount Returned</strong></td>
                                                                        <td align="right"><strong><%= number_to_currency(total_amount_returned,
                                                                                  :separator => ",",
                                                                                  :delimiter => ".",
                                                                                  :unit => "Rp",
                                                                                  :precision => 2) %></strong></td>
                                                                    </tr>
                                                                  <% end %>
                                                                  <% prev_appis = AccountPayablePaymentInvoice.joins(:account_payable_payment).select(:amount, :amount_returned).where(account_payable_id: appi.account_payable_id).where(["account_payable_payments.created_at < ?", @account_payable_payment.created_at]) %>
                                                                  <% previous_payment = 0 %>
                                                                  <% prev_appis.each do |prev_appi| %>
                                                                    <% previous_payment += prev_appi.amount + prev_appi.amount_returned %>
                                                                  <% end %>
                                                                  <tr bgcolor="#337ab7" style="color: white">
                                                                      <td colspan="8" align="right"><strong>Previous Payment</strong></td>
                                                                      <td align="right"><strong><%= number_to_currency(previous_payment,
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %></strong></td>
                                                                  </tr>
                                                                  <tr bgcolor="#337ab7" style="color: white">
                                                                      <td colspan="8" align="right"><strong>Amount Paid</strong></td>
                                                                      <td align="right"><strong><%= number_to_currency(appi.amount,
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %></strong></td>
                                                                  </tr>
                                                                  <tr bgcolor="#337ab7" style="color: white">
                                                                      <td colspan="8" align="right"><strong>Debt</strong></td>
                                                                      <td align="right"><strong><%= number_to_currency(total_amount_received - total_amount_returned - previous_payment - appi.amount,
                                                                                :separator => ",",
                                                                                :delimiter => ".",
                                                                                :unit => "Rp",
                                                                                :precision => 2) %></strong></td>
                                                                  </tr>
                                                              </tbody>
                                                          </table>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>
                <% end %>
                <tr>
                    <td>Created by</td>
                    <td style="text-align: right">Approved by</td>
                </tr>
                <tr>
                    <td style="padding-top: 50px"><%= @account_payable_payment.audits.where(action: "create").select(:user_id, :user_type).first.user.name %></td>
                    <td style="text-align: right"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>