<div class="page-header"><h1>Stocks</h1></div>

<div id="search-form-container" class="form-inline text-right">
    <div class="form-group">
        <%= select_tag "warehouse_id", options_from_collection_for_select(@warehouses, :id, :code), {include_blank: true, class: "form-control chosen-select", style: "width: 200px;"} %>
      </div>
      <div class="form-group">
          <input type="text" id="filter-product-criteria" class="form-control" placeholder="Product code/name/color/size/quantity">
      </div>
      <button id="search-stock-btn" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
  </div>
  <div class="hidden">
      <%= smart_listing_controls_for(:stocks, {class: "form-inline text-right"}) do %>
          <%= text_field_tag :filter_warehouse_id, '', class: "search form-control", autocomplete: :off %>
            <%= text_field_tag :filter_product_criteria, '', class: "search form-control", autocomplete: :off %>
            <% end %>
        </div>
        <%= smart_listing_render(:stocks) %>    



