<td colspan="4">
    <div style="padding-top: 20px"></div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <% if !@user.new_record? && User::NON_SPG_ROLES.select{|a, b| b.eql?(@user.roles.first.name)}.present? %>
          <li role="presentation" class="active"><a href="#non_spg_tab" aria-controls="non_spg_tab" role="tab" data-toggle="tab">Non-SPG</a></li>
        <% elsif !@user.new_record? && User::SPG_ROLES.select{|a, b| b.eql?(@user.roles.first.name)}.present? %>
          <li role="presentation"><a href="#spg_tab" aria-controls="spg_tab" role="tab" data-toggle="tab">SPG</a></li>
        <% elsif !@user.new_record? %>
          <li role="presentation"><a href="#area_manager_tab" aria-controls="area_manager_tab" role="tab" data-toggle="tab">Area Manager</a></li>
        <% else %>
          <li role="presentation" class="active"><a href="#non_spg_tab" aria-controls="non_spg_tab" role="tab" data-toggle="tab">Non-SPG</a></li>
          <li role="presentation"><a href="#spg_tab" aria-controls="spg_tab" role="tab" data-toggle="tab">SPG</a></li>
          <li role="presentation"><a href="#area_manager_tab" aria-controls="area_manager_tab" role="tab" data-toggle="tab">Area Manager</a></li>
        <% end %>
    </ul>
    <!-- tab panes -->
    <div class="tab-content">
        <% if !@user.new_record? && User::NON_SPG_ROLES.select{|a, b| b.eql?(@user.roles.first.name)}.present? %>
          <div role="tabpanel" class="tab-pane fade in active" id="non_spg_tab" style="padding-top: 20px">
              <div id="non_spg_form_container">
                  <%= render "non_spg_form" %>
              </div>
          </div>
      <% elsif !@user.new_record? && User::SPG_ROLES.select{|a, b| b.eql?(@user.roles.first.name)}.present? %>
          <div role="tabpanel" class="tab-pane fade" id="spg_tab" style="padding-top: 20px">
              <div id="spg_form_container">
                  <%= render "spg_form" %>
              </div>
          </div>
      <% elsif !@user.new_record? %>
          <div role="tabpanel" class="tab-pane fade" id="area_manager_tab" style="padding-top: 20px">
              <div id="area_manager_form_container">
                  <%= render "area_manager_form" %>
              </div>
          </div>
        <% else %>
          <div role="tabpanel" class="tab-pane fade in active" id="non_spg_tab" style="padding-top: 20px">
              <div id="non_spg_form_container">
                  <%= render "non_spg_form" %>
              </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in active" id="area_manager_tab" style="padding-top: 20px">
              <div id="area_manager_form_container">
                  <%= render "area_manager_form" %>
              </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="spg_tab" style="padding-top: 20px">
              <div class="form-horizontal">
                  <div class="form-group">
                      <%= label_tag "select_spg", "Select SPG", class: "col-sm-3 control-label" %>
                        <div class="col-sm-9">
                            <table id="listing_spg_table" class="display" width="100%">
                                <thead>
                                    <tr>
                                        <th>Identifier</th>
                                        <th>Name</th>
                                        <th>Warehouse</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @sales_promotion_girls.each do |sales_promotion_girl| %>
                                      <% if sales_promotion_girl.user.blank? %>
                                        <tr id="spg_<%= sales_promotion_girl.id %>">
                                            <td><%= sales_promotion_girl.identifier %></td>
                                            <td><%= sales_promotion_girl.name %></td>
                                            <td><%= sales_promotion_girl.warehouse_code %></td>
                                            <td><%= sales_promotion_girl.role %></td>
                                        </tr>
                                      <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="spg_form_container">
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button class="btn btn-primary disabled" id="btn-save-cost-form">Save</button>
                                <button class="btn btn-link cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <% end %>
      </div>

  </td>

  <script>
    $(function () {
  <% if !@user.new_record? && User::NON_SPG_ROLES.select{|a, b| b.eql?(@user.roles.first.name)}.present? %>
          $('.nav-tabs a[href="#non_spg_tab"]').tab('show');
  <% elsif !@user.new_record? && User::SPG_ROLES.select{|a, b| b.eql?(@user.roles.first.name)}.present? %>
          $('.nav-tabs a[href="#spg_tab"]').tab('show');
  <% elsif !@user.new_record? %>
          $('.nav-tabs a[href="#area_manager_tab"]').tab('show');
  <% else %>
          var spgDataTable = null

          $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
              var target = $(e.target).attr("href"); // activated tab
              if (target == "#spg_tab" && spgDataTable == null) {
                  spgDataTable = $('#listing_spg_table').DataTable({
                      order: [0, 'asc'],
                      columns: [
                          {data: 'identifier'},
                          {data: 'name'},
                          {data: 'warehouse'},
                          {data: 'role'}
                      ],
                      paging: false,
                      info: false,
                      scrollY: "250px",
                      scrollCollapse: true
                  });
              }
          });

          $('#listing_spg_table tbody').on('dblclick', 'tr', function () {
              if (!$(this).hasClass('selected')) {
                  spgDataTable.$('tr.selected').removeClass('selected');
                  $(this).addClass('selected');

                  var spgId = $(this).attr("id").split("_")[1];
                  $.get("/users/generate_spg_user_form", {
                      spg_id: spgId
                  });

              }
          });
  <% end %>
    });
  </script>