<td><%= object.name %></td>
<td><%= object.gender.titleize %></td>
<td id="role-name-<%= object.id %>"><%= object.role_name.titleize rescue "" %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, user_path(object), data: {remote: true}, title: "Show" %>
    <%= link_to_if(can?(:manage, User), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_user_path(object), :remote => true, class: :edit, method: :get, title: "Edit" ) %>
      <%= link_to_if(can?(:manage, User), content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete" ) %>
  </td>
