<%= form_for(@accounts_receivable_payment, remote: true, html: {class: "form-horizontal", style: "padding-top: 20px", id: "new_accounts_receivable_payment_transfer"}) do |f| %>
    <%= f.hidden_field :payment_method, value: "Transfer" %>
    <%= f.hidden_field :customer_id, id: "accounts_receivable_payment_customer_id_transfer" %>
    <div class="form-group">
        <%= f.label :attr_customer_code_and_name, "Customer", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
              <%= f.hidden_field :attr_customer_code_and_name %>
              <span class="form-control" style="cursor: not-allowed;display: inline-block;width: auto" readonly="readonly" id="accounts_receivable_payment_customer_code_name_transfer"><%= f.object.attr_customer_code_and_name %></span>
          </div>
      </div>
      <div class="form-group<%= control_group_error(@accounts_receivable_payment, :payment_date) %>">
          <%= f.label :payment_date, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :payment_date, size: 10, readonly: true, class: "form-control", id: "accounts_receivable_payment_payment_date_transfer" %>
                  <%= error_help_text(@accounts_receivable_payment, :payment_date) %>
              </div>
          </div>
          <div class="form-group<%= control_group_error(@accounts_receivable_payment, :attr_company_bank_id) %>">
              <%= f.label :attr_company_bank_id, "Bank", class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.select :attr_company_bank_id, options_from_collection_for_select(CompanyBank.select(:id, :code, :name).where(company_id: Company.select(:id).first.id).order(:code), 'id', 'code_and_name', @accounts_receivable_payment.attr_company_bank_id.to_s), {include_blank: true}, {class: "form-control"} %>
                      <%= error_help_text(@accounts_receivable_payment, :attr_company_bank_id) %>
                  </div>
              </div>
              <%
              company_bank_account_numbers = if @accounts_receivable_payment.attr_company_bank_id.present?
                options_from_collection_for_select(CompanyBankAccountNumber.select(:id, :account_number).where(company_bank_id: @accounts_receivable_payment.attr_company_bank_id).order(:account_number), :id, :account_number, @accounts_receivable_payment.company_bank_account_number_id.to_s)
                else
                ""
                end
            %>
              <div class="form-group<%= control_group_error(@accounts_receivable_payment, :company_bank_account_number_id) %>">
                  <%= f.label :company_bank_account_number_id, "Bank account number", class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.select :company_bank_account_number_id, company_bank_account_numbers, {include_blank: true}, {class: "form-control"} %>
                          <%= error_help_text(@accounts_receivable_payment, :company_bank_account_number_id) %>
                      </div>
                  </div>                  
                  <div class="ln_solid"></div>
                  <%= f.fields_for :accounts_receivable_payment_invoices do |accounts_receivable_payment_invoice_form| %>
                    <%= accounts_receivable_payment_invoice_form.hidden_field :accounts_receivable_invoice_id %>
                    <div class="form-group">
                        <%= accounts_receivable_payment_invoice_form.label :attr_invoice_number, "No. Invoice", class: "col-sm-2 control-label" %>
                          <div class="col-sm-10">
                              <%= accounts_receivable_payment_invoice_form.hidden_field :attr_invoice_number %>
                              <span class="form-control" style="cursor: not-allowed;display: inline-block" readonly="readonly"><%= accounts_receivable_payment_invoice_form.object.attr_invoice_number %></span>
                          </div>
                      </div>
                      <div class="form-group<%= control_group_error(accounts_receivable_payment_invoice_form.object, :attr_invoice_date) %>">
                          <%= accounts_receivable_payment_invoice_form.label :attr_invoice_date, "Invoice date", class: "col-sm-2 control-label" %>
                            <div class="col-sm-10">
                                <%= accounts_receivable_payment_invoice_form.hidden_field :attr_invoice_date %>
                                <span class="form-control" style="cursor: not-allowed;display: inline-block" readonly="readonly"><%= !accounts_receivable_payment_invoice_form.object.attr_invoice_date.class.eql?("Date") ? accounts_receivable_payment_invoice_form.object.attr_invoice_date.to_date.strftime("%d/%m/%Y") : accounts_receivable_payment_invoice_form.object.attr_invoice_date.strftime("%d/%m/%Y") %></span>
                                <%= error_help_text(accounts_receivable_payment_invoice_form.object, :attr_invoice_date) %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= accounts_receivable_payment_invoice_form.label :attr_amount_sold, "Amount sold", class: "col-sm-2 control-label" %>
                              <div class="col-sm-10">
                                  <%= accounts_receivable_payment_invoice_form.hidden_field :attr_amount_sold %>
                                  <span class="form-control text-right" style="cursor: not-allowed;display: inline-block" readonly="readonly"><%= number_to_currency(accounts_receivable_payment_invoice_form.object.attr_amount_sold,
                                        :separator => ",",
                                        :delimiter => ".",
                                        :unit => "Rp",
                                        :precision => 2) %></span>
                              </div>
                          </div>
                          <div class="form-group">
                              <%= accounts_receivable_payment_invoice_form.label :attr_remaining_debt, "Debt", class: "col-sm-2 control-label" %>
                                <div class="col-sm-10">
                                    <%= accounts_receivable_payment_invoice_form.hidden_field :attr_remaining_debt %>
                                    <span class="form-control text-right" style="cursor: not-allowed;display: inline-block" readonly="readonly"><%= number_to_currency(accounts_receivable_payment_invoice_form.object.attr_remaining_debt,
                                          :separator => ",",
                                          :delimiter => ".",
                                          :unit => "Rp",
                                          :precision => 2) %></span>
                                </div>
                            </div>
                            <div class="form-group<%= control_group_error(accounts_receivable_payment_invoice_form.object, :amount) %>">
                                <%= accounts_receivable_payment_invoice_form.label :amount, class: "col-sm-2 control-label" %>
                                  <div class="col-sm-10">
                                      <%= accounts_receivable_payment_invoice_form.text_field :amount, class: "form-control accounts-receivable-payment-invoice-amount-fields-transfer", "data-a-sep" => ".", "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;" %>
                                        <%= error_help_text(accounts_receivable_payment_invoice_form.object, :amount) %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <%= accounts_receivable_payment_invoice_form.check_box :_destroy %> Delete
                                    </div>

                                </div>
                                <div class="ln_solid"></div>
                              <% end %>
                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                      <%= f.submit "Save", class: "btn btn-primary" %>
                                        <button class="btn btn-link cancel">Cancel</button>
                                    </div>
                                </div>
                              <% end %>

                              <script>
                                $(function () {
                                    $("#accounts_receivable_payment_payment_date_transfer").datepicker({
                                        dateFormat: "dd/mm/yy"
                                    });

                                    $('.accounts-receivable-payment-invoice-amount-fields-transfer').autoNumeric('init');

                                    $("#new_accounts_receivable_payment_transfer").submit(function () {
                                        if (submitArpFormTransfer) {
                                            submitArpFormTransfer = false;
                                            return true;
                                        } else {
                                            bootbox.confirm({
                                                message: "Please double check all of the data before you create payment, make sure everything is correct.<br>Once you create payment, you'll not be able to change or delete it<br>Are you ABSOLUTELY sure?",
                                                buttons: {
                                                    confirm: {
                                                        label: '<i class="fa fa-check"></i> Confirm'
                                                    },
                                                    cancel: {
                                                        label: '<i class="fa fa-times"></i> Cancel'
                                                    }
                                                },
                                                callback: function (result) {
                                                    if (result) {
                                                        $("body").css('padding-right', '0px');
                                                        submitArpFormTransfer = true;
                                                        $("#new_accounts_receivable_payment_transfer").submit();
                                                    }
                                                },
                                                size: "small"
                                            });
                                            return false;
                                        }
                                    });
                                    $("#accounts_receivable_payment_bank_id").attr("data-placeholder", "Bank").chosen();

                                    $("#accounts_receivable_payment_attr_company_bank_id").attr("data-placeholder", "Please select").chosen();
                                    $("#accounts_receivable_payment_company_bank_account_number_id").attr("data-placeholder", "Please select").chosen();
                                    $("#accounts_receivable_payment_attr_company_bank_id").change(function () {
                                        $.get("/accounts_receivable_payments/get_account_numbers", {
                                            company_bank_id: $("#accounts_receivable_payment_attr_company_bank_id").val()
                                        });
                                    });
                                });
                              </script>