<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-ar-payment-thead">
        <tr>
            <th class="col-md-2"><%= smart_listing.sortable "Number", "number" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Customer", "customers.code" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Payment Date", "payment_date" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Payment Method", "payment_method" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Amount", "amount" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |app| %>
          <tr class="editable" data-id="<%= app.id %>">
              <%= smart_listing.render object: app, partial: "accounts_receivable_payments/accounts_receivable_payment", locals: {object: app} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 6, link: new_accounts_receivable_payment_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var arpProcessId = setInterval(function () {
      if ($("#listing-ar-payment-thead").is(":visible")) {
          clearInterval(arpProcessId);
      } else {
          $("#listing-ar-payment-thead").show();
      }
  }, 0);

</script>