<td id="code-<%= object.id %>"><%= object.code %></td>
<td id="name-<%= object.id %>"><%= object.name %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, object, data: {remote: true}, title: "Show" %>
    <%= link_to_if(can?(:manage, Department), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_department_path(object), :remote => true, class: :edit, method: :get, title: "Edit" ) %>
      <%= link_to_if(can?(:manage, Department), content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure that you want to permanently delete the selected item?', placement: :left}, title: "Delete" ) %>
  </td>
