<td colspan="4">
  <div style="padding-top: 20px"></div>
  <%= form_for(@department, remote: true, html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group<%= control_group_error(@department, :code) %>">
        <%= f.label :code, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :code, class: "form-control upcase inputs" %>
          <%= error_help_text(@department, :code) %>
        </div>
      </div>
      <div class="form-group<%= control_group_error(@department, :name) %>">
        <%= f.label :name, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control inputs" %>
          <%= error_help_text(@department, :name) %>
        </div>
      </div>
      <div class="form-group<%= control_group_error(@department, :company_id) %>">
        <%= f.label :company_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.select :company_id, options_from_collection_for_select(Company.select(:id, :code), :id, :code, @department.company_id.to_s), {include_blank: true}, {tabindex: "6", class: "form-control inputs"} %>
          <%= error_help_text(@department, :company_id) %>
        </div>
      </div>
      <div class="form-group<%= control_group_error(@department, :description) %>">
        <%= f.label :description, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :description, class: "form-control inputs" %>
          <%= error_help_text(@department, :description) %>
        </div>
      </div>

  <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <button class="btn btn-link cancel">Cancel</button>
      </div>
    </div>
  <% end %>
</td>

<script>
  $(function () {
      $('#department_code').on("input", function () {
          $(this).val($(this).val().replace(/ /g, ""));
      });
      $("#department_company_id").attr("data-placeholder", "Please select").chosen();
  });
 </script>
