<td colspan="4">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>

    <dl class="dl-horizontal">
        <dt>Code</dt>
        <dd><%= object.code %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= object.name %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Company</dt>
        <dd><%= object.company.code %> - <%= object.company.name %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd><%= object.description %></dd>
    </dl>

</td>
