<td><%= object.code %></td>
<td><%= object.name %></td>
<td><%= object.status %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, courier_path(object), data: {remote: true}, title: "Show" %>
    <%= link_to_if(can?(:manage, Courier), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_courier_path(object), :remote => true, class: :edit, :method => :get, title: "Edit" ) %>
      <%= link_to_if(can?(:manage, Courier) && object.shipment_relation.blank? && object.account_payable_courier_relation.blank? && object.account_payable_courier_payments.select("1 AS one").blank?, content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure that you want to permanently delete the selected item?', placement: :left}, title: "Delete" ) %>
  </td>
