<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-courier-thead">
        <tr>
            <th class="col-md-2"><%= smart_listing.sortable "Code", "code" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Name", "name" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Status", "status" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Via", "via" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Unit", "unit" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |courier| %>
          <tr class="editable" data-id="<%= courier.id %>">
              <%= smart_listing.render object: courier, partial: "couriers/courier", locals: {object: courier} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 6, link: new_courier_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-courier-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-courier-thead").show();
      }
  }, 0);

</script>