<td colspan="5">
  <div style="padding-top: 20px"></div>
  <%= form_for(@coa, url: (@coa.new_record? ? coas_path : coa_path(@coa)) ,remote: true, html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group<%= control_group_error(@coa, :code) %>">
        <%= f.label :code, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :code, class: "form-control upcase inputs" %>
          <%= error_help_text(@coa, :code) %>
        </div>
      </div>
      <div class="form-group<%= control_group_error(@coa, :classification) %>">
        <%= f.label :classification, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.select :classification, options_for_select(CLASSIFICATIONS.map{|x| [ x[:name], x[:id]] }, @coa.classification), {include_blank: true}, {tabindex: "8", class: "form-control"} %>
            <%= error_help_text(@coa, :classification) %>
        </div>
      </div>

      <div class="form-group<%= control_group_error(@coa, :category_id) %>">
        <%= f.label :category, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.select :category_id, options_for_select(@coa.categories.map{|x| [x.name, x.id]}, @coa.category_id), {include_blank: true}, {tabindex: "9", class: "form-control"} %>
            <%= error_help_text(@coa, :category_id) %>
        </div>
      </div>

      <div class="form-group<%= control_group_error(@coa, :description) %>">
        <%= f.label :description, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_area :description, class: "form-control inputs" %>
          <%= error_help_text(@coa, :description) %>
        </div>
      </div>

  <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <button class="btn btn-link cancel">Cancel</button>
      </div>
    </div>
  <% end %>
</td>
<script>
  $(function () {
      $('#coa_code').on("input", function () {
          $(this).val($(this).val().replace(/ /g, ""));
      });
      $("#coa_transaction_type").attr("data-placeholder", "Please select").chosen();
  });
</script>
