<%= form_for(@event, remote: true, html: {class: "form-horizontal"}) do |f| %>
    <%= hidden_field_tag "event_type", "" %>
    <%= f.hidden_field :event_type, value: "Discount(%)" %>
    <div class="form-group<%= control_group_error(@event, :code) %>">
        <%= f.label :code, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
              <%= f.text_field :code, class: "form-control upcase inputs", id: "event_code_discount_percentage" %>
                <%= error_help_text(@event, :code) %>
            </div>
        </div>

        <div class="form-group<%= control_group_error(@event, :name) %>">
            <%= f.label :name, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.text_field :name, class: "form-control inputs" %>
                    <%= error_help_text(@event, :name) %>
                </div>
            </div>

            <div class="form-group<%= control_group_error(@event, :start_date_time) %>">
                <%= f.label :start_date_time, "Start time", class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= f.text_field :start_date_time, size: 10, readonly: true, class: "form-control" %>
                        <%= error_help_text(@event, :start_date_time) %>
                    </div>
                </div>

                <div class="form-group<%= control_group_error(@event, :end_date_time) %>">
                    <%= f.label :end_date_time, "End time", class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.text_field :end_date_time, size: 10, readonly: true, class: "form-control" %>
                            <%= error_help_text(@event, :end_date_time) %>
                        </div>
                    </div>

                    <div class="form-group<%= control_group_error(@event, :first_plus_discount) %>">
                        <%= f.label :first_plus_discount, "First discount", class: "col-sm-2 control-label" %>
                          <div class="col-sm-10">
                              <%= f.text_field :first_plus_discount, size: 10, class: "form-control quantity-fields discount-fields" %>
                                <%= error_help_text(@event, :first_plus_discount) %>
                            </div>
                        </div>

                        <div class="form-group<%= control_group_error(@event, :second_plus_discount) %>">
                            <%= f.label :second_plus_discount, "Second discount", class: "col-sm-2 control-label" %>
                              <div class="col-sm-10">
                                  <%= f.text_field :second_plus_discount, size: 10, class: "form-control quantity-fields discount-fields" %>
                                    <%= error_help_text(@event, :second_plus_discount) %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Add article</label>
                                <div class="col-sm-10">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <%= select_tag "brand", options_from_collection_for_select(@brands, :id, "code_and_name"), {include_blank: true, class: "form-control", id: "brand_general_products_percentage_discount"} %>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                      <%= select_tag "target",options_for_select(Product::TARGETS), {include_blank: true, class: "form-control", id: "target_general_products_percentage_discount"} %>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <%= text_field_tag "code", "", {class: "form-control", id: "code_general_products_percentage_discount"} %>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="col-sm-12">
                                                          <button type="button" class="btn btn-success" id="add-btn-percentage-discount-products" style="float: right">Add</button>
                                                      </div>
                                                  </div>

                                                  <div id="listing-general-products-percentage-discount">
                                                      <% if action_name.eql?("edit") %>
                                                        <% event_general_products = @event.event_general_products.joins(product: :brand).select(:id, :product_id, "products.code AS product_code", "common_fields.name AS product_name") %>
                                                      <% else %>
                                                        <% event_general_products = @event.event_general_products %>
                                                      <% end %>
                                                      <% if event_general_products.present? %>
                                                        <%= render partial: "listing_general_products", locals: {event_general_products: event_general_products} %>
                                                      <% end %>
                                                  </div>
                                              </div>
                                          </div>                                          
                                      </div>
                                  </div>


                                  <!-- <div class="form-group">
                                      <label class="col-sm-2 control-label">Product</label>
                                      <div class="col-sm-10">
                                          <div class="x_panel">
                                              <div class="x_content"> -->

                                  <!-- <div> -->
                                  <!-- Nav tabs -->
                                  <!-- <ul class="nav nav-tabs" role="tablist"> -->
                                  <!--<li role="presentation" class="active"><a href="#add_general_products_by_bgm_percentage_discount" aria-controls="add_general_products_by_bgm_percentage_discount" role="tab" data-toggle="tab">Add products by brand/goods type/model</a></li>-->
                                  <!--                                                     <li role="presentation" class="active"><a href="#add_general_products_by_code_percentage_discount" aria-controls="add_general_products_by_code_percentage_discount" role="tab" data-toggle="tab">Add products by code</a></li>
                                                                                  </ul> -->

                                  <!-- Tab panes -->
                                  <!-- <div class="tab-content"> -->
                                  <!--<div role="tabpanel" class="tab-pane fade in active" id="add_general_products_by_bgm_percentage_discount" style="padding-top: 20px">
                                      <div class="form-group">
                                          <label class="control-label col-sm-3" for="brand">Brand</label>
                                          <div class="col-sm-9">
                                  <%#= select_tag "brand", options_from_collection_for_select(@brands, :id, "code_and_name"), {prompt: "All", class: "form-control", id: "brand_general_products_percentage_discount"} %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="goods-type">Goods Type</label>
                                            <div class="col-sm-9">
                                  <%#= select_tag "goods_type", options_from_collection_for_select(@goods_types, :id, "code_and_name"), {prompt: "All", class: "form-control", id: "goods_type_general_products_percentage_discount"} %>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="control-label col-sm-3" for="model">Model</label>
                                              <div class="col-sm-9">
                                  <%#= select_tag "model", options_from_collection_for_select(@models, :id, "code_and_name"), {prompt: "All", class: "form-control", id: "model_general_products_percentage_discount"} %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-success" id="add-btn-percentage-discount">Add</button>
                                                </div>
                                            </div>
                                        </div>-->
                                  <!-- <div role="tabpanel" class="tab-pane fade in active" id="add_general_products_by_code_percentage_discount" style="padding-top: 20px">
                                      <div class="form-group">
                                          <label class="control-label col-sm-3" for="code">Code</label>
                                          <div class="col-sm-9">
                                  <%#= text_field_tag "code", "", {class: "form-control", id: "code_general_products_percentage_discount"} %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success" id="add-btn-by-code-percentage-discount">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                  </div> -->
                                  <!-- <div id="listing-general-products-percentage-discount">
                                  <%# if action_name.eql?("edit") %>
                                  <%# event_general_products = @event.event_general_products.joins(product: :brand).select(:id, :product_id, "products.code AS product_code", "common_fields.name AS product_name") %>
                                  <%# else %>
                                  <%# event_general_products = @event.event_general_products %>
                                  <%# end %>
                                  <%# if event_general_products.present? %>
                                  <%#= render partial: "listing_general_products", locals: {event_general_products: event_general_products} %>
                                  <%# end %>
                                  </div> -->
                                  <!--                                                     </div>

                                                                                      <div class="ln_solid"></div>

                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div> -->

                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Warehouses</label>
                                      <div class="col-sm-10">
                                          <table id="listing_event_warehouses_table" class="display">
                                              <thead>
                                                  <tr>
                                                      <th></th>
                                                      <th>Code</th>
                                                      <th>Name</th>
                                                  </tr>
                                              </thead>

                                              <tbody>
                                                  <% @warehouses.each do |warehouse| %>
                                                    <tr id="warehouse_<%= warehouse.id %>">
                                                        <td></td>
                                                        <td><%= warehouse.code %></td>
                                                        <td><%= warehouse.name %></td>
                                                    </tr>
                                                  <% end %>
                                              </tbody>
                                          </table>
                                          <a class="btn btn-default active" id="generate_event_percentage_warehouse_form" style="float: right;margin-top: 10px;">Generate form</a>
                                      </div>
                                  </div>

                                  <div id="listing-warehouse-details">
                                      <% if action_name.eql?("create") || !@event.new_record? %>
                                        <%= render(partial: "warehouse_form") %>
                                      <% end %>
                                  </div>

                                  <div class="form-group">
                                      <div class="col-sm-offset-2 col-sm-10">
                                          <%= f.submit "Save", class: "btn btn-primary", id: "submit-btn" %>
                                            <button class="btn btn-link cancel">Cancel</button>
                                        </div>
                                    </div>
                                  <% end %>

                                  <script type="text/javascript">
                                    $(function () {
                                        $("#brand_general_products_percentage_discount").attr("data-placeholder", "Select brand").chosen();
                                        $("#target_general_products_percentage_discount").attr("data-placeholder", "Select target").chosen();
                                        $("#code_general_products_percentage_discount").tagit({
                                            autocomplete: {
                                                delay: 0,
                                                minLength: 1,
                                                source: function (search, response) {
                                                    $.ajax({
                                                        url: "/events/autocomplete_events",
                                                        data: {
                                                            brand: $("#brand_general_products_percentage_discount").val(),
                                                            target: $("#target_general_products_percentage_discount").val(),
                                                            term: search.term
                                                        },
                                                        success: function (data) {
                                                            response($.map(data, function (item) {
                                                                return {
                                                                    id: item.id,
                                                                    label: item.label
                                                                }
                                                            }));
                                                        }
                                                    });
                                                }
                                            },
                                            placeholderText: 'Article code'
                                        });
                                        /*$("input.ui-autocomplete-input").keyup(function () {
                                         if ($("#brand_general_products_percentage_discount").val() == "" || $("#target_general_products_percentage_discount").val() == "") {
                                         bootbox.alert({message: "Please Select Brand And Target First!", size: 'small'});
                                         }
                                         });*/
                                        $("#event_start_date_time").datetimepicker({
                                            format: "dd/mm/yyyy hh:ii",
                                            autoclose: true,
                                            minuteStep: 1
                                        });
                                        $("#event_end_date_time").datetimepicker({
                                            format: "dd/mm/yyyy hh:ii",
                                            autoclose: true,
                                            minuteStep: 1
                                        });
                                        var eventWarehousesDataTable = $('#listing_event_warehouses_table').DataTable({
                                            order: [1, 'asc'],
                                            dom: 'T<"clear">lfrtip',
                                            columns: [
                                                {data: null, defaultContent: '', orderable: false},
                                                {data: 'code'},
                                                {data: 'name'}
                                            ],
                                            tableTools: {
                                                sRowSelect: 'os',
                                                /*sRowSelector: 'td:first-child',*/
                                                aButtons: ['select_all', 'select_none']
                                            },
                                            paging: false,
                                            info: false,
                                            scrollY: "250px",
                                            scrollCollapse: true
                                        });
                                        $("#generate_event_percentage_warehouse_form").click(function (e) {
                                            if (eventWarehousesDataTable.rows('.selected').data().length == 0) {
                                                e.preventDefault();
                                                bootbox.alert({message: "You have not selected warehouse yet!", size: 'small'});
                                            } else {
                                                var warehouseIds = [];
                                                $.each(eventWarehousesDataTable.rows('.selected')[0], function (index, value) {
                                                    warehouseIds.push(eventWarehousesDataTable.rows(value).nodes().to$().attr("id").split("_")[1]);
                                                });
                                  <% if @event.new_record? %>
                                                  $.get("/events/generate_warehouse_form", {
                                                      warehouse_ids: warehouseIds.join(","),
                                                      event_type: ""
                                                  });
                                  <% else %>
                                                  $.get("/events/generate_warehouse_form", {
                                                      warehouse_ids: warehouseIds.join(","),
                                                      event_type: "",
                                                      event_id: "<%= @event.id %>"
                                                  });
                                  <% end %>
                                            }

                                        });
                                        if ($(".discount-fields").length > 0)
                                            $(".discount-fields").numeric();

                                        $("#submit-btn").click(function () {
                                            if ($("#listing-warehouse-details").html().trim() == "") {
                                                bootbox.alert({message: "Please generate warehouse form", size: 'small'});
                                                return false;
                                            } else {
                                                if ($(".event_warehouse_id_fields").length > 0) {
                                                    var valid = true;
                                                    $(".event_warehouse_id_fields").each(function () {
                                                        if ($("#event_event_warehouses_attributes_" + $(this).val() + "_select_different_products").is(':checked')) {
                                                            if ($("#event_product_fields_container_" + $(this).val()).length == 0) {
                                                                valid = false;
                                                                return false;
                                                            } else if ($("#event_product_fields_container_" + $(this).val()).html().trim() == "") {
                                                                valid = false;
                                                                return false;
                                                            }
                                                        } else
                                                        if ($("#event_general_product_fields_container_percentage_discount").length == 0) {
                                                            valid = false;
                                                            return false;
                                                        } else if ($("#event_general_product_fields_container_percentage_discount").html().trim() == "") {
                                                            valid = false;
                                                            return false;
                                                        }
                                                    });
                                                    if (!valid) {
                                                        bootbox.alert({message: "Please select product(s) for selected warehouse(s)", size: 'small'});
                                                        return false;
                                                    } else
                                                        return true;
                                                } else {
                                                    bootbox.alert({message: "Please generate warehouse form", size: 'small'});
                                                    return false;
                                                }

                                            }
                                        });
                                  <% @event.event_warehouses.each do |event_warehouse| %>
                                    <% unless event_warehouse._destroy %>
                                            var e = jQuery.Event("click");
                                            e.ctrlKey = true;
                                            $("#warehouse_<%= event_warehouse.warehouse_id %>").find("td:first-child").trigger(e);
                                    <% end %>
                                  <% end %>

                                        $("#add-btn-percentage-discount-products").click(function () {
                                            var productIds = [];
                                            products = $("#code_general_products_percentage_discount").val().split(",");
                                            products.forEach(function (element) {
                                                productIds.push(element.split(";")[0]);
                                            });
                                            var selectedProductIds = [];
                                            $(".event-general-products-product-id-fields-percentage-discount").each(function () {
                                                var attrId = $(this).attr('id');
                                                selectedProductIds.push(attrId.split("_")[5]);
                                            });
                                  <% if @event.new_record? %>
                                              $.get("/events/new_add_general_products", {
                                                  products: productIds,
                                                  selected_products: selectedProductIds,
                                                  event_type: ""
                                              });
                                  <% else %>
                                              $.get("/events/new_add_general_products", {
                                                  products: productIds,
                                                  selected_products: selectedProductIds,
                                                  event_type: "",
                                                  event_id: "<%= @event.id %>"
                                              });
                                  <% end %>
                                            $('#code_general_products_percentage_discount').tagit('removeAll');
                                        });

                                        /*$("#add-btn-percentage-discount").click(function () {
                                         var productIds = [];
                                         $(".event-general-products-product-id-fields-percentage-discount").each(function () {
                                         var attrId = $(this).attr('id');
                                         productIds.push(attrId.split("_")[5]);
                                         });
                                         var addProductParams = {};
                                         <%# if @event.new_record? %>
                                         addProductParams = {
                                         brand_id: $("#brand_general_products_percentage_discount").val(),
                                         goods_type_id: $("#goods_type_general_products_percentage_discount").val(),
                                         model_id: $("#model_general_products_percentage_discount").val(),
                                         selected_product_ids: productIds.join(","),
                                         event_type: ""
                                         };
                                         <%# else %>
                                         addProductParams = {
                                         brand_id: $("#brand_general_products_percentage_discount").val(),
                                         goods_type_id: $("#goods_type_general_products_percentage_discount").val(),
                                         model_id: $("#model_general_products_percentage_discount").val(),
                                         selected_product_ids: productIds.join(","),
                                         event_type: "",
                                         event_id: "<%#= @event.id %>"
                                         };
                                         <%# end %>
                                         $.get("/events/add_general_products", addProductParams);
                                         $("#brand_general_products_percentage_discount").prop('selectedIndex', 0);
                                         $("#goods_type_general_products_percentage_discount").prop('selectedIndex', 0);
                                         $("#model_general_products_percentage_discount").prop('selectedIndex', 0);
                                         return false;
                                         });*/

                                        /*$('#code_general_products_percentage_discount').keypress(function (e) {
                                         var key = e.which;
                                         if (key == 13)  // the enter key code
                                         {
                                         if ($("#code_general_products_percentage_discount").val().trim() != "") {
                                         $("#add-btn-by-code-percentage-discount").click();
                                         }
                                         return false;
                                         }
                                         });*/

                                        /*$("#add-btn-by-code-percentage-discount").click(function () {
                                         if ($("#code_general_products_percentage_discount").val().trim() == "")
                                         bootbox.alert({message: "Please fill out the field above", size: "small"});
                                         else {
                                         var productIds = [];
                                         $(".event-general-products-product-id-fields-percentage-discount").each(function () {
                                         var attrId = $(this).attr('id');
                                         productIds.push(attrId.split("_")[5]);
                                         });
                                         var addProductParams = {};
                                         <%# if @event.new_record? %>
                                         addProductParams = {
                                         product_code: $("#code_general_products_percentage_discount").val(),
                                         selected_product_ids: productIds.join(","),
                                         event_type: ""
                                         };
                                         <%# else %>
                                         addProductParams = {
                                         product_code: $("#code_general_products_percentage_discount").val(),
                                         selected_product_ids: productIds.join(","),
                                         event_type: "",
                                         event_id: "<%#= @event.id %>"
                                         };
                                         <%# end %>
                                         $.get("/events/add_general_products", addProductParams);
                                         $("#code_general_products_percentage_discount").val("");
                                         }
                                         return false;
                                         });*/

                                        $('#event_code_discount_percentage').on("input", function () {
                                            $(this).val($(this).val().replace(/ /g, ""));
                                        });
                                    });
                                  </script>
