<td colspan="5">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <% if @event.new_record? %>
              <li role="presentation" class="active"><a href="#discount_percentage" aria-controls="discount_percentage" role="tab" data-toggle="tab">Discount(%)</a></li>
              <li role="presentation"><a href="#discount_cash" aria-controls="discount_cash" role="tab" data-toggle="tab">Discount(Rp)</a></li>
              <li role="presentation"><a href="#special_price" aria-controls="special_price" role="tab" data-toggle="tab">Special Price</a></li>
              <li role="presentation"><a href="#buy_one_get_one_free" aria-controls="buy_one_get_one_free" role="tab" data-toggle="tab">Buy 1 Get 1 Free</a></li>
              <li role="presentation"><a href="#reward" aria-controls="reward" role="tab" data-toggle="tab">Gift</a></li>
            <% else %>
              <% if @event.first_plus_discount.present? %>
                <li role="presentation" class="active"><a href="#discount_percentage" aria-controls="discount_percentage" role="tab" data-toggle="tab">Discount(%)</a></li>
              <% elsif @event.cash_discount.present? %>
                <li role="presentation" class="active"><a href="#discount_cash" aria-controls="discount_cash" role="tab" data-toggle="tab">Discount(Rp)</a></li>
              <% elsif @event.special_price.present? %>
                <li role="presentation" class="active"><a href="#special_price" aria-controls="special_price" role="tab" data-toggle="tab">Special Price</a></li>
              <% elsif @event.buy_one_get_one_free? %>
                <li role="presentation" class="active"><a href="#buy_one_get_one_free" aria-controls="buy_one_get_one_free" role="tab" data-toggle="tab">Buy 1 Get 1 Free</a></li>
              <% elsif @event.reward_system? %>
                <li role="presentation" class="active"><a href="#reward" aria-controls="reward" role="tab" data-toggle="tab">Gift</a></li>
              <% end %>
            <% end %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <% if @event.new_record? %>
              <div role="tabpanel" class="tab-pane fade in active" id="discount_percentage" style="padding-top: 20px">
                  <div id="form_container_disc_percentage">
                      <%= render "form_discount_percentage" %>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="discount_cash" style="padding-top: 20px">
                  <div id="form_container_discount_cash">
                      <%= render "form_discount_cash" %>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="special_price" style="padding-top: 20px">
                  <div id="form_container_special_price">
                      <%= render "form_special_price" %>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="buy_one_get_one_free" style="padding-top: 20px">
                  <div id="form_container_buy_one_get_one_free">
                      <%= render "form_buy_one_get_one" %>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="reward" style="padding-top: 20px">
                  <div id="form_container_reward">
                      <%= render "form_gift" %>
                  </div>
              </div>
            <% else %>
              <% if @event.first_plus_discount.present? %>
                <div role="tabpanel" class="tab-pane fade in active" id="discount_percentage" style="padding-top: 20px">
                    <div id="form_container_disc_percentage">
                        <%= render "form_discount_percentage" %>
                    </div>
                </div>
              <% elsif @event.cash_discount.present? %>
                <div role="tabpanel" class="tab-pane fade in active" id="discount_cash" style="padding-top: 20px">
                    <div id="form_container_discount_cash">
                        <%= render "form_discount_cash" %>
                    </div>
                </div>
              <% elsif @event.special_price.present? %>
                <div role="tabpanel" class="tab-pane fade in active" id="special_price" style="padding-top: 20px">
                    <div id="form_container_special_price">
                        <%= render "form_special_price" %>
                    </div>
                </div>
              <% elsif @event.buy_one_get_one_free? %>
                <div role="tabpanel" class="tab-pane fade in active" id="buy_one_get_one_free" style="padding-top: 20px">
                    <div id="form_container_buy_one_get_one_free">
                        <%= render "form_buy_one_get_one" %>
                    </div>
                </div>
              <% elsif @event.reward_system? %>
                <div role="tabpanel" class="tab-pane fade in active" id="reward" style="padding-top: 20px">
                    <div id="form_container_reward">
                        <%= render "form_gift" %>
                    </div>
                </div>
              <% end %>
            <% end %>
        </div>
    </div>                         
</td>

<script type="text/javascript">
  $(function () {
// funny solution for silly bug
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          var target = $(e.target).attr("href") // activated tab
          if (target == "#discount_cash" && ($('#listing_event_warehouses_table_discount_cash').dataTable().fnSettings().aaSorting[0][0] == 1 || $('#listing_event_warehouses_table_discount_cash').dataTable().fnSettings().aaSorting[0][0] === undefined)) {
              $("#code_th_cash_discount").click();
              $("#code_th_cash_discount").click();
          } else if (target == "#special_price" && ($('#listing_event_warehouses_table_special_price').dataTable().fnSettings().aaSorting[0][0] == 1 || $('#listing_event_warehouses_table_special_price').dataTable().fnSettings().aaSorting[0][0] === undefined)) {
              $("#code_th_sp").click();
              $("#code_th_sp").click();
          } else if (target == "#buy_one_get_one_free" && ($('#listing_event_warehouses_table_buy_one_get_one').dataTable().fnSettings().aaSorting[0][0] == 1 || $('#listing_event_warehouses_table_buy_one_get_one').dataTable().fnSettings().aaSorting[0][0] === undefined)) {
              $("#code_th_bogo").click();
              $("#code_th_bogo").click();
          } else if (target == "#reward" && ($('#listing_event_warehouses_table_gift').dataTable().fnSettings().aaSorting[0][0] == 1 || $('#listing_event_warehouses_table_gift').dataTable().fnSettings().aaSorting[0][0] === undefined)) {
              $("#code_th_gift").click();
              $("#code_th_gift").click();
          }
      });
  });
</script>  
