<% @event.event_warehouses.each do |event_warehouse| %>
  <%= fields_for "event[event_warehouses_attributes][#{event_warehouse.warehouse_id}]", event_warehouse do |event_warehouse_fields| %>
    <%= event_warehouse_fields.hidden_field :warehouse_id %>
    <%= event_warehouse_fields.hidden_field :wrhs_code %>
    <%= event_warehouse_fields.hidden_field :wrhs_name %>
    <%= event_warehouse_fields.hidden_field :event_type %>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="x_panel">
                <div class="x_title">
                    <h2><%= "#{event_warehouse.wrhs_code} - #{event_warehouse.wrhs_name}" %></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="form-group<%= control_group_error(event_warehouse_fields.object, :minimum_purchase_amount) %>">
                        <%= event_warehouse_fields.label :minimum_purchase_amount, class: "col-sm-3 control-label" %>
                          <div class="col-sm-9">
                              <%= event_warehouse_fields.text_field :minimum_purchase_amount, "data-a-sep" => ".",
                                "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16, class: "form-control event-gift-money-fields" %>
                                <%= error_help_text(event_warehouse_fields.object, :minimum_purchase_amount) %>
                            </div>
                        </div>

                        <div class="form-group<%= control_group_error(event_warehouse_fields.object, :discount_amount) %>">
                            <%= event_warehouse_fields.label :discount_amount, class: "col-sm-3 control-label" %>
                              <div class="col-sm-9">
                                  <%= event_warehouse_fields.text_field :discount_amount, "data-a-sep" => ".",
                                    "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16, class: "form-control event-gift-money-fields" %>
                                    <%= error_help_text(event_warehouse_fields.object, :discount_amount) %>
                                </div>
                            </div>

                            <div class="form-group<%= control_group_error(event_warehouse_fields.object, :add_items_to_gift_list) %>">
                                <%= event_warehouse_fields.label :add_items_to_gift_list, class: "col-sm-3 control-label" %>
                                  <div class="col-sm-9">
                                      <%= event_warehouse_fields.select :add_items_to_gift_list, options_for_select(EventWarehouse::YES_OR_NO, action_name.eql?("create") ? event_warehouse_fields.object.add_items_to_gift_list : "no"), {prompt: false}, {class: "form-control add-items-to-gift-list-select-tag"} %>
                                        <%= error_help_text(event_warehouse_fields.object, :add_items_to_gift_list) %>
                                    </div>
                                </div>

                                <div class="form-group<%= control_group_error(event_warehouse_fields.object, :apply_to_all_items) %><%= !action_name.eql?("create") ? " hidden" : (event_warehouse_fields.object.add_items_to_gift_list.eql?("yes") ? "" : " hidden") %>" id="apply-to-all-items-field-<%= event_warehouse.warehouse_id %>">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <%= event_warehouse_fields.check_box :apply_to_all_items, class: "event-gift-apply-to-all-fields" %> Select all items
                                      </div>
                                  </div>

                                  <div id="adding-gift-item-methods-<%= event_warehouse.warehouse_id %>" class="<%= event_warehouse.apply_to_all_items.eql?("1") || action_name.eql?("generate_warehouse_form") ? "hidden" : "display" %>">
                                      <!-- Nav tabs -->
                                      <ul class="nav nav-tabs" role="tablist">
                                          <li role="presentation" class="active"><a href="#add_products_by_bgm_<%= event_warehouse.warehouse_id %>_gift" aria-controls="add_products_by_bgm_<%= event_warehouse.warehouse_id %>_gift" role="tab" data-toggle="tab">Add products by brand/goods type/model</a></li>
                                          <li role="presentation"><a href="#add_products_by_code_<%= event_warehouse.warehouse_id %>_gift" aria-controls="add_products_by_code_<%= event_warehouse.warehouse_id %>_gift" role="tab" data-toggle="tab">Add products by code</a></li>
                                      </ul>
                                      <!-- Tab panes -->
                                      <div class="tab-content">
                                          <div role="tabpanel" class="tab-pane fade in active" id="add_products_by_bgm_<%= event_warehouse.warehouse_id %>_gift" style="padding-top: 20px">
                                              <div class="form-group">
                                                  <label class="control-label col-sm-3" for="brand">Brand</label>
                                                  <div class="col-sm-9">
                                                      <%= select_tag "brand", options_from_collection_for_select(@brands, :id, "code_and_name"), {prompt: "Select", class: "form-control", id: "brand_#{event_warehouse.warehouse_id}_gift"} %>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3" for="goods-type">Goods Type</label>
                                                    <div class="col-sm-9">
                                                        <%= select_tag "goods_type", options_from_collection_for_select(@goods_types, :id, "code_and_name"), {prompt: "Select", class: "form-control", id: "goods_type_#{event_warehouse.warehouse_id}_gift"} %>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-sm-3" for="model">Model</label>
                                                      <div class="col-sm-9">
                                                          <%= select_tag "model", options_from_collection_for_select(@models, :id, "code_and_name"), {prompt: "Select", class: "form-control", id: "model_#{event_warehouse.warehouse_id}_gift"} %>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-3 col-sm-9">
                                                            <button type="submit" class="btn btn-success add-buttons-gift" id="add-btn-<%= event_warehouse.warehouse_id %>-gift">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="add_products_by_code_<%= event_warehouse.warehouse_id %>_gift" style="padding-top: 20px">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="code">Code</label>
                                                        <div class="col-sm-9">
                                                            <%= text_field_tag "code", "", {class: "form-control", id: "code_#{event_warehouse.warehouse_id}_gift"} %>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <div class="col-sm-offset-3 col-sm-9">
                                                              <button type="submit" class="btn btn-success add-buttons-by-code-gift" id="add-btn-<%= event_warehouse.warehouse_id %>-by-code-gift">Add</button>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div id="listing-warehouse-<%= event_warehouse.warehouse_id %>-products-gift">
                                                  <% if event_warehouse.apply_to_all_items.eql?("0") && event_warehouse.event_products.present? %>
                                                    <%= render partial: "listing_warehouse_products", locals: {event_warehouse: event_warehouse} %>
                                                  <% end %>
                                              </div>
                                          </div>

                                          <div class="ln_solid"></div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                        <% end %>
                      <% end %>

                      <script type="text/javascript">
                        $(function () {
                            $('.event-gift-money-fields').autoNumeric('init');
                            $(".add-items-to-gift-list-select-tag").change(function () {
                                var warehouseId = $(this).attr("id").split("_")[4];
                                if ($(this).val() == "no")
                                    $("#apply-to-all-items-field-" + warehouseId).addClass("hidden");
                                else if ($(this).val() == "yes")
                                    $("#apply-to-all-items-field-" + warehouseId).removeClass("hidden");
                            });

                            $(".event-gift-apply-to-all-fields").click(function () {
                                var warehouseId = $(this).attr("id").split("_")[4];
                                if ($(this).is(":checked")) {
                                    $("#adding-gift-item-methods-" + warehouseId).addClass("hidden");
                                    $("#event_product_fields_container_" + warehouseId + "_gift").html("");
                                    $("#warehouse_product_datatable_" + warehouseId + "_gift").html("");
                                } else {
                                    $("#adding-gift-item-methods-" + warehouseId).removeClass("hidden");
                                }

                            });

                            $(".add-buttons-gift").click(function () {
                                var warehouseId = $(this).attr("id").split("-")[2];
                                if ($("#brand_" + warehouseId + "_gift").val() == "" && $("#goods_type_" + warehouseId + "_gift").val() == "" && $("#model_" + warehouseId + "_gift").val() == "")
                                    bootbox.alert({message: "Please fill at least one field", size: "small"});
                                else {
                                    var productIds = [];
                                    $("#listing_event_warehouse_products_table_" + warehouseId + "_gift > tbody > tr").each(function () {
                                        var attrId = $(this).attr('id');
                                        if (typeof attrId !== typeof undefined && attrId !== false)
                                            productIds.push(attrId.split("_")[3]);
                                    });
                                    $.get("/events/add_products", {
                                        warehouse_id: warehouseId,
                                        brand_id: $("#brand_" + warehouseId + "_gift").val(),
                                        goods_type_id: $("#goods_type_" + warehouseId + "_gift").val(),
                                        model_id: $("#model_" + warehouseId + "_gift").val(),
                                        selected_product_ids: productIds.join(","),
                                        event_type: "gift"
                                    });
                                    $("#brand_" + warehouseId + "_gift").prop('selectedIndex', 0);
                                    $("#goods_type_" + warehouseId + "_gift").prop('selectedIndex', 0);
                                    $("#model_" + warehouseId + "_gift").prop('selectedIndex', 0);
                                }
                                return false;
                            });
                            $(".add-buttons-by-code-gift").click(function () {
                                var warehouseId = $(this).attr("id").split("-")[2];
                                if ($("#code_" + warehouseId + "_gift").val().trim() == "")
                                    bootbox.alert({message: "Please fill out the field above", size: "small"});
                                else {
                                    var productIds = [];
                                    $("#listing_event_warehouse_products_table_" + warehouseId + "_gift > tbody > tr").each(function () {
                                        var attrId = $(this).attr('id');
                                        if (typeof attrId !== typeof undefined && attrId !== false)
                                            productIds.push(attrId.split("_")[3]);
                                    });
                                    $.get("/events/add_products", {
                                        warehouse_id: warehouseId,
                                        product_code: $("#code_" + warehouseId + "_gift").val(),
                                        selected_product_ids: productIds.join(","),
                                        event_type: "gift"
                                    });
                                    $("#code_" + warehouseId + "_gift").val("");
                                }
                                return false;
                            });
                        });
                      </script>