<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @event.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @event.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @event.end_date_time %>
</p>

<p>
  <strong>Apply to all items:</strong>
  <%= @event.apply_to_all_items %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
