%td= object.code rescue object.coa.code
%td= object.name rescue object.coa.description
%td= object.saldo
%td.actions{:style => "text-align: right"}
  = link_to_if(can?(:manage, Coa), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_accounting_account_saldo_path(object), :remote => true, class: :edit, method: :get, title: "Edit" )
  = link_to_if(can?(:manage, Coa), content_tag(:i, "", :class => "glyphicon glyphicon-trash"), accounting_account_saldo_path(object), :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure that you want to permanently delete the selected item?', placement: :left}, title: "Delete" )
