<%= form_for(@purchase_return) do |f| %>
  <% if @purchase_return.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@purchase_return.errors.count, "error") %> prohibited this purchase_return from being saved:</h2>

        <ul>
            <% @purchase_return.errors.each do |attr, message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :purchase_order_id %><br>
      <%= f.select :purchase_order_id, options_from_collection_for_select(@purchase_orders, :id, :number, @purchase_return.purchase_order_id.to_s), {prompt: true} %>
  </div>
  <div id="purchase_order_detail">
      <% if @purchase_return.purchase_return_products.present? %>
      <%= render "purchase_order_details" %>
      <% end %>
  </div>
  <div class="actions">
      <%= f.submit "Save", data: { confirm: "This action cannot be undone\nAre you sure?" } %>
  </div>
<% end %>
