<td colspan="3">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#purchase_order" aria-controls="purchase_order" role="tab" data-toggle="tab">Purchase Order</a></li>
            <li role="presentation"><a href="#direct_purchase" aria-controls="direct_purchase" role="tab" data-toggle="tab">Direct Purchase</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="purchase_order" style="padding-top: 20px">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Search purchase records</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal">

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#search_by_multi_criterias_po" aria-controls="search_by_multi_criterias_po" role="tab" data-toggle="tab">Search by po date/vendor</a></li>
                                        <li role="presentation"><a href="#search_by_po_number" aria-controls="search_by_po_number" role="tab" data-toggle="tab">Search by PO number</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="search_by_multi_criterias_po" style="padding-top: 20px">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="po-date">PO Date</label>
                                                <div class="col-sm-10">
                                                    <%= text_field_tag "po_date", "", {class: "form-control", readonly: true} %>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">                                                      
                                                      <%= select_tag "query_operator", options_for_select(PurchaseReturn::QUERY_OPERATORS), {class: "form-control", style: "width: 76px !important"} %>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2" for="vendor">Vendor</label>
                                                    <div class="col-sm-10">
                                                        <%= select_tag "vendor", options_from_collection_for_select(@vendors, :id, :name), {prompt: "Select", class: "form-control"} %>
                                                      </div>
                                                  </div>
                                                  <div class="ln_solid"></div>
                                                  <div class="form-group">
                                                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                                                          <button type="submit" class="btn btn-success" id="search-po-btn">Search</button>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div role="tabpanel" class="tab-pane fade" id="search_by_po_number" style="padding-top: 20px">
                                                  <div class="form-group">
                                                      <label class="control-label col-sm-2" for="po-number">Number</label>
                                                      <div class="col-sm-10">
                                                          <%= text_field_tag "number", "", {class: "form-control"} %>
                                                        </div>
                                                    </div>
                                                    <div class="ln_solid"></div>
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                                                            <button type="submit" class="btn btn-success" id="search-po-by-number-btn">Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pr_form_container_po">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="direct_purchase" style="padding-top: 20px">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Search purchase records</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="form-horizontal">

                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#search_by_multi_criterias_dp" aria-controls="search_by_multi_criterias_dp" role="tab" data-toggle="tab">Search by received date/vendor</a></li>
                                                <li role="presentation"><a href="#search_by_do_number" aria-controls="search_by_do_number" role="tab" data-toggle="tab">Search by DO number</a></li>
                                                <li role="presentation"><a href="#search_by_trans_number" aria-controls="search_by_trans_number" role="tab" data-toggle="tab">Search by transaction number</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="search_by_multi_criterias_dp" style="padding-top: 20px">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-2" for="received-date">Received Date</label>
                                                        <div class="col-sm-10">
                                                            <%= text_field_tag "received_date", "", {class: "form-control", readonly: true} %>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                                                              <%= select_tag "query_operator", options_for_select(PurchaseReturn::QUERY_OPERATORS), {class: "form-control", style: "width: 76px !important", id: "query_operator_dp"} %>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2" for="vendor">Vendor</label>
                                                            <div class="col-sm-10">
                                                                <%= select_tag "vendor", options_from_collection_for_select(@vendors, :id, :name), {prompt: "Select", class: "form-control", id: "vendor_dp"} %>
                                                              </div>
                                                          </div>
                                                          <div class="ln_solid"></div>
                                                          <div class="form-group">
                                                              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                                                                  <button type="submit" class="btn btn-success" id="search-dp-btn">Search</button>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div role="tabpanel" class="tab-pane fade" id="search_by_do_number" style="padding-top: 20px">
                                                          <div class="form-group">
                                                              <label class="control-label col-sm-2" for="do-number">Number</label>
                                                              <div class="col-sm-10">
                                                                  <%= text_field_tag "number", "", {class: "form-control", id: "number_do"} %>
                                                                </div>
                                                            </div>
                                                            <div class="ln_solid"></div>
                                                            <div class="form-group">
                                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                                                                    <button type="submit" class="btn btn-success" id="search-dp-by-number-btn">Search</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="search_by_trans_number" style="padding-top: 20px">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-2" for="trans-number">Number</label>
                                                                <div class="col-sm-10">
                                                                    <%= text_field_tag "number", "", {class: "form-control", id: "number_trans"} %>
                                                                  </div>
                                                              </div>
                                                              <div class="ln_solid"></div>
                                                              <div class="form-group">
                                                                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                                                                      <button type="submit" class="btn btn-success" id="search-dp-by-trans-number-btn">Search</button>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div id="pr_form_container_dp">
                                  </div>
                              </div>
                          </div>

                      </div>    
                  </td>

                  <script>
                    $(function () {
                        $('#po_date').daterangepicker(
                                {
                                    locale: {
                                        format: 'DD/MM/YYYY'
                                    },
                                    opens: "right",
                                    autoUpdateInput: false
                                });
                        $('#po_date').on('apply.daterangepicker', function (ev, picker) {
                            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                        });

                        $('#po_date').on('cancel.daterangepicker', function (ev, picker) {
                            $(this).val('');
                        });

                        $('#received_date').daterangepicker(
                                {
                                    locale: {
                                        format: 'DD/MM/YYYY'
                                    },
                                    opens: "right",
                                    autoUpdateInput: false
                                });
                        $('#received_date').on('apply.daterangepicker', function (ev, picker) {
                            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                        });

                        $('#received_date').on('cancel.daterangepicker', function (ev, picker) {
                            $(this).val('');
                        });

                        $("#search-po-btn").click(function () {
                            $.get("/purchase_returns/filter_purchase_records", {
                                po_date: $("#po_date").val(),
                                query_operator: $("#query_operator").val(),
                                vendor_id: $("#vendor").val()
                            });
                        });

                        $("#search-dp-btn").click(function () {
                            $.get("/purchase_returns/filter_purchase_records", {
                                received_date: $("#received_date").val(),
                                query_operator: $("#query_operator_dp").val(),
                                vendor_id: $("#vendor_dp").val(),
                                type: "direct purchase"
                            });
                        });

                        $("#search-po-by-number-btn").click(function () {
                            if ($("#number").val().trim() == "")
                                bootbox.alert({message: "Please fill out the field above", size: "small"});
                            else {
                                $.get("/purchase_returns/filter_purchase_records", {
                                    po_number: $("#number").val().trim()
                                });
                            }
                        });

                        $("#search-dp-by-number-btn").click(function () {
                            if ($("#number_do").val().trim() == "")
                                bootbox.alert({message: "Please fill out the field above", size: "small"});
                            else {
                                $.get("/purchase_returns/filter_purchase_records", {
                                    do_number: $("#number_do").val().trim(),
                                    type: "direct purchase"
                                });
                            }
                        });

                        $("#search-dp-by-trans-number-btn").click(function () {
                            if ($("#number_trans").val().trim() == "")
                                bootbox.alert({message: "Please fill out the field above", size: "small"});
                            else {
                                $.get("/purchase_returns/filter_purchase_records", {
                                    number_trans: $("#number_trans").val().trim(),
                                    type: "direct purchase"
                                });
                            }
                        });

                    });
                  </script>