<table class="table table-condensed table-responsive table-bordered" style="table-layout: fixed;width: 100%">
    <tbody>
        <tr>
            <td style="text-align: center;vertical-align: middle;width: 15% !important"><strong>Article Code</strong></td>
            <% if current_user.has_managerial_role? %>
              <td style="text-align: center;vertical-align: middle;width: 15% !important"><strong>Cost</strong></td>
            <% end %>
            <td style="text-align: center;vertical-align: middle;width: auto !important"><strong>Available Quantity In PO</strong></td>
            <td style="text-align: center;vertical-align: middle;width: auto !important"><strong>Return Quantity</strong></td>
        </tr>
        <% @purchase_return.purchase_return_products.each_with_index do |pr_product, idx| %>
          <% purchase_order_product_colors = @purchase_order_products.select{|pop| pop.id == pr_product.purchase_order_product_id}.first.colors.distinct %>
          <% purchase_order_product_sizes = @purchase_order_products.select{|pop| pop.id == pr_product.purchase_order_product_id}.first.sizes.distinct %>
          <%= fields_for "purchase_return[purchase_return_products_attributes][#{pr_product.purchase_order_product_id}]", pr_product do |purchase_return_product_detail_form| %>
            <%= purchase_return_product_detail_form.hidden_field :purchase_order_product_id %>
            <%= purchase_return_product_detail_form.hidden_field :product_cost if current_user.has_managerial_role? %>
            <%= purchase_return_product_detail_form.hidden_field :product_code %>
            <%= purchase_return_product_detail_form.hidden_field :product_name %>
            <%= purchase_return_product_detail_form.hidden_field :product_id %>
            <tr align="center">
                <td style="text-align: center;vertical-align: middle;width: 15% !important"><%= "#{purchase_return_product_detail_form.object.product_code} - #{purchase_return_product_detail_form.object.product_name}" %></td>
                <% if current_user.has_managerial_role? %>
                  <td style="text-align: center;vertical-align: middle;width: 15% !important"><%= number_to_currency((purchase_return_product_detail_form.object.product_cost), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                <% end %>
                <td style="text-align: center;vertical-align: top;width: auto !important">
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-bordered">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <% purchase_order_product_sizes.each do |size| %>
                                      <td align="center"><%= size.size %></td>
                                    <% end %>
                                    <td align="center" style="vertical-align: middle"><strong>Qty / Color</strong></td>
                                </tr>
                                <% purchase_order_product_colors.each_with_index do |color, idx| %>
                                  <tr>
                                      <td style="vertical-align: middle"><%= "#{color.code} - #{color.name}" %></td>
                                      <% qty_per_color = 0 %>                                
                                      <% purchase_order_product_sizes.each do |size| %>
                                        <% purchase_order_detail = nil %>                                
                                        <% pr_item = pr_product.purchase_return_items.select do |pri| %>
                                          <% purchase_order_detail = @purchase_order_details[pr_product.purchase_order_product_id].select{|pod| pod.id == pri.purchase_order_detail_id}.first %>
                                          <% purchase_order_detail.color_id.eql?(color.id) && purchase_order_detail.size_id.eql?(size.id) %>
                                        <% end.first %>

                                        <% if quantity = is_having_stock?(purchase_order_detail) %>
                                          <td align="center">      
                                              <%= quantity %>
                                              <% qty_per_color += quantity %>
                                          </td>
                                        <% else %>
                                          <td align="center">      
                                              0
                                          </td>
                                        <% end %>

                                      <% end %>
                                      <td align="center" style="vertical-align: middle"><%= qty_per_color %></td>
                                  </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="text-align: center;vertical-align: top;width: auto !important">
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-bordered">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <% purchase_order_product_sizes.each do |size| %>
                                      <td align="center"><%= size.size %></td>
                                    <% end %>
                                </tr>
                                <% purchase_order_product_colors.each_with_index do |color, idx| %>
                                  <tr>
                                      <td style="vertical-align: middle"><%= "#{color.code} - #{color.name}" %></td>
                                      <% purchase_order_product_sizes.each do |size| %>
                                        <% pr_item = pr_product.purchase_return_items.select do |pri| %>
                                          <% purchase_order_detail = @purchase_order_details[pr_product.purchase_order_product_id].select{|pod| pod.id == pri.purchase_order_detail_id}.first %>
                                          <% purchase_order_detail.color_id.eql?(color.id) && purchase_order_detail.size_id.eql?(size.id) %>
                                        <% end.first %>
                                        <td style="vertical-align: middle">
                                            <% if pr_item %>
                                              <%= fields_for "purchase_return[purchase_return_products_attributes][#{pr_product.purchase_order_product_id}][purchase_return_items_attributes][#{pr_item.purchase_order_detail_id}]", pr_item do |purchase_return_detail_detail_form| %>
                                                <%= purchase_return_detail_detail_form.hidden_field :purchase_order_detail_id %>
                                                <div class="<%= control_group_error(pr_item, :quantity) %>">
                                                    <%= purchase_return_detail_detail_form.text_field :quantity, placeholder: "qty", class: "quantity form-control quantity-fields", size: 5, style: "width: 50px !important" %>
                                                      <%= error_help_text(pr_item, :quantity) %>
                                                  </div>
                                                <% end %>
                                              <% end %>
                                          </td>
                                        <% end %>
                                    </tr>
                                  <% end %>
                              </tbody>
                          </table>
                      </div>
                  </td>
              </tr>
            <% end %>
          <% end %>

      </tbody>
  </table>

  <script>
    $(function () {
        $(".quantity").numeric({
            decimal: false,
            negative: false
        }, function () {
            alert("Positive integers only");
            this.value = "";
            this.focus();
        });

    });
  </script>

