<td id="pr-number-<%= object.id %>"><%= object.number %></td>
<td id="pr-vendor-name-<%= object.id %>"><%= object.name rescue "" %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, object, data: {remote: true}, title: "Show" %>
</td>
