<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-goods-type-thead">
        <tr>
            <th class="col-md-3"><%= smart_listing.sortable "Code", "code" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Name", "name" %></th>
            <th class="col-md-5"><%= smart_listing.sortable "Description", "description" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |goods_type| %>
          <tr class="editable" data-id="<%= goods_type.id %>">
              <%= smart_listing.render object: goods_type, partial: "goods_types/goods_type", locals: {object: goods_type} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 4, link: new_goods_type_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-goods-type-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-goods-type-thead").show();
      }
  }, 0);

</script>