<p>
  <b>Code:</b>
  <%= @goods_type.code %>
</p>

<p>
  <b>Name:</b>
  <%= @goods_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @goods_type.description %>
</p>
<%= link_to 'Edit', edit_goods_type_path(@goods_type) %> |
<%= link_to 'Back', goods_types_path %>
