<td colspan="5">
    <div style="padding-top: 20px"></div>
    <%= form_for(@company, remote: true, html: {class: "form-horizontal"}) do |f| %>
        <div class="form-group<%= control_group_error(@company, :code) %>">
            <%= f.label :code, class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                  <%= f.text_field :code, class: "form-control upcase inputs" %>
                    <%= error_help_text(@company, :code) %>
                </div>

            </div>
            <div class="form-group<%= control_group_error(@company, :name) %>">
                <%= f.label :name, class: "col-sm-3 control-label" %>
                  <div class="col-sm-9">
                      <%= f.text_field :name, class: "form-control inputs" %>
                        <%= error_help_text(@company, :name) %>
                    </div>
                </div>
                <div class="form-group<%= control_group_error(@company, :taxpayer_registration_number) %>">
                    <%= f.label :taxpayer_registration_number, class: "col-sm-3 control-label" %>
                      <div class="col-sm-9">
                          <%= f.text_field :taxpayer_registration_number, class: "form-control inputs" %>
                            <%= error_help_text(@company, :taxpayer_registration_number) %>
                        </div>
                    </div>
                    <div class="form-group<%= control_group_error(@company, :address) %>">
                        <%= f.label :address, class: "col-sm-3 control-label" %>
                          <div class="col-sm-9">
                              <%= f.text_area :address, rows: 6, class: "form-control" %>
                                <%= error_help_text(@company, :address) %>
                            </div>
                        </div>
                        <div class="form-group<%= control_group_error(@company, :phone) %>">
                            <%= f.label :phone, class: "col-sm-3 control-label" %>
                              <div class="col-sm-9">
                                  <%= f.telephone_field :phone, size: 10, class: "form-control inputs" %>
                                    <%= error_help_text(@company, :phone) %>
                                </div>
                            </div>
                            <div class="form-group<%= control_group_error(@company, :fax) %>">
                                <%= f.label :fax, class: "col-sm-3 control-label" %>
                                  <div class="col-sm-9">
                                      <%= f.telephone_field :fax, size: 10, class: "form-control inputs" %>
                                        <%= error_help_text(@company, :fax) %>
                                    </div>
                                </div>
                                <div class="form-group<%= control_group_error(@company, :import_beginning_stock) %>">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">
                                        <%= f.check_box :import_beginning_stock, checked: @company.import_beginning_stock %> With beginning stock
                                    </div>

                                </div>
                                <div id="company_bank_fields_container">
                                    <%= f.fields_for :company_banks do |company_bank| %>
                                      <%= render 'company_bank_fields', f: company_bank %>
                                    <% end %>
                                    <div class="form-group">
                                        <%= link_to_add_association 'add bank', f, :company_banks, class: "col-sm-3 control-label" %>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-sm-offset-3 col-sm-9">
                                          <%= f.submit "Save", class: "btn btn-primary" %>
                                            <button class="btn btn-link cancel">Cancel</button>
                                        </div>
                                    </div>
                                  <% end %>
                              </td>
                              <script>
                                $(function () {
                                    MaskedInput({
                                        elm: document.getElementById('company_phone'),
                                        format: '____-_______',
                                        separator: '-'
                                    });
                                    MaskedInput({
                                        elm: document.getElementById('company_fax'),
                                        format: '____-_______',
                                        separator: '-'
                                    });
                                    $('#company_code').on("input", function () {
                                        $(this).val($(this).val().replace(/ /g, ""));
                                    });
                                    $("#company_bank_fields_container").
                                            on('cocoon:after-insert', function (e, insertedItem) {
                                                var bankCodeFieldId = $($(insertedItem[0]).find("input:text")[0]).attr("id");
                                                $('#' + bankCodeFieldId).on("input", function () {
                                                    $(this).val($(this).val().replace(/ /g, ""));
                                                });
                                            });
                              <% if @company.company_banks.present? %>
                                      $(".company-bank-code-fields").on("input", function () {
                                          $(this).val($(this).val().replace(/ /g, ""));
                                      });
                                      $(".company-bank-account-number-fields").on("input", function () {
                                          $(this).val($(this).val().replace(/ /g, ""));
                                      });
                              <% end %>
                                });
                              </script>