<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-company-thead">
        <tr>
            <th class="col-md-2"><%= smart_listing.sortable "Code", "code" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Name", "name" %></th>
            <th class="col-md-4"><%= smart_listing.sortable "Address", "address" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Phone", "phone" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |company| %>
          <tr class="editable" data-id="<%= company.id %>">
              <%= smart_listing.render object: company, partial: "companies/company", locals: {object: company} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 5, link: new_company_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-company-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-company-thead").show();
      }
  }, 0);
</script>