<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>General Variable<small><%= @general_variable.new_record? ? "new items" : "edit items" %></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <%= form_for(@general_variable, html: {class: "form-horizontal"}) do |f| %>

                    <div class="form-group<%= control_group_error(@general_variable, :pieces_per_koli) %>">
                        <%= f.label :pieces_per_koli, class: "col-sm-3 control-label" %>
                          <div class="col-sm-9">
                              <%= f.number_field :pieces_per_koli, class: "form-control" %>
                                <%= error_help_text(@general_variable, :pieces_per_koli) %>
                            </div>
                        </div>
                        <div class="form-group<%= control_group_error(@general_variable, :beginning_of_account_payable_creating) %>">
                            <%= f.label :beginning_of_account_payable_creating, "Beginning of AP invoice creating", class: "col-sm-3 control-label" %>
                              <div class="col-sm-9">
                                  <%= f.select :beginning_of_account_payable_creating, options_for_select(GeneralVariable::BEGINNING_OF_AP_CREATINGS, @general_variable.beginning_of_account_payable_creating), {prompt: true}, {class: "form-control"} %>
                                    <%= error_help_text(@general_variable, :beginning_of_account_payable_creating) %>
                                </div>
                            </div>
                            <!--
                                            <div class="form-group<%#= control_group_error(@general_variable, :inventory_valuation_method) %>">
            <%#= f.label :inventory_valuation_method, class: "col-sm-3 control-label" %>
                                                  <div class="col-sm-9">
            <%#= f.select :inventory_valuation_method, options_for_select(GeneralVariable::INVENTORY_VALUATION_METHODS, @general_variable.inventory_valuation_method), {prompt: true}, {class: "form-control"} %>
            <%#= error_help_text(@general_variable, :inventory_valuation_method) %>
                                                    </div>
                                                </div>
                            -->
                            <!--
                            <div class="form-group<%#= control_group_error(@general_variable, :beginning_of_debt_recording) %>">
            <%#= f.label :beginning_of_debt_recording, class: "col-sm-3 control-label" %>
                                  <div class="col-sm-9">
            <%#= f.select :beginning_of_debt_recording, options_for_select(GeneralVariable::BEGINNING_OF_DEBT_RECORDINGS, @general_variable.beginning_of_debt_recording), {prompt: true}, {class: "form-control"} %>
            <%#= error_help_text(@general_variable, :beginning_of_debt_recording) %>
                                    </div>
                                </div>-->
                            <div class="ln_solid"></div>
                            <%= f.submit "Save", class: "btn btn-primary", style: "float: right" %>

                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

