<!--<div class="table-responsive">-->
<table class="table table-striped table-bordered" style="padding-bottom: 1px; word-wrap: break-word" id="sell-thru-table">
    <thead>
        <tr>
            <th colspan="10" class="text-center">
                <%= "Counter: #{@warehouse.code_and_name}" %>,
                <%= "Date: #{params[:date]}" %>
            </th>
        </tr>
        <tr>
            <th class="text-center">Article</th>
            <th class="text-center">Qty Rec.</th>
            <% month = @received_date.month %>
            <% 1..6.times do %>
              <th class="text-center"><%= Date::ABBR_MONTHNAMES[month] %></th>
              <% if month == 12 %>
                <% month = 1 %>
              <% else %>
                <% month += 1 %>
              <% end %>
            <% end %>
            <th class="text-center">Total Qty Sold</th>
            <th class="text-center">Percentage</th>
        </tr>
    </thead>
    <tbody>
        <% @shipment_products.each do |sp| %>
          <tr>
              <td>
                  <%= "#{sp.product_code} - #{sp.product_name}" %>
              </td>
              <td class="text-right">
                  <%= sp.qty_received_per_article %>
              </td>
              <% consignment_sale_product = @consignment_sale_products.select{|csp| csp.product_id == sp.product_id}.first %>
              <% total_per_article = (consignment_sale_product.present? ? consignment_sale_product.qty_sold_first : 0) %>
              <% total_per_article += (consignment_sale_product.present? ? consignment_sale_product.qty_sold_second : 0) %>
              <% total_per_article += (consignment_sale_product.present? ? consignment_sale_product.qty_sold_third : 0) %>
              <% total_per_article += (consignment_sale_product.present? ? consignment_sale_product.qty_sold_fourth : 0) %>
              <% total_per_article += (consignment_sale_product.present? ? consignment_sale_product.qty_sold_fifth : 0) %>
              <% total_per_article += (consignment_sale_product.present? ? consignment_sale_product.qty_sold_sixth : 0) %>
              <td class="text-right"><%= number_to_currency((consignment_sale_product.present? ? consignment_sale_product.qty_sold_first : 0),
                    :separator => "",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= number_to_currency((consignment_sale_product.present? ? consignment_sale_product.qty_sold_second : 0),
                    :separator => "",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= number_to_currency((consignment_sale_product.present? ? consignment_sale_product.qty_sold_third : 0),
                    :separator => "",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= number_to_currency((consignment_sale_product.present? ? consignment_sale_product.qty_sold_fourth : 0),
                    :separator => "",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= number_to_currency((consignment_sale_product.present? ? consignment_sale_product.qty_sold_fifth : 0),
                    :separator => "",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= number_to_currency((consignment_sale_product.present? ? consignment_sale_product.qty_sold_sixth : 0),
                    :separator => "",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <td class="text-right"><%= number_to_currency(total_per_article,
                    :separator => "",
                    :delimiter => ".",
                    :unit => "",
                    :precision => 0) %></td>
              <% percentage = total_per_article.to_f / sp.qty_received_per_article.to_f * 100 %>
              <td class="text-right"><%= number_with_precision(percentage, :precision => 2, :delimiter => '', :separator => ",") %>%</td>
          </tr>
        <% end %>
    </tbody>

</table>
