<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-ar-invoice-ds-thead">
        <tr>
            <th class="col-md-2"><%= smart_listing.sortable "Number", "number" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "DO Number", "shipment_do_number" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Due date", "due_date" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Customer", "customer_code" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Debt", "remaining_debt" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |ari| %>
          <tr class="editable" data-id="<%= ari.id %>">
              <%= smart_listing.render object: ari, partial: "accounts_receivable_invoices/accounts_receivable_invoice", locals: {object: ari} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 6, link: new_accounts_receivable_invoice_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var ariProcessId = setInterval(function () {
      if ($("#listing-ar-invoice-ds-thead").is(":visible")) {
          clearInterval(ariProcessId);
      } else {
          $("#listing-ar-invoice-ds-thead").show();
      }
  }, 0);

</script>