<td colspan="4">
    <div style="padding-top: 20px"></div>
    <%= form_for(@color, remote: true, html: {class: "form-horizontal"}) do |f| %>
        <!--
        <% if @color.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h2>

                        <ul>
          <% @color.errors.full_messages.each do |message| %>
                                      <li><%= message %></li>
          <% end %>
                        </ul>
                      </div>
        <% end %>-->

        <div class="form-group<%= control_group_error(@color, :code) %>">
            <%= f.label :code, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.text_field :code, class: "form-control upcase inputs", tabindex: "1" %>
                    <%= error_help_text(@color, :code) %>
                </div>
            </div>
            <div class="form-group<%= control_group_error(@color, :name) %>">
                <%= f.label :name, class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= f.text_field :name, class: "form-control inputs", tabindex: "2" %>
                        <%= error_help_text(@color, :name) %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :description, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.text_area :description, rows: 6, tabindex: "3", class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <%= f.submit "Save", class: "btn btn-primary" %>
                              <button class="btn btn-link cancel">Cancel</button>
                          </div>
                      </div>
                    <% end %>
                </td>
