<td colspan="6">
    <div style="padding-top: 20px"></div>
    <%= form_for(@vendor, remote: true, html: {class: "form-horizontal"}) do |f| %>
        <!--
        <% if @vendor.errors.any? %>
                                                                              <div id="error_explanation">
                                                                                  <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

                                                                                  <ul>
          <% @vendor.errors.full_messages.each do |message| %>
                                                                                                                                                          <li><%= message %></li>
          <% end %>
                                                                                  </ul>
                                                                              </div>
        <% end %>
        -->
        <div class="form-group<%= control_group_error(@vendor, :code) %>">
            <%= f.label :code, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.text_field :code, class: "form-control upcase inputs", tabindex: "1" %>
                    <%= error_help_text(@vendor, :code) %>
                </div>
            </div>
            <div class="form-group<%= control_group_error(@vendor, :name) %>">
                <%= f.label :name, class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= f.text_field :name, class: "form-control inputs", tabindex: "2" %>
                        <%= error_help_text(@vendor, :name) %>
                    </div>
                </div>
                <div class="form-group<%= control_group_error(@vendor, :address) %>">
                    <%= f.label :address, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.text_area :address, rows: 6, tabindex: "3", class: "form-control" %>
                            <%= error_help_text(@vendor, :address) %>
                        </div>
                    </div>
                    <div class="form-group<%= control_group_error(@vendor, :vendor_type) %>">
                        <%= f.label :vendor_type, "Type", class: "col-sm-2 control-label" %>
                          <div class="col-sm-10">
                              <%= f.select :vendor_type, options_for_select(Vendor::TYPES, @vendor.vendor_type), {prompt: true}, {class: "form-control"} %>
                                <%= error_help_text(@vendor, :vendor_type) %>
                            </div>
                        </div>
                        <div class="form-group<%= control_group_error(@vendor, :taxpayer_identification_number) %>">
                            <%= f.label :taxpayer_identification_number, "TIN", class: "col-sm-2 control-label" %>
                              <div class="col-sm-10">
                                  <%= f.text_field :taxpayer_identification_number, class: "form-control" %>
                                    <%= error_help_text(@vendor, :taxpayer_identification_number) %>
                                </div>
                            </div>
                            <div class="form-group<%= control_group_error(@vendor, :taxpayer_identification_number_address) %>">
                                <%= f.label :taxpayer_identification_number_address, "TIN address", class: "col-sm-2 control-label" %>
                                  <div class="col-sm-10">
                                      <%= f.text_area :taxpayer_identification_number_address, rows: 6, class: "form-control" %>
                                        <%= error_help_text(@vendor, :taxpayer_identification_number_address) %>
                                    </div>
                                </div>
                                <div class="form-group<%= control_group_error(@vendor, :phone) %>">
                                    <%= f.label :phone, class: "col-sm-2 control-label" %>
                                      <div class="col-sm-10">
                                          <%= f.telephone_field :phone, class: "inputs form-control", tabindex: "4", size: 10 %>
                                            <%= error_help_text(@vendor, :phone) %>
                                        </div>
                                    </div>
                                    <div class="form-group<%= control_group_error(@vendor, :facsimile) %>">
                                        <%= f.label :facsimile, class: "col-sm-2 control-label" %>
                                          <div class="col-sm-10">
                                              <%= f.telephone_field :facsimile, class: "form-control inputs", tabindex: "5", size: 10 %>
                                                <%= error_help_text(@vendor, :facsimile) %>
                                            </div>
                                        </div>
                                        <div class="form-group<%= control_group_error(@vendor, :email) %>">
                                            <%= f.label :email, class: "col-sm-2 control-label" %>
                                              <div class="col-sm-10">
                                                  <%= f.email_field :email, class: "form-control inputs", tabindex: "6" %>
                                                    <%= error_help_text(@vendor, :email) %>
                                                </div>
                                            </div>
                                            <div class="form-group<%= control_group_error(@vendor, :pic_name) %>">
                                                <%= f.label :pic_name, class: "col-sm-2 control-label" %>
                                                  <div class="col-sm-10">
                                                      <%= f.text_field :pic_name, class: "form-control inputs", tabindex: "7" %>
                                                        <%= error_help_text(@vendor, :pic_name) %>
                                                    </div>
                                                </div>
                                                <div class="form-group<%= control_group_error(@vendor, :pic_phone) %>">
                                                    <%= f.label :pic_phone, class: "col-sm-2 control-label" %>
                                                      <div class="col-sm-10">
                                                          <%= f.telephone_field :pic_phone, class: "form-control inputs", tabindex: "8", size: 10 %>
                                                            <%= error_help_text(@vendor, :pic_phone) %>
                                                        </div>
                                                    </div>
                                                    <div class="form-group<%= control_group_error(@vendor, :pic_mobile_phone) %>">
                                                        <%= f.label :pic_mobile_phone, class: "col-sm-2 control-label" %>
                                                          <div class="col-sm-10">
                                                              <%= f.telephone_field :pic_mobile_phone, class: "form-control inputs", tabindex: "9", size: 12 %>
                                                                <%= error_help_text(@vendor, :pic_mobile_phone) %>
                                                            </div>
                                                        </div>
                                                        <div class="form-group<%= control_group_error(@vendor, :pic_email) %>">
                                                            <%= f.label :pic_email, class: "col-sm-2 control-label" %>
                                                              <div class="col-sm-10">
                                                                  <%= f.email_field :pic_email, class: "form-control inputs", tabindex: "10" %>
                                                                    <%= error_help_text(@vendor, :pic_email) %>
                                                                </div>
                                                            </div>
                                                            <div class="form-group<%= control_group_error(@vendor, :terms_of_payment) %>">
                                                                <%= f.label :terms_of_payment, class: "col-sm-2 control-label" %>
                                                                  <div class="col-sm-10">
                                                                      <%= f.number_field :terms_of_payment, class: "form-control inputs", tabindex: "11" %>
                                                                        <%= error_help_text(@vendor, :terms_of_payment) %>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group<%= control_group_error(@vendor, :is_taxable_entrepreneur) %>" id="taxable_entrepreneur" <% if @vendor.is_taxable_entrepreneur %>style="display: none"<% end %>>
                                                                    <label class="col-sm-2 control-label"></label>
                                                                    <div class="col-sm-10">
                                                                        <%= f.check_box :is_taxable_entrepreneur %> Taxable entrepreneur
                                                                    </div>
                                                                </div>
                                                                <div class="form-group<%= control_group_error(@vendor, :value_added_tax) %>" id="value_added_tax" <% unless @vendor.is_taxable_entrepreneur %>style="display: none"<% end %>>
                                                                    <%= f.label :value_added_tax, class: "col-sm-2 control-label" %>
                                                                      <div class="col-sm-10">
                                                                          <%= f.select :value_added_tax, options_for_select(Vendor::VAT, @vendor.value_added_tax), {prompt: true}, {tabindex: "12", class: "form-control inputs"} %>
                                                                            <%= error_help_text(@vendor, :value_added_tax) %>
                                                                        </div>
                                                                    </div>                                                        
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-2 col-sm-10">
                                                                            <%= f.submit "Save", class: "btn btn-primary" %>
                                                                              <button class="btn btn-link cancel">Cancel</button>
                                                                          </div>
                                                                      </div>
                                                                    <% end %>
                                                                </td>

                                                                <script>
                                                                  $(function () {
                                                                      MaskedInput({
                                                                          elm: document.getElementById('vendor_phone'),
                                                                          format: '____-_______',
                                                                          separator: '-'
                                                                      });
                                                                      MaskedInput({
                                                                          elm: document.getElementById('vendor_facsimile'),
                                                                          format: '____-_______',
                                                                          separator: '-'
                                                                      });
                                                                      MaskedInput({
                                                                          elm: document.getElementById('vendor_pic_phone'),
                                                                          format: '____-_______',
                                                                          separator: '-'
                                                                      });
                                                                      MaskedInput({
                                                                          elm: document.getElementById('vendor_pic_mobile_phone'),
                                                                          format: '____________'
                                                                      });
                                                                      if ($("#taxable_entrepreneur").length > 0) {
                                                                          $(document).unbind("keydown");
                                                                          $(document).keydown(function (e) {
                                                                              if (e.keyCode == 116 && e.ctrlKey) {
                                                                                  $("#taxable_entrepreneur").toggle();
                                                                                  return false;
                                                                              }
                                                                          });

                                                                          $("#vendor_is_taxable_entrepreneur").unbind("click");
                                                                          $("#vendor_is_taxable_entrepreneur").click(function () {
                                                                              // $this will contain a reference to the checkbox   
                                                                              if ($(this).is(':checked')) {
                                                                                  $("#value_added_tax").show();
                                                                              } else {
                                                                                  $("#value_added_tax").hide();
                                                                              }
                                                                          });
                                                                      }
                                                                      $('#vendor_code').on("input", function () {
                                                                          $(this).val($(this).val().replace(/ /g, ""));
                                                                      });
                                                                  });
                                                                </script>