<div class="page-header"><h1>Vendor Detail</h1></div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Code:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @vendor.code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Name:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @vendor.name %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Address:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @vendor.address %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Phone:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= remove_empty_space_from_phone_number(@vendor.phone) %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Facsimile:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= remove_empty_space_from_phone_number(@vendor.facsimile) %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Email:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @vendor.email %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Pic name:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @vendor.pic_name %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Pic phone:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= remove_empty_space_from_phone_number(@vendor.pic_phone) %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Pic mobile phone:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= remove_empty_space_from_phone_number(@vendor.pic_mobile_phone) %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Pic email:
        </label>
        <div class="col-sm-10 form-control hidden-box">            
            <%= @vendor.pic_email %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Terms of payment:
        </label>
        <div class="col-sm-10 form-control hidden-box">            
            <%= @vendor.terms_of_payment %> days
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Value added tax:
        </label>
        <div class="col-sm-10 form-control hidden-box">            
            <%= @vendor.value_added_tax.capitalize %>
        </div>
    </div>
</div>


<%= link_to 'Edit', edit_vendor_path(@vendor), class: "btn btn-default active" %>
