<%= form_for(@account_payable_courier_payment, remote: true, html: {class: "form-horizontal", style: "padding-top: 20px", id: "new_account_payable_courier_payment_giro"}) do |f| %>
    <%= f.hidden_field :payment_method, value: "Giro" %>
    <%= f.hidden_field :courier_id, id: "account_payable_payment_courier_id_giro" %>
    <div class="form-group">
        <%= f.label :attr_courier_code_and_name, "Courier", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
              <%= f.hidden_field :attr_courier_code_and_name %>
              <span class="form-control" style="cursor: not-allowed;display: inline-block;width: auto" readonly="readonly" id="account_payable_payment_courier_code_name_giro"><%= f.object.attr_courier_code_and_name %></span>
          </div>
      </div>
      <div class="form-group<%= control_group_error(@account_payable_courier_payment, :payment_date) %>">
          <%= f.label :payment_date, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :payment_date, size: 10, readonly: true, class: "form-control", id: "account_payable_courier_payment_payment_date_giro" %>
                  <%= error_help_text(@account_payable_courier_payment, :payment_date) %>
              </div>
          </div>                                                                              
          <div class="form-group<%= control_group_error(@account_payable_courier_payment, :giro_number) %>">
              <%= f.label :giro_number, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :giro_number, class: "form-control" %>
                      <%= error_help_text(@account_payable_courier_payment, :giro_number) %>
                  </div>
              </div>                                                                              
              <div class="form-group<%= control_group_error(@account_payable_courier_payment, :giro_date) %>">
                  <%= f.label :giro_date, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :giro_date, size: 10, readonly: true, class: "form-control" %>
                          <%= error_help_text(@account_payable_courier_payment, :giro_date) %>
                      </div>
                  </div>                                                                              
                  <div class="ln_solid"></div>
                  <%= f.fields_for :account_payable_courier_payment_invoices do |account_payable_courier_payment_invoice_form| %>
                    <%= account_payable_courier_payment_invoice_form.hidden_field :account_payable_courier_id %>
                    <div class="form-group">
                        <%= account_payable_courier_payment_invoice_form.label :attr_invoice_number, "No. Invoice", class: "col-sm-2 control-label" %>
                          <div class="col-sm-10">
                              <%= account_payable_courier_payment_invoice_form.hidden_field :attr_invoice_number %>
                              <span class="form-control" style="cursor: not-allowed;display: inline-block;width: auto" readonly="readonly"><%= account_payable_courier_payment_invoice_form.object.attr_invoice_number %></span>
                          </div>
                      </div>
                      <div class="form-group<%= control_group_error(account_payable_courier_payment_invoice_form.object, :attr_courier_invoice_number) %>">
                          <%= account_payable_courier_payment_invoice_form.label :attr_courier_invoice_number, "Cour. Invoice number", class: "col-sm-2 control-label" %>
                            <div class="col-sm-10">
                                <%= account_payable_courier_payment_invoice_form.hidden_field :attr_courier_invoice_number %>
                                <span class="form-control" style="cursor: not-allowed;display: inline-block;width: auto" readonly="readonly"><%= account_payable_courier_payment_invoice_form.object.attr_courier_invoice_number %></span>
                                <%= error_help_text(account_payable_courier_payment_invoice_form.object, :attr_courier_invoice_number) %>
                            </div>
                        </div>
                        <div class="form-group<%= control_group_error(account_payable_courier_payment_invoice_form.object, :attr_courier_invoice_date) %>">
                            <%= account_payable_courier_payment_invoice_form.label :attr_courier_invoice_date, "Cour. Invoice date", class: "col-sm-2 control-label" %>
                              <div class="col-sm-10">
                                  <%= account_payable_courier_payment_invoice_form.hidden_field :attr_courier_invoice_date %>
                                  <span class="form-control" style="cursor: not-allowed;display: inline-block" readonly="readonly"><%= !account_payable_courier_payment_invoice_form.object.attr_courier_invoice_date.class.eql?("Date") ? account_payable_courier_payment_invoice_form.object.attr_courier_invoice_date.to_date.strftime("%d/%m/%Y") : account_payable_courier_payment_invoice_form.object.attr_courier_invoice_date.strftime("%d/%m/%Y") %></span>
                                  <%= error_help_text(account_payable_courier_payment_invoice_form.object, :attr_courier_invoice_date) %>
                              </div>
                          </div>
                          <div class="form-group">
                              <%= account_payable_courier_payment_invoice_form.label :attr_amount_invoiced, "Amount invoiced", class: "col-sm-2 control-label" %>
                                <div class="col-sm-10">
                                    <%= account_payable_courier_payment_invoice_form.hidden_field :attr_amount_invoiced %>
                                    <span class="form-control text-right" style="cursor: not-allowed;display: inline-block" readonly="readonly"><%= number_to_currency(account_payable_courier_payment_invoice_form.object.attr_amount_invoiced,
                                          :separator => ",",
                                          :delimiter => ".",
                                          :unit => "Rp",
                                          :precision => 2) %></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= account_payable_courier_payment_invoice_form.label :attr_remaining_debt, "Debt", class: "col-sm-2 control-label" %>
                                  <div class="col-sm-10">
                                      <%= account_payable_courier_payment_invoice_form.hidden_field :attr_remaining_debt %>
                                      <span class="form-control text-right" style="cursor: not-allowed;display: inline-block" readonly="readonly"><%= number_to_currency(account_payable_courier_payment_invoice_form.object.attr_remaining_debt,
                                            :separator => ",",
                                            :delimiter => ".",
                                            :unit => "Rp",
                                            :precision => 2) %></span>
                                  </div>
                              </div>
                              <div class="form-group<%= control_group_error(account_payable_courier_payment_invoice_form.object, :amount) %>">
                                  <%= account_payable_courier_payment_invoice_form.label :amount, class: "col-sm-2 control-label" %>
                                    <div class="col-sm-10">
                                        <%= account_payable_courier_payment_invoice_form.text_field :amount, class: "form-control account-payable-courier-payment-invoice-amount-fields-giro", "data-a-sep" => ".", "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;" %>
                                          <%= error_help_text(account_payable_courier_payment_invoice_form.object, :amount) %>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label"></label>
                                      <div class="col-sm-10">
                                          <%= account_payable_courier_payment_invoice_form.check_box :_destroy %> Delete
                                      </div>

                                  </div>
                                  <div class="ln_solid"></div>
                                <% end %>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <%= f.submit "Save", class: "btn btn-primary" %>
                                          <button class="btn btn-link cancel">Cancel</button>
                                      </div>
                                  </div>
                                <% end %>

                                <script>
                                  $(function () {
                                      $("#account_payable_courier_payment_payment_date_giro").datepicker({
                                          dateFormat: "dd/mm/yy"
                                      });

                                      $("#account_payable_courier_payment_giro_date").datepicker({
                                          dateFormat: "dd/mm/yy"
                                      });

                                      $('.account-payable-courier-payment-invoice-amount-fields-giro').autoNumeric('init');

                                      $("#new_account_payable_courier_payment_giro").submit(function () {
                                          if (submitAppcFormGiro) {
                                              submitAppcFormGiro = false;
                                              return true;
                                          } else {
                                              bootbox.confirm({
                                                  message: "Please double check all of the data before you create payment, make sure everything is correct.<br>Once you create payment, you'll not be able to change or delete it<br>Are you ABSOLUTELY sure?",
                                                  buttons: {
                                                      confirm: {
                                                          label: '<i class="fa fa-check"></i> Confirm'
                                                      },
                                                      cancel: {
                                                          label: '<i class="fa fa-times"></i> Cancel'
                                                      }
                                                  },
                                                  callback: function (result) {
                                                      if (result) {
                                                          $("body").css('padding-right', '0px');
                                                          submitAppcFormGiro = true;
                                                          $("#new_account_payable_courier_payment_giro").submit();
                                                      }
                                                  },
                                                  size: "small"
                                              });
                                              return false;
                                          }
                                      });
                                  });
                                </script>