<%= form_for(@product, remote: true, url: cost_prices_path(@product), html: {class: "form-horizontal"}) do |f| %>
    <%= f.hidden_field :id %>
    <%= f.fields_for :cost_lists do |cost_list_form| %>
      <% if cost_list_form.object.new_record? %>
        <%= cost_list_form.hidden_field :product_id %>
        <div class="form-group<%= control_group_error(cost_list_form.object, :effective_date) %>">
            <%= cost_list_form.label :effective_date, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= cost_list_form.text_field :effective_date, size: 10, readonly: true, tabindex: "11", class: "form-control date-field" %>
                    <%= error_help_text(cost_list_form.object, :effective_date) %>
                </div>
            </div>                                          
            <div class="form-group<%= control_group_error(cost_list_form.object, :cost) %>">
                <%= cost_list_form.label :cost, class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= cost_list_form.text_field :cost, tabindex: "12", placeholder: "cost", "data-a-sep" => ".",
                        "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16, class: "form-control money costs-cost" %>
                        <%= error_help_text(cost_list_form.object, :cost) %>
                    </div>
                </div>
              <% end %>
            <% end %>
            <% unless @sizes.blank? %>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <div id="size_collection_container">
                          <table class="table table-condensed table-responsive table-bordered">
                              <tr style="text-align: center">
                                  <td colspan="2" rowspan="2"></td>
                                  <td colspan="<%= @price_codes.size %>" align="center"><b>Price</b></td>
                              </tr>
                              <tr style="text-align: center">
                                  <% @price_codes.each do |price_code| %>
                                    <td align="center"><%= price_code.code %>
                                        <br /><%= text_field_tag "price_"+price_code.code, "", {placeholder: "price", class: "form-control money money-fields", "data-a-sep" => ".",
                                            "data-a-dec" => ",", "data-a-sign" => "Rp", size: 16} %>
                                      </td>
                                    <% end %>
                                </tr>
                                <% @sizes.each_with_index do |size, idx| %>
                                  <tr style="text-align: center">
                                      <% if idx.eql? 0 %>
                                        <td rowspan="<%= @sizes.size %>" style="vertical-align:middle"><b>Sizes</b></td>
                                      <% end %>
                                      <td><%= size.size %></td>
                                      <% @price_codes.each do |price_code| %>
                                        <td align="center">
                                            <%= f.fields_for :product_details do |product_detail_form| %>
                                              <% if size.id == product_detail_form.object.size_id && price_code.id == product_detail_form.object.price_code_id %>
                                                <% if product_detail_form.object.new_record? %>
                                                  <%= product_detail_form.hidden_field :size_id %>
                                                  <%= product_detail_form.hidden_field :price_code_id %>
                                                  <%= product_detail_form.hidden_field :product_id %>
                                                <% end %>
                                                <%= product_detail_form.fields_for :price_lists do |price_list_form| %>
                                                  <% if price_list_form.object.new_record? %>
                                                    <%= price_list_form.hidden_field :cost, class: "price-cost-value" %>
                                                      <%= price_list_form.hidden_field :user_is_adding_price_from_cost_prices_page, value: true %>
                                                      <%= price_list_form.hidden_field :product_detail_id unless product_detail_form.object.new_record? %>
                                                      <%= price_list_form.hidden_field :effective_date, class: "price-effective-date" %>
                                                        <div class="<%= control_group_error(price_list_form.object, :price) %>">
                                                            <%= price_list_form.text_field :price, placeholder: "price", class: "money-fields form-control money price-"+price_code.code, "data-a-sep" => ".",
                                                                "data-a-dec" => ",", "data-a-sign" => "Rp", size: 16 %>
                                                              <%= error_help_text(price_list_form.object, :price) %>
                                                          </div>
                                                        <% end %>
                                                      <% end %>
                                                    <% end %>
                                                  <% end %>
                                              </td>
                                            <% end %>
                                        </tr>
                                      <% end %>
                                  </table>
                              </div>
                          </div>     
                      </div>
                    <% end %>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <%= f.submit "Save", class: "btn btn-primary", id: "submit_cost" %>
                              <button class="btn btn-link cancel" id="btn-cancel-cost">Cancel</button>
                          </div>
                      </div>
                    <% end %>
                    <script>
                      $(function () {
                          $(".date-field").datepicker({
                              dateFormat: "dd/mm/yy"
                          });

                          $('.money').autoNumeric('init');  //autoNumeric with defaults

                          $("#submit_cost").click(function () {
                              $(".price-effective-date").val($(".date-field").val());
                              $(".price-cost-value").val($(".costs-cost").val());
                          });

                    <% @price_codes.each do |price_code| %>
                            $('#price_<%= price_code.code %>').keyup(function () {
                                $('.price-<%= price_code.code %>').val($('#<%= "price_"+price_code.code %>').val());
                            });
                    <% end %>

                          /*$("#btn-cancel-cost").click(function () {
                           $(".new-item-action").each(function () {
                           if ($(this).hasClass("hidden"))
                           $(this).removeClass("hidden");
                           });
                           $(this).closest(".new-item-placeholder").addClass("hidden");
                           return false;
                           });*/

                      });
                    </script>