<% price_effective_date = nil %>
<%= form_for(@product, remote: true, url: params[:action].eql?("edit") || params[:action].eql?("update") ? cost_price_path(@cost) : cost_prices_path, html: {class: "form-horizontal"}) do |f| %>
    <% if params[:action].eql?("edit") || params[:action].eql?("update") %>    
      <div class="form-group">
          <%= label_tag "product_id", "Product", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <span class="form-control" readonly="readoly" style="cursor: not-allowed;display: inline-block;width: auto"><%= "#{@product.code} - #{@product.name}" %></span>
            </div>
        </div>
      <% end %>
      <%= f.fields_for :cost_lists do |cost_list_form| %>
        <%= f.hidden_field :id if cost_list_form.object.new_record? %>
        <% if cost_list_form.object.new_record? || (@cost.present? && cost_list_form.object.id == @cost.id) %>
          <% price_effective_date = cost_list_form.object.effective_date = cost_list_form.object.effective_date.strftime("%d/%m/%Y") unless cost_list_form.object.new_record? %>
          <div class="form-group<%= control_group_error(cost_list_form.object, :effective_date) %>">
              <%= cost_list_form.label :effective_date, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= cost_list_form.text_field :effective_date, size: 10, readonly: true, tabindex: "11", class: "form-control date-field" %>
                      <%= error_help_text(cost_list_form.object, :effective_date) %>
                  </div>
              </div>                                          
              <div class="form-group<%= control_group_error(cost_list_form.object, :cost) %>">
                  <%= cost_list_form.label :cost, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= cost_list_form.text_field :cost, tabindex: "12", placeholder: "cost", "data-a-sep" => ".",
                          "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16, class: "form-control money costs-cost" %>
                          <%= error_help_text(cost_list_form.object, :cost) %>
                      </div>
                  </div>
                <% end %>
              <% end %>
              <% unless @sizes.blank? %>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div id="size_collection_container">
                            <table class="table table-condensed table-responsive table-bordered">
                                <tr style="text-align: center">
                                    <td colspan="2" rowspan="2"></td>
                                    <td colspan="<%= @price_codes.size %>" align="center"><b>Price</b></td>
                                </tr>
                                <tr style="text-align: center">
                                    <% @price_codes.each do |price_code| %>
                                      <td align="center"><%= price_code.code %>
                                          <br /><%= text_field_tag "price_"+price_code.code, "", {placeholder: "price", class: "form-control money money-fields", "data-a-sep" => ".",
                                              "data-a-dec" => ",", "data-a-sign" => "Rp", size: 16} %>
                                        </td>
                                      <% end %>
                                  </tr>
                                  <% @sizes.each_with_index do |size, idx| %>
                                    <tr style="text-align: center">
                                        <% if idx.eql? 0 %>
                                          <td rowspan="<%= @sizes.size %>" style="vertical-align:middle"><b>Sizes</b></td>
                                        <% end %>
                                        <td><%= size.size %></td>
                                        <% @price_codes.each do |price_code| %>
                                          <td align="center">
                                              <%= f.fields_for :product_details do |product_detail_form| %>
                                                <% if size.id == product_detail_form.object.size_id && price_code.id == product_detail_form.object.price_code_id %>
                                                  <% if product_detail_form.object.new_record? %>
                                                    <%= product_detail_form.hidden_field :size_id %>
                                                    <%= product_detail_form.hidden_field :price_code_id %>
                                                  <% end %>
                                                  <%= product_detail_form.fields_for :price_lists do |price_list_form| %>
                                                    <% if price_list_form.object.new_record? || (params[:action].eql?("edit") && price_effective_date.present? && price_effective_date.eql?(price_list_form.object.effective_date.strftime("%d/%m/%Y"))) || (params[:action].eql?("update") && price_list_form.object.editable_record) %>
                                                      <%= price_list_form.hidden_field :editable_record, value: true unless price_list_form.object.new_record? %>
                                                      <div class="<%= control_group_error(price_list_form.object, :price) %>">
                                                          <%= price_list_form.text_field :price, placeholder: "price", class: "money-fields form-control money price-"+price_code.code, "data-a-sep" => ".",
                                                              "data-a-dec" => ",", "data-a-sign" => "Rp", size: 16 %>
                                                            <%= error_help_text(price_list_form.object, :price) %>
                                                        </div>
                                                      <% end %>
                                                      <%= price_list_form.hidden_field :turn_off_date_validation, value: true if price_effective_date.present? %>
                                                    <% end %>
                                                  <% end %>
                                                <% end %>
                                            </td>
                                          <% end %>
                                      </tr>
                                    <% end %>
                                </table>
                            </div>
                        </div>     
                    </div>
                  <% end %>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <%= f.submit "Save", class: "btn btn-primary", id: "submit_cost" %>
                            <button class="btn btn-link cancel" id="btn-cancel-cost">Cancel</button>
                        </div>
                    </div>
                  <% end %>
                  <script>
                    $(function () {
                        $(".date-field").datepicker({
                            dateFormat: "dd/mm/yy"
                        });

                        $('.money').autoNumeric('init');  //autoNumeric with defaults


                  <% @price_codes.each do |price_code| %>
                          $('#price_<%= price_code.code %>').keyup(function () {
                              $('.price-<%= price_code.code %>').val($('#<%= "price_"+price_code.code %>').val());
                          });
                  <% end %>

                    });
                  </script>