<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;margin-top: 10px">
    <thead id="listing-cost-thead">
        <tr>
            <% if current_user.is_accountant_or_managerial_role? %>
              <th class="col-md-3"><%= smart_listing.sortable "Product code", "products.code" %></th>
              <th class="col-md-3"><%= smart_listing.sortable "Cost", "cost" %></th>
              <th class="col-md-3"><%= smart_listing.sortable "Effective date", "effective_date" %></th>
              <th class="col-md-3"></th>
            <% else %>
              <th class="col-md-5"><%= smart_listing.sortable "Product code", "products.code" %></th>
              <th class="col-md-5"><%= smart_listing.sortable "Effective date", "effective_date" %></th>
              <th class="col-md-2"></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |cost| %>
          <tr class="editable" data-id="<%= cost.id %>">
              <%= smart_listing.render object: cost, partial: "cost_prices/cost", locals: {object: cost} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: (current_user.is_accountant_or_managerial_role? ? 4 : 3), link: new_cost_price_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-cost-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-cost-thead").show();
      }
  }, 0);

</script>