.page-header
  %h1 Jurnal Transctions #{params[:jurnals].capitalize}

%table.table.table-striped.jurnal{:style => "table-layout: fixed;word-wrap: break-word;"}
  %thead#listing-coa-thead
    %tr
      %th.col-md-1 No
      %th.col-md-1 Code
      %th.col-md-6 Description
      %th.col-md-2 Debit
      %th.col-md-2 Credit
  %tbody
    - @jurnals.each_with_index do |j, i|
      %tr
        %td= i + 1
        %td
        %td{colspan: 3}
          %b=j.id.eql?(0) ? (j.group_description) : j.description
        %td
        %td
      - (j.id.eql?(0) ? j.detail_groups : j.detail_jurnals).each do |d|
        %tr{class: "#{ "last-jurnal credit" if !d.is_debit}"}
          %td
          %td= d.code
          %td{class: "#{ "credit" if !d.is_debit}"}= d.description
          %td= number_to_currency(d.total, unit: "Rp ", separator: ",", delimiter: ".") if d.is_debit
          %td= number_to_currency(d.total, unit: "Rp ", separator: ",", delimiter: ".") if !d.is_debit

  %tfoot
    %tr
      %th{colspan: 3}
        %b Total
      %th= number_to_currency(@total["total_debit"], unit: "Rp ", separator: ",", delimiter: ".")
      %th= number_to_currency(@total["total_credit"], unit: "Rp ", separator: ",", delimiter: ".")

