- url = params[:showroom].present? ? showroom_by_date_accounting_jurnal_transctions_path(params[:jurnals], params[:showroom]) : by_date_accounting_jurnal_transctions_path(params[:jurnals])
.page-header
  %h1 Jurnal Transctions #{params[:jurnals].capitalize}
#search-form-container.form-inline.text-right
  = form_tag url do
    .form-group.text-left
      = select_tag "date[year]", options_for_select(@start_year..Date.today.year, (params[:date].present? ? params[:date][:year] : Date.today.year))
    .form-group.text-left
      = select_tag "date[month]", options_for_select(Date::MONTHNAMES.compact, (params[:date].present? ? params[:date][:month] : Date.today.month))
    %button#search-adjustment-btn.btn.btn-primary{:type => "submit"}
      %span.glyphicon.glyphicon-search


%table.table.table-striped.jurnal{:style => "table-layout: fixed;word-wrap: break-word;"}
  %thead#listing-coa-thead
    %tr
      %th.col-md-1 No
      %th.col-md-6 Transaction
      %th.col-md-1 Code
      %th.col-md-6 Description
      %th.col-md-2 Debit
      %th.col-md-2 Credit
  %tbody
    - @jurnals.each_with_index do |j, i|
      - detials = j.id.eql?(0) ? j.detail_groups : j.detail_jurnals
      %tr{class: "last-jurnal"}
        %td{rowspan: detials.to_a.size}
          = i + 1
        %td{rowspan: detials.to_a.size}
          %b=j.id.eql?(0) ? (j.group_description) : j.description
        %td= detials.first.code
        %td{class: "#{ "credit" if !detials.first.is_debit}"}= detials.first.description
        %td.text-right= number_to_currency(detials.first.total, unit: "Rp ", separator: ",", delimiter: ".") if detials.first.is_debit
        %td.text-right= number_to_currency(detials.first.total, unit: "Rp ", separator: ",", delimiter: ".") if !detials.first.is_debit
      - detials.each_with_index do |d, x|
        - next if x.eql?(0)
        %tr{class: "#{ "credit" if !d.is_debit} #{ "last-jurnal" if detials.size.eql?(x + 1) }"}
          %td= d.code
          %td{class: "#{ "credit" if !d.is_debit}"}= d.description
          %td.text-right= number_to_currency(d.total, unit: "Rp ", separator: ",", delimiter: ".") if d.is_debit
          %td.text-right= number_to_currency(d.total, unit: "Rp ", separator: ",", delimiter: ".") if !d.is_debit

  %tfoot
    %tr
      %th{colspan: 4}
        %b Total
      %th.text-right= number_to_currency(@total["total_debit"], unit: "Rp ", separator: ",", delimiter: ".")
      %th.text-right= number_to_currency(@total["total_credit"], unit: "Rp ", separator: ",", delimiter: ".")

