<td><%= object["code"] %></td>
<td><%= object["description"] %></td>
<td id="size-group-sizes-<%= object["id"] %>"><%= object["sizes"] %></td>
<td class="actions" style="text-align: right" id="size-group-actions-<%= object["id"] %>">
    <% if user_signed_in? && is_admin? %>
      <%= link_to "<i class=\"glyphicon glyphicon-pencil\"></i>".html_safe, edit_size_group_path(object["id"]), data: {remote: true}, class: :edit, title: "Edit" %>
        <%= link_to_if(!object["has_product_realtion"], content_tag(:i, "", :class => "glyphicon glyphicon-trash"), size_group_path(object["id"]), :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete", id: "size-group-delete-link-#{object["id"]}" ) %>
      <% end %>
  </td>
