<td><%= object["code"] %></td>
<td><%= object["description"] %></td>
<td id="size-group-sizes-<%= object["id"] %>"><%= object["sizes"] %></td>
<td class="actions" style="text-align: right" id="size-group-actions-<%= object["id"] %>">
    <%= link_to_if(can?(:manage, SizeGroup), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_size_group_path(object["id"]), remote: true, class: :edit, method: :get, title: "Edit" ) %>
      <%= link_to_if(can?(:manage, SizeGroup) && !object["has_product_realtion"], content_tag(:i, "", :class => "glyphicon glyphicon-trash"), size_group_path(object["id"]), :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure that you want to permanently delete the selected item?', placement: :left}, title: "Delete", id: "size-group-delete-link-#{object["id"]}" ) %>
  </td>
