<% unless smart_listing.empty? %>
  <table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
      <thead>
          <tr>
              <th class="col-md-3"><%= smart_listing.sortable "Code", "code" %></th>
              <th class="col-md-3"><%= smart_listing.sortable "Name", "name" %></th>
              <th class="col-md-5"><%= smart_listing.sortable "Description", "description" %></th>
              <th class="col-md-1"></th>
          </tr>
      </thead>
      <tbody>
          <% smart_listing.collection.each do |brand| %>
            <tr class="editable" data-id="<%= brand.id %>">
                <%= smart_listing.render object: brand, partial: "brands/brand", locals: {object: brand} %>
            </tr>
          <% end %>
          <%= smart_listing.item_new colspan: 4, link: new_brand_path %>
      </tbody>
  </table>
  <%= smart_listing.paginate %>
<% else %>
  <p class="warning">No records!</p>
<% end %>