<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-ap-payment-thead">
        <tr>
            <th class="col-md-5"><%= smart_listing.sortable "Payment Date", "payment_date" %></th>
            <th class="col-md-5"><%= smart_listing.sortable "Amount", "amount" %></th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |app| %>
          <tr class="editable" data-id="<%= app.id %>">
              <%= smart_listing.render object: app, partial: "account_payable_payments/account_payable_payment", locals: {object: app} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 3, link: new_account_payable_payment_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var appProcessId = setInterval(function () {
      if ($("#listing-ap-payment-thead").is(":visible")) {
          clearInterval(appProcessId);
      } else {
          $("#listing-ap-payment-thead").show();
      }
  }, 0);

</script>