<td><%= object.number %></td>
<td><%= object.payment_date.strftime("%d/%m/%Y") %></td>
<td id="vendor_name_<%= object.id %>"><%= object.name rescue "" %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, account_payable_path(object), data: {remote: true}, title: "Show" %>
    <% if user_signed_in? && is_admin? %>
      <%= link_to "<i class=\"glyphicon glyphicon-trash\"></i>".html_safe, object, data: {remote: true, confirmation: 'Are you sure?', placement: :left}, method: :delete, class: "destroy", title: "Delete" %>
      <% end %>
  </td>
