<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-ap-thead">
        <tr>
            <th class="col-md-2"><%= smart_listing.sortable "Number", "number" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Payment Date", "payment_date" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Vendor", "vendors.name" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Total", "total" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Rem. Debt", "remaining_debt" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |ap| %>
          <tr class="editable" data-id="<%= ap.id %>">
              <%= smart_listing.render object: ap, partial: "account_payables/account_payable", locals: {object: ap} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 6, link: new_account_payable_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-ap-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-ap-thead").show();
      }
  }, 0);

</script>