<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-ap-thead">
        <tr>
            <th class="col-md-2 text-center" rowspan="2" style="vertical-align: middle"><%= smart_listing.sortable "Number", "number" %></th>
            <th class="col-md-5 text-center" colspan="3">Vendor</th>
            <th class="col-md-2 text-center" rowspan="2" style="vertical-align: middle"><%= smart_listing.sortable "Total", "total" %></th>
            <th class="col-md-2 text-center" rowspan="2" style="vertical-align: middle"><%= smart_listing.sortable "Rem. Debt", "remaining_debt" %></th>
            <th class="col-md-1 text-center" rowspan="2" style="vertical-align: middle"></th>
        </tr>
        <tr>
            <th class="col-md-4 text-center"><%= smart_listing.sortable "Name", "vendors.name" %></th>
            <th class="col-md-4 text-center"><%= smart_listing.sortable "Inv. Number", "vendor_invoice_number" %></th>
            <th class="col-md-4 text-center"><%= smart_listing.sortable "Inv. Date", "vendor_invoice_date" %></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |ap| %>
          <tr class="editable" data-id="<%= ap.id %>">
              <%= smart_listing.render object: ap, partial: "account_payables/account_payable", locals: {object: ap} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 7, link: new_account_payable_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-ap-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-ap-thead").show();
      }
  }, 0);

</script>