<% total_amount_received_for_dp = 0 %>
<%= form_for(@account_payable, url: create_dp_payment_account_payables_path, remote: true, html: {class: "form-horizontal", style: "padding-top: 20px"}) do |f| %>
    <%= f.hidden_field :vendor_id, id: "account_payable_vendor_id_for_dp" %>
    <div class="form-group<%= control_group_error(@account_payable, :total) %>">
        <label class="col-sm-2 control-label">Direct Purchases</label>
        <div class="col-sm-10">              
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Qty</th>
                        <th>Gross Amount</th>
                        <th>1st Disc</th>
                        <th>2nd Disc</th>
                        <th>Value Added Tax (10%)</th>
                        <th>Net Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%= f.fields_for :account_payable_purchases do |account_payable_purchase_form| %>
                      <%= account_payable_purchase_form.hidden_field :purchase_id, class: "direct-purchase-ids" %>
                        <%= account_payable_purchase_form.hidden_field :purchase_type %>
                        <% direct_purchase = account_payable_purchase_form.object.purchase %>
                        <tr id="direct_purchase_<%= direct_purchase.id %>">
                            <td><%= direct_purchase.received_purchase_order.delivery_order_number %></td>
                            <td align="right"><%= direct_purchase.quantity_received %></td>
                            <td align="right"><%= number_to_currency(direct_purchase.receiving_value,
                                  :separator => ",",
                                  :delimiter => ".",
                                  :unit => "Rp",
                                  :precision => 2) %></td>
                            <td>
                                <% if direct_purchase.first_discount.present? %>
                                  <%= number_to_currency((direct_purchase.first_discount.to_f / 100) * direct_purchase.receiving_value,
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %> (<%= "#{direct_purchase.first_discount}%" %>)
                                <% end %>
                            </td>
                            <td>
                                <% if direct_purchase.second_discount.present? %>
                                  <%= number_to_currency(get_second_discount_in_money_for_ap(direct_purchase),
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %> (<%= "#{direct_purchase.second_discount}%" %> from <%= direct_purchase.is_additional_disc_from_net ? "net" : "gross" %>)
                                <% end %>
                            </td>
                            <td style="text-align: right">
                                <% if direct_purchase.is_taxable_entrepreneur %>
                                  <%
                                  vat_in_money = if direct_purchase.vat_type.eql?("include")
                                    get_include_vat_in_money_for_ap(direct_purchase)
                                    else
                                    get_vat_in_money_for_ap(direct_purchase)
                                    end
                                %>
                                  (<%= direct_purchase.vat_type %>) <%= number_to_currency(vat_in_money,
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %>
                                <% end %>
                            </td>
                            <td align="right"><%= number_to_currency(value_after_ppn_for_ap(direct_purchase),
                                  :separator => ",",
                                  :delimiter => ".",
                                  :unit => "Rp",
                                  :precision => 2) %></td>
                        </tr>
                        <% total_amount_received_for_dp += value_after_ppn_for_ap(direct_purchase) %>
                      <% end %>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="6" align="right"><strong>Total Amount Received</strong></td>
                          <td align="right"><strong><%= number_to_currency(total_amount_received_for_dp,
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %></strong></td>
                      </tr>
                      <% if @account_payable && @account_payable.errors[:total].present? %>
                        <tr>
                            <td colspan="8" align="right"><%= error_help_text(@account_payable, :total) %></td>
                        </tr>
                      <% end %>
                  </tfoot>
              </table>              
          </div>
      </div>
      <!--
      SUDAH TIDAK DIPAKAI
            <div id="allocated_return_items_for_dp">
      <%# if params[:action].eql?("create_dp_payment") && @account_payable.allocated_return_items.present? %>
      <%#= render partial: "allocated_return_items", locals: {total_amount_received: total_amount_received_for_dp} %>
      <%# end %>
            </div>
      -->
      <div class="form-group">
          <label class="col-sm-2 control-label">Amount Due</label>
          <div class="col-sm-10">              
              <table class="table">
                  <tfoot>
                      <tr>
                          <td align="right" id="amount-to-pay-for-dp"><strong><%= number_to_currency(total_amount_received_for_dp,
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %></strong></td>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">
              Vendor
          </label>
          <div class="col-sm-10">
              <span class="form-control" id="vendor_id_for_dp" style="cursor: not-allowed;display: inline-block;width: auto"><%= @account_payable.vendor.name rescue "" %></span>
          </div>
      </div>
      <div class="form-group<%= control_group_error(@account_payable, :vendor_invoice_number) %>">
          <%= f.label :vendor_invoice_number, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :vendor_invoice_number, class: "form-control" %>
                  <%= error_help_text(@account_payable, :vendor_invoice_number) %>
              </div>
          </div>
          <div class="form-group<%= control_group_error(@account_payable, :vendor_invoice_date) %>">
              <%= f.label :vendor_invoice_date, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :vendor_invoice_date, size: 10, readonly: true, class: "form-control", id: "account_payable_vendor_invoice_date_dp" %>
                      <%= error_help_text(@account_payable, :vendor_invoice_date) %>
                  </div>
              </div>
              <div class="form-group<%= control_group_error(@account_payable, :note) %>">
                  <%= f.label :note, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_area :note, rows: 6, class: "form-control" %>
                          <%= error_help_text(@account_payable, :note) %>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <%= f.submit "Save", class: "btn btn-primary", id: "ap_save_btn_for_dp" %>
                            <button class="btn btn-link cancel">Cancel</button>
                        </div>
                    </div>
                  <% end %>

                  <script>
                    $(function () {
                        $("#account_payable_vendor_invoice_date_dp").datepicker({
                            dateFormat: "dd/mm/yy"
                        });
                    });
                  </script>