<% total_amount_received = 0 %>
<%= form_for(@account_payable, remote: true, html: {class: "form-horizontal", style: "padding-top: 20px"}) do |f| %>
    <%= f.hidden_field :vendor_id %>
    <%= f.hidden_field :beginning_of_account_payable_creating %>
    <div class="form-group<%= control_group_error(@account_payable, :total) %>">
        <label class="col-sm-2 control-label">Purchases</label>
        <div class="col-sm-10">              
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Qty</th>
                        <th>Gross Amount</th>
                        <th>1st Disc</th>
                        <th>2nd Disc</th>
                        <th>VAT (10%)</th>
                        <th>Net Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%= f.fields_for :account_payable_purchases do |account_payable_purchase_form| %>
                      <%= account_payable_purchase_form.hidden_field :purchase_id, class: "purchase-order-ids" %>
                        <%= account_payable_purchase_form.hidden_field :purchase_type %>
                        <% purchase_order = account_payable_purchase_form.object.purchase %>
                        <tr id="purchase_order_<%= purchase_order.id %>">
                            <td><%= purchase_order.class.name.eql?("PurchaseOrder") ? purchase_order.number : purchase_order.received_purchase_order.delivery_order_number %></td>
                            <td align="right"><%= purchase_order.quantity_received %></td>
                            <td align="right"><%= number_to_currency(purchase_order.receiving_value,
                                  :separator => ",",
                                  :delimiter => ".",
                                  :unit => "Rp",
                                  :precision => 2) %></td>
                            <td>
                                <% if purchase_order.first_discount.present? %>
                                  <%= number_to_currency((purchase_order.first_discount.to_f / 100) * purchase_order.receiving_value,
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %> (<%= "#{purchase_order.first_discount}%" %>)
                                <% end %>
                            </td>
                            <td>
                                <% if purchase_order.second_discount.present? %>
                                  <%= number_to_currency(get_second_discount_in_money_for_ap(purchase_order),
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %> (<%= "#{purchase_order.second_discount}%" %> from <%= purchase_order.is_additional_disc_from_net ? "net" : "gross" %>)
                                <% end %>
                            </td>
                            <td style="text-align: right">
                                <% if purchase_order.is_taxable_entrepreneur %>
                                  <%
                                  vat_in_money = if purchase_order.class.name.eql?("PurchaseOrder")
                                    if purchase_order.value_added_tax.eql?("include")
                                      get_include_vat_in_money_for_ap(purchase_order)
                                      else
                                      get_vat_in_money_for_ap(purchase_order)
                                    end
                                    else
                                    if purchase_order.vat_type.eql?("include")
                                      get_include_vat_in_money_for_ap(purchase_order)
                                      else
                                      get_vat_in_money_for_ap(purchase_order)
                                    end
                                    end
                                %>
                                  (<%= purchase_order.class.name.eql?("PurchaseOrder") ? purchase_order.value_added_tax : purchase_order.vat_type %>) <%= number_to_currency(vat_in_money,
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %>
                                <% end %>
                            </td>
                            <td align="right"><%= number_to_currency(value_after_ppn_for_ap(purchase_order),
                                  :separator => ",",
                                  :delimiter => ".",
                                  :unit => "Rp",
                                  :precision => 2) %></td>
                        </tr>
                        <% total_amount_received += value_after_ppn_for_ap(purchase_order) %>
                      <% end %>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="6" align="right"><strong>Amount Due</strong></td>
                          <td align="right"><strong><%= number_to_currency(total_amount_received,
                                    :separator => ",",
                                    :delimiter => ".",
                                    :unit => "Rp",
                                    :precision => 2) %></strong></td>
                      </tr>
                      <% if @account_payable && @account_payable.errors[:total].present? %>
                        <tr>
                            <td colspan="7" align="right"><%= error_help_text(@account_payable, :total) %></td>
                        </tr>
                      <% end %>
                  </tfoot>
              </table>
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">
              Vendor
          </label>
          <div class="col-sm-10">
              <span class="form-control" id="vendor_id" style="cursor: not-allowed;display: inline-block;width: auto"><%= @account_payable.vendor.name rescue "" %></span>              
          </div>
      </div>
      <div class="form-group<%= control_group_error(@account_payable, :vendor_invoice_number) %>">
          <%= f.label :vendor_invoice_number, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :vendor_invoice_number, class: "form-control" %>
                  <%= error_help_text(@account_payable, :vendor_invoice_number) %>
              </div>
          </div>
          <div class="form-group<%= control_group_error(@account_payable, :vendor_invoice_date) %>">
              <%= f.label :vendor_invoice_date, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :vendor_invoice_date, size: 10, readonly: true, class: "form-control" %>
                      <%= error_help_text(@account_payable, :vendor_invoice_date) %>
                  </div>
              </div>              
              <div class="form-group<%= control_group_error(@account_payable, :note) %>">
                  <%= f.label :note, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_area :note, rows: 6, class: "form-control" %>
                          <%= error_help_text(@account_payable, :note) %>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <%= f.submit "Save", class: "btn btn-primary", id: "ap_save_btn" %>
                            <button class="btn btn-link cancel">Cancel</button>
                        </div>
                    </div>
                  <% end %>

                  <script>
                    $(function () {
                        $("#account_payable_vendor_invoice_date").datepicker({
                            dateFormat: "dd/mm/yy"
                        });
                    });
                  </script>