<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @account_payable.number %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @account_payable.payment_method %>
</p>

<p>
  <strong>Amount of debt:</strong>
  <%= @account_payable.amount_of_debt %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @account_payable.amount_paid %>
</p>

<p>
  <strong>Amount returned:</strong>
  <%= @account_payable.amount_returned %>
</p>

<p>
  <strong>Giro number:</strong>
  <%= @account_payable.giro_number %>
</p>

<p>
  <strong>Giro date:</strong>
  <%= @account_payable.giro_date %>
</p>

<p>
  <strong>Remaining debt:</strong>
  <%= @account_payable.remaining_debt %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @account_payable.payment_date %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @account_payable.vendor %>
</p>

<%= link_to 'Edit', edit_account_payable_path(@account_payable) %> |
<%= link_to 'Back', account_payables_path %>
