<td colspan="6">
    <%= form_for(@counter_event, url: activate_deactivate_counter_event_path, remote: true, html: {class: "form-horizontal"}) do |f| %>
        <%= f.hidden_field :counter_event_activation, value: true %>
        <div class="form-group">
            <div class="radio">
                <label class="radio-inline"><%= f.radio_button :is_active, true, checked: @counter_event.is_active? == true %> Activate counter_event for all stores</label>
                <label class="radio-inline"><%= f.radio_button :is_active, false, checked: @counter_event.is_active? == false && !@counter_event.is_active.nil? %> Deactivate counter_event for all stores</label>
                <label class="radio-inline"><%= f.radio_button :is_active, nil, checked: @counter_event.is_active.nil? %> Custom activation</label>
            </div>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Store name</th>
                    <th>Activate</th>
                </tr>
            </thead>
            <tbody>
                <%= f.fields_for :counter_event_warehouses do |counter_event_warehouse_form| %>
                  <% warehouse = Warehouse.select(:code, :name).where(id: counter_event_warehouse_form.object.warehouse_id).first %>
                  <tr>
                      <td><%= warehouse.code_and_name %></td>
                      <td>
                          <div class="form-group">
                              <%= counter_event_warehouse_form.check_box :is_active, checked: counter_event_warehouse_form.object.is_active, class: "warehouse-counter_event-activation-checkbox" %>
                            </div>                          
                        </td>
                    </tr>
                  <% end %>
              </tbody>
          </table>

          <div class="form-group">
              <%= f.submit "Save", class: "btn btn-primary" %>
                <button class="btn btn-link cancel">Cancel</button>
            </div>
          <% end %>
      </td>

      <script>
        $(function () {
            $("#counter_event_is_active_true").click(function () {
                $(".warehouse-counter_event-activation-checkbox").attr("disabled", true);
                $(".warehouse-counter_event-activation-checkbox").prop("checked", false);
            });
            $("#counter_event_is_active_false").click(function () {
                $(".warehouse-counter_event-activation-checkbox").attr("disabled", true);
                $(".warehouse-counter_event-activation-checkbox").prop("checked", false);
            });
            $("#counter_event_is_active").click(function () {
                $(".warehouse-counter_event-activation-checkbox").attr("disabled", false);
            });

      <% if @counter_event.is_active? %>
              $("#counter_event_is_active_true").click();
      <% elsif !@counter_event.is_active? && !@counter_event.is_active.nil? %>
              $("#counter_event_is_active_false").click();
      <% else %>
              $("#counter_event_is_active").click();
      <% end %>
        });
      </script>