<% counter_event_type = counter_event_type rescue nil %>
<% counter_event_type = params[:counter_event_type] rescue nil if counter_event_type.nil? %>
<% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
    <div id='counter_event_general_product_fields_container_cash_discount'>
<% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
    <div id='counter_event_general_product_fields_container_special_price'>
<% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
    <div id='counter_event_general_product_fields_container_buy_one_get_one'>
<% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
    <div id='counter_event_general_product_fields_container_gift'>
<% else %>
    <div id='counter_event_general_product_fields_container_percentage_discount'>
<% end %>  
    <% counter_event_general_products.each do |counter_event_general_product| %>
    <%= render(partial: "counter_event_general_product_fields", locals: {counter_event_general_product: counter_event_general_product, counter_event_type: counter_event_type}) %>
<% end %>
</div>
<% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
<div id="general_product_datatable_cash_discount">
    <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
    <div id="general_product_datatable_special_price">
        <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
        <div id="general_product_datatable_buy_one_get_one">
            <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
            <div id="general_product_datatable_gift">
                <% else %>
                <div id="general_product_datatable_percentage_discount">
                    <% end %>
                    <% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                    <table id="listing_counter_event_general_products_table_cash_discount" class="display">
                        <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                        <table id="listing_counter_event_general_products_table_special_price" class="display">
                            <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                            <table id="listing_counter_event_general_products_table_buy_one_get_one" class="display">
                                <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                <table id="listing_counter_event_general_products_table_gift" class="display">
                                    <% else %>
                                    <table id="listing_counter_event_general_products_table_percentage_discount" class="display">
                                        <% end %>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Code</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% counter_event_general_products.each do |counter_event_general_product| %>
                                            <% unless counter_event_general_product._destroy %>
                                            <% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                                            <tr id="general_product_cash_discount_<%= counter_event_general_product.product_id %>">
                                                <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                                                <tr id="general_product_special_price_<%= counter_event_general_product.product_id %>">
                                                    <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                                                    <tr id="general_product_bo_go_<%= counter_event_general_product.product_id %>">
                                                        <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                                        <tr id="general_product_gift_counter_event_<%= counter_event_general_product.product_id %>">
                                                            <% else %>
                                                            <tr id="general_product_percentage_discount_<%= counter_event_general_product.product_id %>">
                                                                <% end %>
                                                                <td></td>
                                                                <td>
                                                                    <%# if !@counter_event.new_record? && counter_event_product.new_record? %>
                                                                    <%#= counter_event_product.prdct_code %>
                                                                    <%# elsif action_name.eql?("update") || (action_name.eql?("add_products") && !counter_event_warehouse.new_record? && !counter_event_product.new_record?) %>
                                                                    <%#= counter_event_product.product.code %>
                                                                    <%# elsif action_name.eql?("edit") || !@counter_event.new_record? %>
                                                                    <%#= counter_event_product.product_code %>
                                                                    <%# else %>
                                                                    <%= counter_event_general_product.prdct_code %>
                                                                    <%# end %>
                                                                </td>
                                                                <td>
                                                                    <%# if !@counter_event.new_record? && counter_event_product.new_record? %>
                                                                    <%#= counter_event_product.prdct_name %>
                                                                    <%# elsif action_name.eql?("update") || (action_name.eql?("add_products") && !counter_event_warehouse.new_record? && !counter_event_product.new_record?) %>
                                                                    <%#= counter_event_product.product.brand.name %>
                                                                    <%# elsif action_name.eql?("edit") || !@counter_event.new_record? %>
                                                                    <%#= counter_event_product.product_name %>
                                                                    <%# else %>
                                                                    <%= counter_event_general_product.prdct_name %>
                                                                    <%# end %>
                                                                </td>
                                                            </tr>
                                                            <% end %>
                                                            <% end %>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <script type="text/javascript">
                                                  $(function () {
                                                    <% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                                                    counter_eventGeneralProductDataTablesCashDiscount = $('#listing_counter_event_general_products_table_cash_discount').DataTable({
                                                        order: [1, 'asc'],
                                                        dom: 'T<"clear">lBfrtip',
                                                        columns: [
                                                        {data: null, defaultContent: '', orderable: false},
                                                        {data: 'code'},
                                                        {data: 'name'}
                                                        ],
                                                        tableTools: {
                                                            sRowSelect: 'os',
                                                            /*sRowSelector: 'td:last-child',*/
                                                            aButtons: []
                                                        },
                                                        paging: false,
                                                        info: false,
                                                        scrollY: "250px",
                                                        scrollCollapse: true,
                                                        buttons: [
                                                        {
                                                            text: 'Delete',
                                                            action: function (e, dt, node, config) {
                                                                if (dt.rows('.selected')[0].length > 0) {
                                                                    $.each(dt.rows('.selected')[0], function (index, value) {
                                                                        var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                        var selectedProductId = splittedRowId[4];
                                                                        if ($("#cash_discount_counter_event_general_product_id_" + selectedProductId).length > 0)
                                                                            $("#cash_discount_counter_event_general_product_destroy_" + selectedProductId).val("true");
                                                                        else
                                                                            $(".counter_event-general-products-" + selectedProductId + "-cash-discount").remove();
                                                                    });
                                                                    dt.rows('.selected').remove().draw();
                                                                } else
                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                            }
                                                        }
                                                        ]

                                                    });
                                                    <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                                                    counter_eventGeneralProductDataTablesSpecialPrice = $('#listing_counter_event_general_products_table_special_price').DataTable({
                                                        order: [1, 'asc'],
                                                        dom: 'T<"clear">lBfrtip',
                                                        columns: [
                                                        {data: null, defaultContent: '', orderable: false},
                                                        {data: 'code'},
                                                        {data: 'name'}
                                                        ],
                                                        tableTools: {
                                                            sRowSelect: 'os',
                                                            /*sRowSelector: 'td:last-child',*/
                                                            aButtons: []
                                                        },
                                                        paging: false,
                                                        info: false,
                                                        scrollY: "250px",
                                                        scrollCollapse: true,
                                                        buttons: [
                                                        {
                                                            text: 'Delete',
                                                            action: function (e, dt, node, config) {
                                                                if (dt.rows('.selected')[0].length > 0) {
                                                                    $.each(dt.rows('.selected')[0], function (index, value) {
                                                                        var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                        var selectedProductId = splittedRowId[4];
                                                                        if ($("#special_price_counter_event_general_product_id_" + selectedProductId).length > 0)
                                                                            $("#special_price_counter_event_general_product_destroy_" + selectedProductId).val("true");
                                                                        else
                                                                            $(".counter_event-general-products-" + selectedProductId + "-special-price").remove();
                                                                    });
                                                                    dt.rows('.selected').remove().draw();
                                                                } else
                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                            }
                                                        }
                                                        ]

                                                    });
                                                    <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                                                    counter_eventGeneralProductDataTablesBuyOneGetOne = $('#listing_counter_event_general_products_table_buy_one_get_one').DataTable({
                                                        order: [1, 'asc'],
                                                        dom: 'T<"clear">lBfrtip',
                                                        columns: [
                                                        {data: null, defaultContent: '', orderable: false},
                                                        {data: 'code'},
                                                        {data: 'name'}
                                                        ],
                                                        tableTools: {
                                                            sRowSelect: 'os',
                                                            /*sRowSelector: 'td:last-child',*/
                                                            aButtons: []
                                                        },
                                                        paging: false,
                                                        info: false,
                                                        scrollY: "250px",
                                                        scrollCollapse: true,
                                                        buttons: [
                                                        {
                                                            text: 'Delete',
                                                            action: function (e, dt, node, config) {
                                                                if (dt.rows('.selected')[0].length > 0) {
                                                                    $.each(dt.rows('.selected')[0], function (index, value) {
                                                                        var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                        var selectedProductId = splittedRowId[4];
                                                                        if ($("#buy_one_get_one_counter_event_general_product_id_" + selectedProductId).length > 0)
                                                                            $("#buy_one_get_one_counter_event_general_product_destroy_" + selectedProductId).val("true");
                                                                        else
                                                                            $(".counter_event-general-products-" + selectedProductId + "-buy-one-get-one").remove();
                                                                    });
                                                                    dt.rows('.selected').remove().draw();
                                                                } else
                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                            }
                                                        }
                                                        ]

                                                    });
                                                    <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                                    counter_eventGeneralProductDataTablesGift = $('#listing_counter_event_general_products_table_gift').DataTable({
                                                        order: [1, 'asc'],
                                                        dom: 'T<"clear">lBfrtip',
                                                        columns: [
                                                        {data: null, defaultContent: '', orderable: false},
                                                        {data: 'code'},
                                                        {data: 'name'}
                                                        ],
                                                        tableTools: {
                                                            sRowSelect: 'os',
                                                            /*sRowSelector: 'td:last-child',*/
                                                            aButtons: []
                                                        },
                                                        paging: false,
                                                        info: false,
                                                        scrollY: "250px",
                                                        scrollCollapse: true,
                                                        buttons: [
                                                        {
                                                            text: 'Delete',
                                                            action: function (e, dt, node, config) {
                                                                if (dt.rows('.selected')[0].length > 0) {
                                                                    $.each(dt.rows('.selected')[0], function (index, value) {
                                                                        var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                        var selectedProductId = splittedRowId[4];
                                                                        if ($("#gift_counter_event_general_product_id_" + selectedProductId).length > 0)
                                                                            $("#gift_counter_event_general_product_destroy_" + selectedProductId).val("true");
                                                                        else
                                                                            $(".counter_event-general-products-" + selectedProductId + "-gift").remove();
                                                                    });
                                                                    dt.rows('.selected').remove().draw();
                                                                } else
                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                            }
                                                        }
                                                        ]

                                                    });
                                                    <% else %>
                                                    counter_eventGeneralProductDataTablesPercentageDiscount = $('#listing_counter_event_general_products_table_percentage_discount').DataTable({
                                                        order: [1, 'asc'],
                                                        dom: 'T<"clear">lBfrtip',
                                                        columns: [
                                                        {data: null, defaultContent: '', orderable: false},
                                                        {data: 'code'},
                                                        {data: 'name'}
                                                        ],
                                                        tableTools: {
                                                            sRowSelect: 'os',
                                                            /*sRowSelector: 'td:last-child',*/
                                                            aButtons: []
                                                        },
                                                        paging: false,
                                                        info: false,
                                                        scrollY: "250px",
                                                        scrollCollapse: true,
                                                        buttons: [
                                                        {
                                                            text: 'Delete',
                                                            action: function (e, dt, node, config) {
                                                                if (dt.rows('.selected')[0].length > 0) {
                                                                    $.each(dt.rows('.selected')[0], function (index, value) {
                                                                        var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                        var selectedProductId = splittedRowId[4];
                                                                        if ($("#counter_event_counter_event_general_products_attributes_" + selectedProductId + "_id").length > 0)
                                                                            $("#counter_event_counter_event_general_products_attributes_" + selectedProductId + "__destroy").val("true");
                                                                        else
                                                                            $(".counter_event-general-products-" + selectedProductId + "-percentage-discount").remove();
                                                                    });
                                                                    dt.rows('.selected').remove().draw();
                                                                } else
                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                            }
                                                        }
                                                        ]

                                                    });
                                                    <% end %>
                                                });
                                            </script>
                                            <style>
                                            <% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                                            #listing_counter_event_general_products_table_cash_discount_filter label {
                                              font-weight: normal;
                                          }

                                          #listing_counter_event_general_products_table_cash_discount tr td:first-child {
                                              text-align: center;
                                          }

                                          #listing_counter_event_general_products_table_cash_discount tr td:first-child:before {
                                              content: "\f096"; /* fa-square-o */
                                              font-family: FontAwesome;
                                          }

                                          #listing_counter_event_general_products_table_cash_discount tr.selected td:first-child:before {
                                              content: "\f046"; /* fa-check-square-o */
                                          }

                                          #listing_counter_event_general_products_table_cash_discount_wrapper .DTTT_container {
                                              position: absolute
                                          }
                                          <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                                          #listing_counter_event_general_products_table_special_price_filter label {
                                              font-weight: normal;
                                          }

                                          #listing_counter_event_general_products_table_special_price tr td:first-child {
                                              text-align: center;
                                          }

                                          #listing_counter_event_general_products_table_special_price tr td:first-child:before {
                                              content: "\f096"; /* fa-square-o */
                                              font-family: FontAwesome;
                                          }

                                          #listing_counter_event_general_products_table_special_price tr.selected td:first-child:before {
                                              content: "\f046"; /* fa-check-square-o */
                                          }

                                          #listing_counter_event_general_products_table_special_price_wrapper .DTTT_container {
                                              position: absolute
                                          }
                                          <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                                          #listing_counter_event_general_products_table_buy_one_get_one_filter label {
                                              font-weight: normal;
                                          }

                                          #listing_counter_event_general_products_table_buy_one_get_one tr td:first-child {
                                              text-align: center;
                                          }

                                          #listing_counter_event_general_products_table_buy_one_get_one tr td:first-child:before {
                                              content: "\f096"; /* fa-square-o */
                                              font-family: FontAwesome;
                                          }

                                          #listing_counter_event_general_products_table_buy_one_get_one tr.selected td:first-child:before {
                                              content: "\f046"; /* fa-check-square-o */
                                          }

                                          #listing_counter_event_general_products_table_buy_one_get_one_wrapper .DTTT_container {
                                              position: absolute
                                          }
                                          <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                          #listing_counter_event_general_products_table_gift_filter label {
                                              font-weight: normal;
                                          }

                                          #listing_counter_event_general_products_table_gift tr td:first-child {
                                              text-align: center;
                                          }

                                          #listing_counter_event_general_products_table_gift tr td:first-child:before {
                                              content: "\f096"; /* fa-square-o */
                                              font-family: FontAwesome;
                                          }

                                          #listing_counter_event_general_products_table_gift tr.selected td:first-child:before {
                                              content: "\f046"; /* fa-check-square-o */
                                          }

                                          #listing_counter_event_general_products_table_gift_wrapper .DTTT_container {
                                              position: absolute
                                          }
                                          <% else %>
                                          #listing_counter_event_general_products_table_percentage_discount_filter label {
                                              font-weight: normal;
                                          }

                                          #listing_counter_event_general_products_table_percentage_discount tr td:first-child {
                                              text-align: center;
                                          }

                                          #listing_counter_event_general_products_table_percentage_discount tr td:first-child:before {
                                              content: "\f096"; /* fa-square-o */
                                              font-family: FontAwesome;
                                          }

                                          #listing_counter_event_general_products_table_percentage_discount tr.selected td:first-child:before {
                                              content: "\f046"; /* fa-check-square-o */
                                          }

                                          #listing_counter_event_general_products_table_percentage_discount_wrapper .DTTT_container {
                                              position: absolute
                                          }
                                          <% end %>
                                      </style>