<% counter_event_type = counter_event_type rescue nil %>
<% counter_event_type = params[:counter_event_type] rescue nil if counter_event_type.nil? %>
<% counter_event_warehouse = counter_event_warehouse rescue nil %>
<% counter_event_warehouse = @counter_event.counter_event_warehouses.select{|ew| ew.warehouse_id == params[:warehouse_id].to_i}.first if counter_event_warehouse.nil? %>
<% counter_event_products = counter_event_products rescue nil %>
<% if counter_event_products.nil? %>
  <% counter_event_products = if action_name.eql?("update") || (!@counter_event.new_record? && counter_event_warehouse.new_record?)  || (!counter_event_warehouse.new_record? && action_name.eql?("add_products"))%>
    <% counter_event_warehouse.counter_event_products %>
  <% elsif !@counter_event.new_record? %>
    <% counter_event_warehouse.counter_event_products.joins(product: :brand).select(:id, :product_id, "products.code AS product_code", "common_fields.name AS product_name") %>
  <% else %>
    <% counter_event_warehouse.counter_event_products %>
  <% end %>
<% end %>
<% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
  <div id='counter_event_product_fields_container_<%= counter_event_warehouse.warehouse_id %>_cash_discount'>
    <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
      <div id='counter_event_product_fields_container_<%= counter_event_warehouse.warehouse_id %>_special_price'>
        <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
          <div id='counter_event_product_fields_container_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one'>
            <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
              <div id='counter_event_product_fields_container_<%= counter_event_warehouse.warehouse_id %>_gift'>
                <% else %>
                  <div id='counter_event_product_fields_container_<%= counter_event_warehouse.warehouse_id %>'>
                    <% end %>  
                    <% counter_event_products.each do |counter_event_product| %>
                      <%= render(partial: "counter_event_product_fields", locals: {warehouse_id: counter_event_warehouse.warehouse_id, counter_event_product: counter_event_product, counter_event_type: counter_event_type}) %>
                    <% end %>
                </div>
                <% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                  <div id="warehouse_product_datatable_<%= counter_event_warehouse.warehouse_id %>_cash_discount">
                    <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                      <div id="warehouse_product_datatable_<%= counter_event_warehouse.warehouse_id %>_special_price">
                        <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                          <div id="warehouse_product_datatable_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one">
                            <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                              <div id="warehouse_product_datatable_<%= counter_event_warehouse.warehouse_id %>_gift">
                                <% else %>
                                  <div id="warehouse_product_datatable_<%= counter_event_warehouse.warehouse_id %>">
                                    <% end %>
                                    <% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                                      <table id="listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_cash_discount" class="display">
                                        <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                                          <table id="listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_special_price" class="display">
                                            <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                                              <table id="listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one" class="display">
                                                <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                                  <table id="listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_gift" class="display">
                                                    <% else %>
                                                      <table id="listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>" class="display">
                                                        <% end %>
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Code</th>
                                                                <th>Name</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <% counter_event_products.each do |counter_event_product| %>
                                                              <% unless counter_event_product._destroy %>
                                                                <% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                                                                  <tr id="warehouse_<%= counter_event_warehouse.warehouse_id %>_product_<%= counter_event_product.product_id %>_cash_discount">
                                                                    <% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                                                                  <tr id="warehouse_<%= counter_event_warehouse.warehouse_id %>_product_<%= counter_event_product.product_id %>_special_price">
                                                                    <% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                                                                  <tr id="warehouse_<%= counter_event_warehouse.warehouse_id %>_product_<%= counter_event_product.product_id %>_buy_one_get_one">
                                                                    <% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                                                  <tr id="warehouse_<%= counter_event_warehouse.warehouse_id %>_product_<%= counter_event_product.product_id %>_gift">
                                                                    <% else %>
                                                                  <tr id="warehouse_<%= counter_event_warehouse.warehouse_id %>_product_<%= counter_event_product.product_id %>">
                                                                    <% end %>
                                                                    <td></td>
                                                                    <td>
                                                                        <% if !@counter_event.new_record? && counter_event_product.new_record? %>
                                                                          <%= counter_event_product.prdct_code %>
                                                                        <% elsif action_name.eql?("update") || (action_name.eql?("add_products") && !counter_event_warehouse.new_record? && !counter_event_product.new_record?) %>
                                                                          <%= counter_event_product.product.code %>
                                                                        <% elsif action_name.eql?("edit") || !@counter_event.new_record? %>
                                                                          <%= counter_event_product.product_code %>
                                                                        <% else %>
                                                                          <%= counter_event_product.prdct_code %>
                                                                        <% end %>
                                                                    </td>
                                                                    <td>
                                                                        <% if !@counter_event.new_record? && counter_event_product.new_record? %>
                                                                          <%= counter_event_product.prdct_name %>
                                                                        <% elsif action_name.eql?("update") || (action_name.eql?("add_products") && !counter_event_warehouse.new_record? && !counter_event_product.new_record?) %>
                                                                          <%= counter_event_product.product.brand.name %>
                                                                        <% elsif action_name.eql?("edit") || !@counter_event.new_record? %>
                                                                          <%= counter_event_product.product_name %>
                                                                        <% else %>
                                                                          <%= counter_event_product.prdct_name %>
                                                                        <% end %>
                                                                    </td>
                                                                </tr>
                                                              <% end %>
                                                            <% end %>
                                                        </tbody>
                                                    </table>
                                                    </div>

                                                    <script type="text/javascript">
                                                      $(function () {
<% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                                                            counter_eventWarehouseProductDataTablesCashDiscount['<%= counter_event_warehouse.warehouse_id %>'] = $('#listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_cash_discount').DataTable({
                                                                order: [1, 'asc'],
                                                                dom: 'T<"clear">lBfrtip',
                                                                columns: [
                                                                    {data: null, defaultContent: '', orderable: false},
                                                                    {data: 'code'},
                                                                    {data: 'name'}
                                                                ],
                                                                tableTools: {
                                                                    sRowSelect: 'os',
                                                                    /*sRowSelector: 'td:last-child',*/
                                                                    aButtons: []
                                                                },
                                                                paging: false,
                                                                info: false,
                                                                scrollY: "250px",
                                                                scrollCollapse: true,
                                                                buttons: [
                                                                    {
                                                                        text: 'Delete',
                                                                        action: function (e, dt, node, config) {
                                                                            if (dt.rows('.selected')[0].length > 0) {
                                                                                $.each(dt.rows('.selected')[0], function (index, value) {
                                                                                    var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                                    var selectedWarehouseId = splittedRowId[1];
                                                                                    var selectedProductId = splittedRowId[3];
                                                                                    if ($("#cash_discount_counter_event_product_id_" + selectedWarehouseId + "_" + selectedProductId).length > 0)
                                                                                        $("#cash_discount_counter_event_product_destroy_" + selectedWarehouseId + "_" + selectedProductId).val("true");
                                                                                    else
                                                                                        $(".counter_event-products-" + selectedWarehouseId + "-" + selectedProductId + "-cash-discount").remove();
                                                                                });
                                                                                dt.rows('.selected').remove().draw();
                                                                            } else
                                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});

                                                                        }
                                                                    }
                                                                ]

                                                            });
<% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                                                            counter_eventWarehouseProductDataTablesSpecialPrice['<%= counter_event_warehouse.warehouse_id %>'] = $('#listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_special_price').DataTable({
                                                                order: [1, 'asc'],
                                                                dom: 'T<"clear">lBfrtip',
                                                                columns: [
                                                                    {data: null, defaultContent: '', orderable: false},
                                                                    {data: 'code'},
                                                                    {data: 'name'}
                                                                ],
                                                                tableTools: {
                                                                    sRowSelect: 'os',
                                                                    /*sRowSelector: 'td:last-child',*/
                                                                    aButtons: []
                                                                },
                                                                paging: false,
                                                                info: false,
                                                                scrollY: "250px",
                                                                scrollCollapse: true,
                                                                buttons: [
                                                                    {
                                                                        text: 'Delete',
                                                                        action: function (e, dt, node, config) {
                                                                            if (dt.rows('.selected')[0].length > 0) {
                                                                                $.each(dt.rows('.selected')[0], function (index, value) {
                                                                                    var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                                    var selectedWarehouseId = splittedRowId[1];
                                                                                    var selectedProductId = splittedRowId[3];
                                                                                    if ($("#special_price_counter_event_product_id_" + selectedWarehouseId + "_" + selectedProductId).length > 0)
                                                                                        $("#special_price_counter_event_product_destroy_" + selectedWarehouseId + "_" + selectedProductId).val("true");
                                                                                    else
                                                                                        $(".counter_event-products-" + selectedWarehouseId + "-" + selectedProductId + "-special-price").remove();
                                                                                });
                                                                                dt.rows('.selected').remove().draw();
                                                                            } else
                                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});

                                                                        }
                                                                    }
                                                                ]

                                                            });
<% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                                                            counter_eventWarehouseProductDataTablesBuyOneGetOne['<%= counter_event_warehouse.warehouse_id %>'] = $('#listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one').DataTable({
                                                                order: [1, 'asc'],
                                                                dom: 'T<"clear">lBfrtip',
                                                                columns: [
                                                                    {data: null, defaultContent: '', orderable: false},
                                                                    {data: 'code'},
                                                                    {data: 'name'}
                                                                ],
                                                                tableTools: {
                                                                    sRowSelect: 'os',
                                                                    /*sRowSelector: 'td:last-child',*/
                                                                    aButtons: []
                                                                },
                                                                paging: false,
                                                                info: false,
                                                                scrollY: "250px",
                                                                scrollCollapse: true,
                                                                buttons: [
                                                                    {
                                                                        text: 'Delete',
                                                                        action: function (e, dt, node, config) {
                                                                            if (dt.rows('.selected')[0].length > 0) {
                                                                                $.each(dt.rows('.selected')[0], function (index, value) {
                                                                                    var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                                    var selectedWarehouseId = splittedRowId[1];
                                                                                    var selectedProductId = splittedRowId[3];
                                                                                    if ($("#buy_one_get_one_counter_event_product_id_" + selectedWarehouseId + "_" + selectedProductId).length > 0)
                                                                                        $("#buy_one_get_one_counter_event_product_destroy_" + selectedWarehouseId + "_" + selectedProductId).val("true");
                                                                                    else
                                                                                        $(".counter_event-products-" + selectedWarehouseId + "-" + selectedProductId + "-buy-one-get-one").remove();
                                                                                });
                                                                                dt.rows('.selected').remove().draw();
                                                                            } else
                                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                                        }
                                                                    }
                                                                ]

                                                            });
<% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                                            counter_eventWarehouseProductDataTablesGift['<%= counter_event_warehouse.warehouse_id %>'] = $('#listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_gift').DataTable({
                                                                order: [1, 'asc'],
                                                                dom: 'T<"clear">lBfrtip',
                                                                columns: [
                                                                    {data: null, defaultContent: '', orderable: false},
                                                                    {data: 'code'},
                                                                    {data: 'name'}
                                                                ],
                                                                tableTools: {
                                                                    sRowSelect: 'os',
                                                                    /*sRowSelector: 'td:last-child',*/
                                                                    aButtons: []
                                                                },
                                                                paging: false,
                                                                info: false,
                                                                scrollY: "250px",
                                                                scrollCollapse: true,
                                                                buttons: [
                                                                    {
                                                                        text: 'Delete',
                                                                        action: function (e, dt, node, config) {
                                                                            if (dt.rows('.selected')[0].length > 0) {
                                                                                $.each(dt.rows('.selected')[0], function (index, value) {
                                                                                    var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                                    var selectedWarehouseId = splittedRowId[1];
                                                                                    var selectedProductId = splittedRowId[3];
                                                                                    if ($("#gift_counter_event_product_id_" + selectedWarehouseId + "_" + selectedProductId).length > 0)
                                                                                        $("#gift_counter_event_product_destroy_" + selectedWarehouseId + "_" + selectedProductId).val("true");
                                                                                    else
                                                                                        $(".counter_event-products-" + selectedWarehouseId + "-" + selectedProductId + "-gift").remove();
                                                                                });
                                                                                dt.rows('.selected').remove().draw();
                                                                            } else
                                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                                        }
                                                                    }
                                                                ]

                                                            });
<% else %>
                                                            counter_eventWarehouseProductDataTables['<%= counter_event_warehouse.warehouse_id %>'] = $('#listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>').DataTable({
                                                                order: [1, 'asc'],
                                                                dom: 'T<"clear">lBfrtip',
                                                                columns: [
                                                                    {data: null, defaultContent: '', orderable: false},
                                                                    {data: 'code'},
                                                                    {data: 'name'}
                                                                ],
                                                                tableTools: {
                                                                    sRowSelect: 'os',
                                                                    /*sRowSelector: 'td:last-child',*/
                                                                    aButtons: []
                                                                },
                                                                paging: false,
                                                                info: false,
                                                                scrollY: "250px",
                                                                scrollCollapse: true,
                                                                buttons: [
                                                                    {
                                                                        text: 'Delete',
                                                                        action: function (e, dt, node, config) {
                                                                            if (dt.rows('.selected')[0].length > 0) {
                                                                                $.each(dt.rows('.selected')[0], function (index, value) {
                                                                                    var splittedRowId = dt.rows(value).nodes().to$().attr("id").split("_");
                                                                                    var selectedWarehouseId = splittedRowId[1];
                                                                                    var selectedProductId = splittedRowId[3];
                                                                                    if ($("#counter_event_counter_event_warehouses_attributes_" + selectedWarehouseId + "_counter_event_products_attributes_" + selectedProductId + "_id").length > 0)
                                                                                        $("#counter_event_counter_event_warehouses_attributes_" + selectedWarehouseId + "_counter_event_products_attributes_" + selectedProductId + "__destroy").val("true");
                                                                                    else
                                                                                        $(".counter_event-products-" + selectedWarehouseId + "-" + selectedProductId).remove();
                                                                                });
                                                                                dt.rows('.selected').remove().draw();
                                                                            } else
                                                                                bootbox.alert({message: "Please select product(s) that you want to delete", size: 'small'});
                                                                        }
                                                                    }
                                                                ]

                                                            });
<% end %>
                                                      });
                                                    </script>
                                                    <style>
<% if counter_event_type.present? && counter_event_type.eql?("cash discount") %>
                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_cash_discount_filter label {
                                                              font-weight: normal;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_cash_discount tr td:first-child {
                                                              text-align: center;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_cash_discount tr td:first-child:before {
                                                              content: "\f096"; /* fa-square-o */
                                                              font-family: FontAwesome;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_cash_discount tr.selected td:first-child:before {
                                                              content: "\f046"; /* fa-check-square-o */
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_cash_discount_wrapper .DTTT_container {
                                                              position: absolute
                                                          }
<% elsif counter_event_type.present? && counter_event_type.eql?("special price") %>
                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_special_price_filter label {
                                                              font-weight: normal;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_special_price tr td:first-child {
                                                              text-align: center;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_special_price tr td:first-child:before {
                                                              content: "\f096"; /* fa-square-o */
                                                              font-family: FontAwesome;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_special_price tr.selected td:first-child:before {
                                                              content: "\f046"; /* fa-check-square-o */
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_special_price_wrapper .DTTT_container {
                                                              position: absolute
                                                          }
<% elsif counter_event_type.present? && counter_event_type.eql?("buy one get one") %>
                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one_filter label {
                                                              font-weight: normal;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one tr td:first-child {
                                                              text-align: center;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one tr td:first-child:before {
                                                              content: "\f096"; /* fa-square-o */
                                                              font-family: FontAwesome;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one tr.selected td:first-child:before {
                                                              content: "\f046"; /* fa-check-square-o */
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_buy_one_get_one_wrapper .DTTT_container {
                                                              position: absolute
                                                          }
<% elsif counter_event_type.present? && counter_event_type.eql?("gift") %>
                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_gift_filter label {
                                                              font-weight: normal;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_gift tr td:first-child {
                                                              text-align: center;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_gift tr td:first-child:before {
                                                              content: "\f096"; /* fa-square-o */
                                                              font-family: FontAwesome;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_gift tr.selected td:first-child:before {
                                                              content: "\f046"; /* fa-check-square-o */
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_gift_wrapper .DTTT_container {
                                                              position: absolute
                                                          }
<% else %>
                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_filter label {
                                                              font-weight: normal;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %> tr td:first-child {
                                                              text-align: center;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %> tr td:first-child:before {
                                                              content: "\f096"; /* fa-square-o */
                                                              font-family: FontAwesome;
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %> tr.selected td:first-child:before {
                                                              content: "\f046"; /* fa-check-square-o */
                                                          }

                                                          #listing_counter_event_warehouse_products_table_<%= counter_event_warehouse.warehouse_id %>_wrapper .DTTT_container {
                                                              position: absolute
                                                          }
<% end %>
                                                    </style>