<% counter_event_type = "gift" %>
<% if action_name.eql?("edit") %>
  <% counter_event_warehouses = @counter_event.counter_event_warehouses.select(:id, :warehouse_id, :code, :name, :select_different_products).joins(:warehouse) %>
<% elsif action_name.eql?("update") %>
  <% counter_event_warehouses = @counter_event.counter_event_warehouses %>
<% elsif !@counter_event.new_record? %>
  <% counter_event_warehouses = @counter_event_warehouses %>
<% else %>
  <% counter_event_warehouses = @counter_event.counter_event_warehouses %>
<% end %>
<% counter_event_warehouses.each do |counter_event_warehouse| %>
  <% if action_name.eql?("edit") %>
    <% counter_event_warehouse.wrhs_code = counter_event_warehouse.code %>
    <% counter_event_warehouse.wrhs_name = counter_event_warehouse.name %>
    <% counter_event_products = counter_event_warehouse.counter_event_products.joins(product: :brand).select(:id, :product_id, "products.code AS product_code", "common_fields.name AS product_name") %>
  <% elsif action_name.eql?("update") %>
    <% counter_event_warehouse.wrhs_code = counter_event_warehouse.warehouse.code %>
    <% counter_event_warehouse.wrhs_name = counter_event_warehouse.warehouse.name %>
    <% counter_event_products = counter_event_warehouse.counter_event_products %>
  <% end %>
  <%= fields_for "counter_event[counter_event_warehouses_attributes][#{counter_event_warehouse.warehouse_id}]", counter_event_warehouse do |counter_event_warehouse_fields| %>
    <%= counter_event_warehouse_fields.hidden_field :id unless counter_event_warehouse_fields.object.new_record? %>
    <% if !counter_event_warehouse_fields.object.new_record? && (counter_event_warehouse_fields.object.remove || counter_event_warehouse_fields.object._destroy) %>
      <%= counter_event_warehouse_fields.hidden_field :_destroy, value: true %>
    <% else %>
      <%= counter_event_warehouse_fields.hidden_field :warehouse_id, class: "counter_event_warehouse_id_fields_gift" %>
        <%= counter_event_warehouse_fields.hidden_field :wrhs_code %>
        <%= counter_event_warehouse_fields.hidden_field :wrhs_name %>
        <%= counter_event_warehouse_fields.hidden_field :counter_event_type, value: "gift" %>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><%= "#{counter_event_warehouse.wrhs_code} - #{counter_event_warehouse.wrhs_name}" %></h2>
                        <div class="navbar-right">
                            <% if !counter_event_warehouse_fields.object.new_record? %>                      
                              <%= counter_event_warehouse_fields.check_box :_destroy %> Delete
                            <% end %>
                            <%= counter_event_warehouse_fields.check_box :select_different_products, class: "counter_event-warehouse-select-different-products-fields-gift", id: "counter_event_counter_event_warehouses_attributes_#{counter_event_warehouse.warehouse_id}_select_different_products_gift" %> Select different products
                          </div>
                          <div class="clearfix"></div>
                      </div>
                      <div class="x_content<%= " hidden" unless counter_event_warehouse.select_different_products? %>" id="counter_event-warehouse-<%= counter_event_warehouse.warehouse_id %>-form-container-gift">

                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#add_products_by_bgm_<%= counter_event_warehouse.warehouse_id %>_gift" aria-controls="add_products_by_bgm_<%= counter_event_warehouse.warehouse_id %>_gift" role="tab" data-toggle="tab">Add products by brand/goods type/model</a></li>
                              <li role="presentation"><a href="#add_products_by_code_<%= counter_event_warehouse.warehouse_id %>_gift" aria-controls="add_products_by_code_<%= counter_event_warehouse.warehouse_id %>_gift" role="tab" data-toggle="tab">Add products by code</a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade in active" id="add_products_by_bgm_<%= counter_event_warehouse.warehouse_id %>_gift" style="padding-top: 20px">
                                  <div class="form-group">
                                      <label class="control-label col-sm-3" for="brand">Brand</label>
                                      <div class="col-sm-9">
                                          <%= select_tag "brand", options_from_collection_for_select(@brands, :id, "code_and_name"), {prompt: "All", class: "form-control", id: "brand_#{counter_event_warehouse.warehouse_id}_gift"} %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="goods-type">Goods Type</label>
                                        <div class="col-sm-9">
                                            <%= select_tag "goods_type", options_from_collection_for_select(@goods_types, :id, "code_and_name"), {prompt: "All", class: "form-control", id: "goods_type_#{counter_event_warehouse.warehouse_id}_gift"} %>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="control-label col-sm-3" for="model">Model</label>
                                          <div class="col-sm-9">
                                              <%= select_tag "model", options_from_collection_for_select(@models, :id, "code_and_name"), {prompt: "All", class: "form-control", id: "model_#{counter_event_warehouse.warehouse_id}_gift"} %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success add-buttons-gift" id="add-btn-<%= counter_event_warehouse.warehouse_id %>-gift">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="add_products_by_code_<%= counter_event_warehouse.warehouse_id %>_gift" style="padding-top: 20px">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="code">Code</label>
                                            <div class="col-sm-9">
                                                <%= text_field_tag "code", "", {class: "form-control", id: "code_#{counter_event_warehouse.warehouse_id}_gift"} %>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-sm-offset-3 col-sm-9">
                                                  <button type="submit" class="btn btn-success add-buttons-by-code-gift" id="add-btn-<%= counter_event_warehouse.warehouse_id %>-by-code-gift">Add</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div id="listing-warehouse-<%= counter_event_warehouse.warehouse_id %>-products-gift">
                                      <% if (action_name.eql?("edit") && counter_event_products.length > 0) || action_name.eql?("update") %>
                                        <%= render partial: "listing_warehouse_products", locals: {counter_event_warehouse: counter_event_warehouse, counter_event_products: counter_event_products, counter_event_type: counter_event_type} %>
                                      <% elsif counter_event_warehouse.counter_event_products.present? %>
                                        <%= render partial: "listing_warehouse_products", locals: {counter_event_warehouse: counter_event_warehouse, counter_event_type: counter_event_type} %>
                                      <% end %>
                                  </div>

                                  <div class="ln_solid"></div>

                              </div>
                          </div>
                      </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <script type="text/javascript">
              $(function () {
                  $(".add-buttons-gift").click(function () {
                      var warehouseId = $(this).attr("id").split("-")[2];
                      var productIds = [];
                      $(".counter_event-products-" + warehouseId + "-product-id-fields-gift").each(function () {
                          var attrId = $(this).attr('id');
                          productIds.push(attrId.split("_")[8]);
                      });
                      var addProductParams = {};
            <% if @counter_event.new_record? %>
                        addProductParams = {
                            warehouse_id: warehouseId,
                            brand_id: $("#brand_" + warehouseId + "_gift").val(),
                            goods_type_id: $("#goods_type_" + warehouseId + "_gift").val(),
                            model_id: $("#model_" + warehouseId + "_gift").val(),
                            selected_product_ids: productIds.join(","),
                            counter_event_type: "gift"
                        };
            <% else %>
                        addProductParams = {
                            warehouse_id: warehouseId,
                            brand_id: $("#brand_" + warehouseId + "_gift").val(),
                            goods_type_id: $("#goods_type_" + warehouseId + "_gift").val(),
                            model_id: $("#model_" + warehouseId + "_gift").val(),
                            selected_product_ids: productIds.join(","),
                            counter_event_type: "gift",
                            counter_event_id: "<%= @counter_event.id %>"
                        };
            <% end %>
                      $.get("/counter_events/add_products", addProductParams);
                      $("#brand_" + warehouseId + "_gift").prop('selectedIndex', 0);
                      $("#goods_type_" + warehouseId + "_gift").prop('selectedIndex', 0);
                      $("#model_" + warehouseId + "_gift").prop('selectedIndex', 0);
                      return false;
                  });
                  $(".add-buttons-by-code-gift").click(function () {
                      var warehouseId = $(this).attr("id").split("-")[2];
                      if ($("#code_" + warehouseId + "_gift").val().trim() == "")
                          bootbox.alert({message: "Please fill out the field above", size: "small"});
                      else {
                          var productIds = [];
                          $(".counter_event-products-" + warehouseId + "-product-id-fields-gift").each(function () {
                              var attrId = $(this).attr('id');
                              productIds.push(attrId.split("_")[8]);
                          });
                          var addProductParams = {};
            <% if @counter_event.new_record? %>
                            addProductParams = {
                                warehouse_id: warehouseId,
                                product_code: $("#code_" + warehouseId + "_gift").val(),
                                selected_product_ids: productIds.join(","),
                                counter_event_type: "gift"
                            };
            <% else %>
                            addProductParams = {
                                warehouse_id: warehouseId,
                                product_code: $("#code_" + warehouseId + "_gift").val(),
                                selected_product_ids: productIds.join(","),
                                counter_event_type: "gift",
                                counter_event_id: "<%= @counter_event.id %>"
                            };
            <% end %>
                          $.get("/counter_events/add_products", addProductParams);
                          $("#code_" + warehouseId + "_gift").val("");
                      }
                      return false;
                  });
                  $(".counter_event-warehouse-select-different-products-fields-gift").click(function () {
                      var warehouseId = $(this).attr("id").split("_")[4];
                      if ($(this).is(":checked"))
                          $("#counter_event-warehouse-" + warehouseId + "-form-container-gift").removeClass("hidden");
                      else {
                          $("#counter_event-warehouse-" + warehouseId + "-form-container-gift").addClass("hidden");
                      }
                  });

              });
            </script>