<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-adjustments-thead">
        <tr>
            <th class="col-md-3"><%= smart_listing.sortable "Number", "number" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Warehouse", "warehouses.code" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Date", "adj_date" %></th>
            <th class="col-md-1"><%= smart_listing.sortable "Type", "adj_type" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Quantity", "quantity" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |adjustment| %>
          <tr class="editable" data-id="<%= adjustment.id %>">
              <%= smart_listing.render object: adjustment, partial: "adjustments/adjustment", locals: {object: adjustment} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 6, link: new_adjustment_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var adjProcessId = setInterval(function () {
      if ($("#listing-adjustments-thead").is(":visible")) {
          clearInterval(adjProcessId);
      } else {
          $("#listing-adjustments-thead").show();
      }
  }, 0);
</script>