<td colspan="6">
    <div style="padding-top: 20px"></div>
    <%= form_for(@product, remote: true, html: {class: "form-horizontal"}) do |f| %>
        <!--
        <% if @product.errors.any? %>
                                                                                                                                <div id="error_explanation">
                                                                                                                                    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

                                                                                                                                    <ul>
          <% @product.errors.full_messages.each do |message| %>
                                                                                                                                                                                                                <li><%= message %></li>
          <% end %>
                                                                                                                                    </ul>
                                                                                                                                </div>
        <% end %>
        -->
        <div class="form-group<%= control_group_error(@product, :code) %>">
            <%= f.label :code, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.text_field :code, class: "form-control upcase inputs", tabindex: "1" %>
                    <%= error_help_text(@product, :code) %>
                </div>
            </div>
            <div class="form-group<%= control_group_error(@product, :description) %>">
                <%= f.label :description, class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= f.text_area :description, rows: 6, tabindex: "2", class: "form-control" %>
                        <%= error_help_text(@product, :description) %>
                    </div>
                </div>
                <div class="form-group<%= control_group_error(@product, :brand_id) %>">
                    <%= f.label :brand_id, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.select :brand_id, options_from_collection_for_select(Brand.select(:id, :name), :id, :name, @product.brand_id.to_s), {prompt: true}, {tabindex: "3", class: "form-control"} %>
                            <%= error_help_text(@product, :brand_id) %>
                        </div>
                    </div>
                    <div class="form-group<%= control_group_error(@product, :sex) %>">
                        <%= f.label :sex, class: "col-sm-2 control-label" %>
                          <div class="col-sm-10">
                              <%= f.select :sex, options_for_select(Product::SEX, @product.sex), {prompt: true}, {tabindex: "4", class: "form-control"} %>
                                <%= error_help_text(@product, :sex) %>
                            </div>
                        </div>
                        <div class="form-group<%= control_group_error(@product, :vendor_id) %>">
                            <%= f.label :vendor_id, class: "col-sm-2 control-label" %>
                              <div class="col-sm-10">
                                  <%= f.select :vendor_id, options_from_collection_for_select(Vendor.select(:id, :name), :id, :name, @product.vendor_id.to_s), {prompt: true}, {tabindex: "5", class: "form-control"} %>
                                    <%= error_help_text(@product, :vendor_id) %>
                                </div>
                            </div>
                            <div class="form-group<%= control_group_error(@product, :target) %>">
                                <%= f.label :target, class: "col-sm-2 control-label" %>
                                  <div class="col-sm-10">
                                      <%= f.select :target, options_for_select(Product::TARGETS, @product.target), {prompt: true}, {tabindex: "6", class: "form-control"} %>
                                        <%= error_help_text(@product, :target) %>
                                    </div>
                                </div>
                                <div class="form-group<%= control_group_error(@product, :model_id) %>">
                                    <%= f.label :model_id, class: "col-sm-2 control-label" %>
                                      <div class="col-sm-10">
                                          <%= f.select :model_id, options_from_collection_for_select(Model.select(:id, :name), :id, :name, @product.model_id.to_s), {prompt: true}, {tabindex: "7", class: "form-control"} %>
                                            <%= error_help_text(@product, :model_id) %>
                                        </div>
                                    </div>
                                    <div class="form-group<%= control_group_error(@product, :goods_type_id) %>">
                                        <%= f.label :goods_type_id, class: "col-sm-2 control-label" %>
                                          <div class="col-sm-10">
                                              <%= f.select :goods_type_id, options_from_collection_for_select(GoodsType.select(:id, :name), :id, :name, @product.goods_type_id.to_s), {prompt: true}, {tabindex: "8", class: "form-control"} %>
                                                <%= error_help_text(@product, :goods_type_id) %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Colors</label>
                                            <div class="col-sm-10">
                                                <%= f.fields_for :product_colors do |product_color_form| %>
                                                  <%= product_color_form.hidden_field :selected_color_id, id: "selected_color_id_#{product_color_form.object.color_id}", class: "selected-colors" %>
                                                    <%= product_color_form.hidden_field :color_id %>
                                                    <%= product_color_form.hidden_field :code %>
                                                    <%= product_color_form.hidden_field :name %>
                                                    <%= product_color_form.hidden_field :_destroy, value: true, class: "color-delete-marker", id: "color_delete_marker_#{product_color_form.object.color_id}" unless product_color_form.object.new_record? %>
                                                    <% end %>
                                                    <table id="listing_product_colors_table" class="display">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Code</th>
                                                                <th>Name</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <%= f.fields_for :product_colors do |product_color_form| %>                                                      
                                                              <tr id="product_color_<%= product_color_form.object.color_id %>">
                                                                  <td></td>
                                                                  <td><%= product_color_form.object.code %></td>
                                                                  <td><%= product_color_form.object.name %></td>
                                                              </tr>
                                                            <% end %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="form-group<%= control_group_error(@product, :image) %>">
                                                <%= f.label :image, class: "col-sm-2 control-label" %>
                                                  <div class="col-sm-10">
                                                      <% if @product.image? %>
                                                        <%= image_tag(@product.image_url(:thumb)) %>
                                                      <% end %>
                                                      <%= f.file_field :image, tabindex: "9" %>
                                                      <%= f.hidden_field :image_cache %>
                                                      <%= error_help_text(@product, :image) %>
                                                  </div>
                                              </div>    
                                              <div class="form-group">
                                                  <div class="col-sm-offset-2 col-sm-10">
                                                      <%= f.check_box :remove_image, tabindex: "10" %> Remove image
                                                  </div>
                                              </div>
                                              <% if @product.new_record? %>
                                                <%= f.fields_for :cost_lists do |cost_list_form| %>
                                                  <%= cost_list_form.hidden_field :is_user_creating_product, value: true %>
                                                  <div class="form-group<%= control_group_error(cost_list_form.object, :effective_date) %>">
                                                      <%= f.label :effective_date, class: "col-sm-2 control-label" %>
                                                        <div class="col-sm-10">
                                                            <%= cost_list_form.text_field :effective_date, size: 10, readonly: true, tabindex: "11", class: "form-control" %>
                                                              <%= error_help_text(cost_list_form.object, :effective_date) %>
                                                          </div>
                                                      </div>                                          
                                                      <div class="form-group<%= control_group_error(cost_list_form.object, :cost) %>">
                                                          <%= cost_list_form.label :cost, class: "col-sm-2 control-label" %>
                                                            <div class="col-sm-10">
                                                                <%= cost_list_form.text_field :cost, tabindex: "12", placeholder: "cost", "data-a-sep" => ".",
                                                                  "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16, class: "form-control" %>
                                                                  <%= error_help_text(cost_list_form.object, :cost) %>
                                                              </div>
                                                          </div>
                                                        <% end %>
                                                      <% else %>
                                                        <%= f.hidden_field :effective_date %>
                                                      <% end %>
                                                      <div class="form-group<%= control_group_error(@product, :size_group_id) %>">
                                                          <%= f.label :size_group_id, class: "col-sm-2 control-label" %>
                                                            <div class="col-sm-10">
                                                                <%= f.select :size_group_id, options_from_collection_for_select(SizeGroup.select(:id, :code), :id, :code, @product.size_group_id.to_s), {prompt: true}, {tabindex: "13", class: "form-control"} %>
                                                                  <%= error_help_text(@product, :size_group_id) %>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <div class="col-sm-offset-2 col-sm-10">
                                                                  <div id="size_collection_container">
                                                                      <% unless @sizes.blank? %>
                                                                        <%= render 'size_collections' %>
                                                                      <% end %>
                                                                  </div>
                                                              </div>                                                      
                                                          </div>
                                                          <div class="form-group">
                                                              <div class="col-sm-offset-2 col-sm-10">
                                                                  <%= f.submit "Save", class: "btn btn-primary", id: "submit_product" %>
                                                                    <button class="btn btn-link cancel">Cancel</button>
                                                                </div>
                                                            </div>
                                                          <% end %>
                                                      </td>
                                                      <script>
                                                        $(function () {
                                                            $("#product_size_group_id").change(function () {
                                                                // split isi dari action attributnya form untuk ambil id produk
                                                                var splittedAction = $(".form-horizontal").attr("action").split("/");
                                                                if (splittedAction.length == 2)
                                                                    $.get("/products/populate_detail_form", {
                                                                        id: $(this).val()
                                                                    });
                                                                else if (splittedAction.length == 3)
                                                                    $.get("/products/populate_detail_form", {
                                                                        id: $(this).val(),
                                                                        product_id: splittedAction[2]
                                                                    });
                                                            });

                                                            $("#product_cost_lists_attributes_0_effective_date").datepicker({
                                                                dateFormat: "dd/mm/yy"
                                                            });

                                                            $('#product_cost_lists_attributes_0_cost').autoNumeric('init');  //autoNumeric with defaults

                                                            if ($("#new_product").length > 0)
                                                                $("#new_product").submit(function () {
                                                                    $(".price-effective-date").val($("#product_cost_lists_attributes_0_effective_date").val());
                                                                });
                                                            else if ($(".form-horizontal").length > 0)
                                                                $(".form-horizontal").submit(function () {
                                                                    $(".price-effective-date").val($("#product_effective_date").val());
                                                                });

                                                            var productColorDataTable = $('#listing_product_colors_table').DataTable({
                                                                order: [1, 'asc'],
                                                                dom: 'T<"clear">lfrtip',
                                                                columns: [
                                                                    {data: null, defaultContent: '', orderable: false},
                                                                    {data: 'code'},
                                                                    {data: 'name'}
                                                                ],
                                                                tableTools: {
                                                                    sRowSelect: 'os',
                                                                    sRowSelector: 'td:first-child',
                                                                    aButtons: ['select_all', 'select_none']
                                                                },
                                                                paging: false,
                                                                info: false,
                                                                scrollY: "250px",
                                                                scrollCollapse: true
                                                            });

                                                            $("#submit_product").click(function () {
                                                                $(".selected-colors").val("");
                                                                $(".color-delete-marker").val("true");
                                                                $.each(productColorDataTable.rows('.selected')[0], function (index, value) {
                                                                    var colorId = productColorDataTable.rows(value).nodes().to$().attr("id").split("_")[2];
                                                                    $("#selected_color_id_" + colorId).val(colorId);
                                                                    $("#color_delete_marker_" + colorId).val("false");
                                                                });

                                                            });

                                                            var selectedColorFields = $(".selected-colors");
                                                            $.each(selectedColorFields, function (index, value) {
                                                                var selectedColorId = $($(".selected-colors")[index]).val();
                                                                if (selectedColorId != "") {
                                                                    var e = jQuery.Event("click");
                                                                    e.ctrlKey = true;
                                                                    $("#product_color_" + selectedColorId).find("td:first-child").trigger(e);
                                                                }
                                                            });
                                                        });
                                                      </script>