<% index = 0 %>
<table class="table table-condensed table-responsive table-bordered">
    <tr style="text-align: center">
        <td colspan="2" rowspan="2"></td>
        <td colspan="<%= @price_codes.size %>" align="center"><b>Price</b></td>
    </tr>
    <tr style="text-align: center">
        <% @price_codes.each do |price_code| %>
          <td align="center"><%= price_code.code %><br /><%= text_field_tag "price_"+price_code.code, "", {placeholder: "price", class: "form-control money money-fields", "data-a-sep" => ".",
                  "data-a-dec" => ",", "data-a-sign" => "Rp", size: 16} %></td>
          <% end %>
      </tr>
      <% @sizes.each_with_index do |size, idx| %>
        <tr style="text-align: center">
            <% if idx.eql? 0 %>
              <td rowspan="<%= @sizes.size %>" style="vertical-align:middle"><b>Sizes</b></td>
            <% end %>
            <td><%= size.size %></td>
            <% @price_codes.each do |price_code| %>
              <% product_detail = @product.product_details.select{|pd| pd.size_id.eql?(size.id) && pd.price_code_id.eql?(price_code.id) }.first %>
              <td align="center">                      
                  <% if product_detail.new_record? %>
                    <% product_detail_array_index = "product[product_details_attributes]["+Time.now.to_i.to_s+index.to_s+"]" %>
                  <% else %>
                    <% product_detail_array_index = "product[product_details_attributes][]" %>
                  <% end %>
                  <%= fields_for product_detail_array_index, product_detail do |product_detail_form| %>
                    <%= product_detail_form.hidden_field :id %>
                    <%= product_detail_form.hidden_field :size_id %>
                    <%= product_detail_form.hidden_field :price_code_id %>
                    <div class="<%= control_group_error(product_detail, :price) %>">
                        <%= product_detail_form.text_field :price, placeholder: "price", class: "money-fields form-control money price-"+price_code.code, "data-a-sep" => ".",
                            "data-a-dec" => ",", "data-a-sign" => "Rp", size: 16 %>
                          <%= error_help_text(product_detail, :price) %>
                      </div>  
                    <% end %>
                </td>
                <% index += 1 %>
              <% end %>
          </tr>
        <% end %>
        <script>
    <% @price_codes.each do |price_code| %>
            $('#price_<%= price_code.code %>').keyup(function () {
                $('.price-<%= price_code.code %>').val($('#<%= "price_"+price_code.code %>').val());
            });
    <% end %>
        </script>

        <script>
          $(function () {
              $('.money').autoNumeric('init');  //autoNumeric with defaults
          });
        </script>


    </table>