<table border="1">
    <% index = 0 %>
    <% @price_codes.each do |price_code| %>
      <tr style="text-align: center">
          <th colspan="2" rowspan="2"></th>
          <th colspan="<%= @colors.size %>">Colors<br /><%= text_field_tag "price_"+price_code.code, "", {placeholder: "price", class: "money", "data-a-sep" => ".",
                  "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16} %></th>
        </tr>
        <tr style="text-align: center">
            <% @colors.each do |color| %>
              <td><%= color.code %><br /><%= text_field_tag "price_"+price_code.code+"_"+color.code, "", {placeholder: "price", class: "money price-"+price_code.code, "data-a-sep" => ".",
                      "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16} %></td>
              <% end %>
          </tr>
          <% @sizes.each_with_index do |size, idx| %>
            <tr style="text-align: center">
                <% if idx.eql? 0 %>
                  <th rowspan="<%= @sizes.size %>"><%= price_code.code %></th>
                <% end %>
                <td><%= size.size %></td>
                <% @colors.each do |color| %>
                  <% product_detail = @product.product_details.select{|pd| pd.size_id.eql?(size.id) && pd.color_id.eql?(color.id) && pd.price_code_id.eql?(price_code.id)}.first %>
                  <% unless product_detail %>
                    <% product_detail = @product.product_details.build(size_id: size.id, color_id: color.id, price_code_id: price_code.id) %>
                  <% end %>
                  <td>
                      <% if product_detail.new_record? %>
                        <% product_detail_array_index = "product[product_details_attributes]["+Time.now.to_i.to_s+index.to_s+"]" %>
                      <% else %>
                        <% product_detail_array_index = "product[product_details_attributes][]" %>
                      <% end %>
                      <%= fields_for product_detail_array_index, product_detail do |product_detail_form| %>
                        <%= product_detail_form.hidden_field :id %>
                        <%= product_detail_form.hidden_field :size_id %>
                        <%= product_detail_form.hidden_field :color_id %>
                        <%= product_detail_form.hidden_field :price_code_id %>
                        <div class="field">
                            <%= product_detail_form.text_field :price, placeholder: "price", class: "money price-"+price_code.code+"-"+color.code+" price-"+price_code.code, "data-a-sep" => ".",
                                "data-a-dec" => ",", "data-a-sign" => "Rp", style: "text-align:right;", size: 16 %>
                          </div>  
                        <% end %>
                    </td>
                    <% index += 1 %>
                  <% end %>
              </tr>
            <% end %>
            <script>
        <% @colors.each do |color| %>
                $('#price_<%= price_code.code %>_<%= color.code %>').keyup(function () {
                    $('.price-<%= price_code.code %>-<%= color.code %>').val($('#price_<%= price_code.code %>_<%= color.code %>').val());
                });
        <% end %>

              $('#price_<%= price_code.code %>').keyup(function () {
                  $('.price-<%= price_code.code %>').val($('#<%= "price_"+price_code.code %>').val());
              });
            </script>
          <% end %>

          <script>
            $(function () {
                $('.money').autoNumeric('init');  //autoNumeric with defaults
            });
          </script>


      </table>