<% active_cost = @product.active_cost %>
<div class="page-header"><h1>Product Detail</h1></div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Code:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Description:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.description %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Brand:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.brand_code %>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">
            Sex:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.sex.titleize %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Vendor:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.vendor_code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Target:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.target.titleize %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Model:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.model_code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Goods type:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.goods_type_code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Colors:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product_colors %>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Cost:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= number_to_currency((active_cost.cost rescue 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Image:
        </label>
        <div class="col-sm-10">
            <%= image_tag @product.image_url if @product.image.present? %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Effective date:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= active_cost.effective_date.strftime("%d/%m/%Y") rescue "" %>
        </div>
    </div>
</div>
<% product_price_codes = @product.price_codes %>
<% product_details = @product.product_details %>
<table class="table table-condensed table-responsive table-striped">
    <tr>
        <td rowspan="2" style="vertical-align: middle;text-align: center"><strong>Barcode</strong></td>
        <td rowspan="2" style="vertical-align: middle;text-align: center"><strong>Size</strong></td>
        <td colspan="<%= product_price_codes.size %>" align="center"><strong>Price</strong></td>
    </tr>

    <tr>
        <% product_price_codes.each do |price_code| %>
          <td align="center">
              <strong>
                  <%= price_code.code %>
              </strong>
          </td>
        <% end %>
    </tr>

    <% @product.grouped_product_details.each do |prod_det| %>
      <tr>
          <td><%= prod_det.barcode %></td>
          <td><%= prod_det.item_size %></td>
          <% product_price_codes.each do |price_code| %>
            <% product_detail = product_details.select{|pd| pd.price_code_id.eql?(price_code.id) and pd.size_id.eql?(prod_det.size_id)}.first %>
            <% if product_detail %>
              <td align="right">
                  <%= number_to_currency((product_detail.active_price.price rescue 0), :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %>
              </td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
</table>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default active" %>
