<div class="page-header"><h1>Product Detail</h1></div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Code:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Description:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.description %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Brand:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.brand.code if @product.brand %>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">
            Sex:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.sex.titleize %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Vendor:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.vendor.code if @product.vendor %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Target:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.target.titleize %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Model:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.model.code if @product.model %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Goods type:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.goods_type.code if @product.goods_type %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Cost:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= number_to_currency(@product.cost, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Image:
        </label>
        <div class="col-sm-10">
            <%= image_tag @product.image_url if @product.image.present? %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Effective date:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @product.effective_date %>
        </div>
    </div>
</div>
<table class="table table-condensed table-responsive table-striped">
    <tr>
        <td rowspan="2" style="vertical-align: middle;text-align: center"><strong>Barcode</strong></td>
        <td rowspan="2" style="vertical-align: middle;text-align: center"><strong>Size</strong></td>
        <td rowspan="2" style="vertical-align: middle;text-align: center"><strong>Color</strong></td>
        <td colspan="<%= @product.product_price_codes.count %>" align="center"><strong>Price</strong></td>
    </tr>

    <tr>
        <% @product.product_price_codes.each do |ppc| %>
          <td align="center">
              <strong>
                  <%= ppc.price_code.code %>
              </strong>
          </td>
        <% end %>
    </tr>

    <% @product.product_details.each do |prod_det| %>
      <tr>
          <td><%= prod_det.barcode %></td>
          <td><%= prod_det.size.size if prod_det.size %></td>
          <td><%= prod_det.color.code if prod_det.color %></td>
          <% @product.product_price_codes.each do |ppc| %>
            <% if prod_det.product_price_code_id.eql?(ppc.id) %>
              <td align="right">
                  <%= number_to_currency(prod_det.price, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %>
              </td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
</table>

<%= link_to 'Edit', edit_product_path(@product) %>
