<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;" id="table-listing-shipments">
    <thead id="listing-shipment-thead">
        <tr>
            <th class="col-md-3"><%= smart_listing.sortable "DO Number", "delivery_order_number" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Delivery Date", "delivery_date" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Received Date", "received_date" %></th>
            <th class="col-md-1"><%= smart_listing.sortable "Qty", "shipments.quantity" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Courier Cost", "courier_cost" %></th>
            <th class="col-md-2">
                <span id="checkAll" class="pull-right bs-checkbox glyphicon glyphicon-unchecked">
                    <input type="checkbox">
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |shipment| %>
          <tr class="editable" data-id="<%= shipment.id %>">
              <%= smart_listing.render object: shipment, partial: "shipments/shipment", locals: {object: shipment} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 6, link: new_shipment_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-shipment-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-shipment-thead").show();
      }
  }, 0);
</script>
