<td><%= object.delivery_order_number %></td>
<td><%= object.delivery_date.strftime("%d/%m/%Y") %></td>
<td><%= object.received_date.strftime("%d/%m/%Y") if object.received_date.present? %></td>
<td id="total-quantity-<%= object.id %>"><%= object.quantity %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, shipment_path(object), data: {remote: true}, title: "Show" %>
    <% if user_signed_in? && is_admin? %>
  <%#= link_to_if(true, content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_shipment_path(object), :remote => true, :class => :edit, method: :get, title: "Edit" ) %>
      <%= link_to_if(true, content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete" ) %>
  <%#= link_to_if(true, content_tag(:i, "", :class => "glyphicon glyphicon-print"), picking_note_order_booking_path(object), :remote => true, method: :get, :data => {placement: :left}, title: "Picking Note" ) %>
    <% end %>
</td>
