<td><%= object.delivery_order_number %></td>
<td><%= object.delivery_date.strftime("%d/%m/%Y") %></td>
<td><%= object.received_date.strftime("%d/%m/%Y") if object.received_date.present? %></td>
<td id="total-quantity-<%= object.id %>"><%= number_to_currency(object.quantity, :separator => "", :delimiter => ".", :unit => "", :precision => 0) %></td>
<td id="listing-shipment-user-name-<%= object.id %>"><%= object.user_name rescue "" %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, shipment_path(object), data: {remote: true}, title: "Show" %>
<%#= link_to_if(can?(:edit_action, Shipment) && object.received_date.nil?, content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_shipment_path(object), :remote => true, class: :edit, :method => :get, title: "Edit" ) %>
    <%= link_to_if(can?(:edit_action, Shipment) && object.packing_list_item_relation.blank?, content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure that you want to permanently delete the selected item?', placement: :left}, title: "Delete" ) %>
    <%= link_to_if(can?(:undelete_action, Shipment), content_tag(:i, "", :class => "glyphicon glyphicon-print"), print_shipment_path(object), :remote => true, :method => :get, title: "Print" ) %>
    <span class="checkbox-table bs-checkbox glyphicon glyphicon-unchecked">
        <input type="checkbox" value="<%= object.id %>">
    </span>
<%#= link_to "<i class=\"glyphicon glyphicon-check\"></i>".html_safe, shipment_path(object), data: {remote: true}, title: "Check" %>
</td>
