<td colspan="6">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>

    <dl class="dl-horizontal">
        <dt>DO Number</dt>
        <dd><%= @shipment.delivery_order_number %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd><%= @shipment.delivery_date.strftime("%d/%m/%Y") %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Customer</dt>
        <dd><%= "#{@shipment.customer_code} - #{@shipment.customer_name}" %></dd>
    </dl>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Product</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% gross_total = 0 %>
            <% @shipment.
              shipment_product_items.
              select(:quantity, "products.code AS product_code", "products.description AS product_desc", "brands_products.name AS brand_name", "common_fields.code AS color_code", "common_fields.name AS color_name", "sizes.size AS product_size", "price_lists.price AS product_price").
              joins(:price_list, order_booking_product_item: [:color, :size, order_booking_product: [product: :brand]]).
              each_with_index do |spi, idx| %>
              <tr>
                  <td><%= idx.succ %></td>
                  <td><%= "#{spi.product_code} - #{spi.brand_name}, #{spi.product_desc}" %></td>
                  <td><%= "#{spi.color_code} - #{spi.color_name}" %></td>
                  <td><%= spi.product_size %></td>
                  <td style="vertical-align: middle;text-align: right"><%= number_to_currency(spi.product_price, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                  <td style="vertical-align: middle;text-align: right"><%= number_to_currency(spi.quantity, :separator => "", :delimiter => ".", :unit => "", :precision => 0) %></td>
                  <td style="vertical-align: middle;text-align: right"><%= number_to_currency(spi.quantity * spi.product_price, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
              </tr>
              <% gross_total += spi.quantity * spi.product_price %>
            <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right">Total</td>
                <td style="text-align: right"><%= number_to_currency(@shipment.quantity, :separator => "", :delimiter => ".", :unit => "", :precision => 0) %></td>
                <td style="text-align: right"><%= number_to_currency(gross_total, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
            </tr>
            <%
            discount = gross_total * (@shipment.customer_discount.to_f / 100)
          %>
            <tr>
                <td colspan="6" style="text-align: right">Discount</td>
                <td style="text-align: right"><%= number_to_currency(discount, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
            </tr>
            <%
            vat = if @shipment.customer_is_taxable_entrepreneur
              if @shipment.customer_vat_type.eql?("include")
                ((gross_total - discount) / 1.1 * 0.1).round(2)
                else
                (gross_total - discount) * 0.1
              end
              else
            0
              end
          %>
            <tr>
                <td colspan="6" style="text-align: right">VAT</td>
                <td style="text-align: right"><%= number_to_currency(vat, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: right">Net Total</td>
                <td style="text-align: right"><%= number_to_currency(@shipment.net_total, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
            </tr>
        </tfoot>
    </table>

</td>
