<% require 'barby'
require 'barby/barcode/code_128'
require 'barby/outputter/png_outputter'
full_path = Rails.root.join("public", "barcode_#{@shipment.id}.png")
barcode = Barby::Code128B.new(@shipment.delivery_order_number)
blob = Barby::PngOutputter.new(barcode).to_png
#File.open(full_path, 'w') { |f| f.write barcode.to_png(:margin => 3, :xdim => 2, :height => 55) }
File.open(full_path, 'wb') { |f| f.write blob }
%>
<td colspan="5">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>
    <table class="table table-condensed table-responsive table-bordered">
        <tr>
            <td style="padding: 20px">
                <table width="100%">
                    <tr>
                        <td colspan="3"><strong><%= Company.display_name %></strong></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3"><strong>DELIVERY ORDER</strong></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3"><%= @shipment.delivery_order_number %></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3"><%= image_tag "/barcode_#{@shipment.id}.png", style: "height:'100%';width:'auto'" %></td>
                    </tr>
                    <tr>
                        <td style="width: 50%" valign="top">
                            <table class="table-condensed table-responsive">
                                <tr>
                                    <td>Warehouse From</td>
                                    <td>:</td>
                                    <td><%= "#{@shipment.order_booking.origin_warehouse.code} - #{@shipment.order_booking.origin_warehouse.name}" %></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">Address</td>
                                    <td style="vertical-align: top">:</td>
                                    <td><%= @shipment.order_booking.origin_warehouse.address %></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Delivery Date</td>
                                    <td>:</td>
                                    <td><%= @shipment.delivery_date.strftime("%d/%m/%Y") %></td>
                                </tr>
                                <tr>
                                    <td>Courier</td>
                                    <td>:</td>
                                    <td><%= @shipment.courier.code %> - <%= @shipment.courier.name %></td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td style="width: 50%" valign="top" align="right">
                            <table class="table-condensed table-responsive">
                                <tr>
                                    <td>Warehouse To</td>
                                    <td>:</td>
                                    <td>
                                        <% if @shipment.order_booking.customer_id.present? %>
                                          <% customer = Customer.select(:code, :name, :deliver_to).find(@shipment.order_booking.customer_id) %>
                                          <%= "#{customer.code} - #{customer.name}" %>
                                        <% else %>
                                          <%= "#{@shipment.order_booking.destination_warehouse.code} - #{@shipment.order_booking.destination_warehouse.name}" %>
                                        <% end %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">Address</td>
                                    <td style="vertical-align: top">:</td>
                                    <td>
                                        <% if @shipment.order_booking.customer_id.present? %>
                                          <%= customer.deliver_to %>
                                        <% else %>
                                          <%= @shipment.order_booking.destination_warehouse.address %>
                                        <% end %>
                                    </td>
                                </tr>
                                <% if (gv = GeneralVariable.select(:pieces_per_koli).first).present? %>
                                  <tr>
                                      <td style="vertical-align: top">Total koli</td>
                                      <td style="vertical-align: top">:</td>
                                      <td>
                                          <%= (@shipment.quantity / gv.pieces_per_koli.to_f).ceil %>
                                      </td>
                                  </tr>
                                <% end %>                
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3">
                            <table class="table table-condensed table-responsive table-bordered">
                                <tbody>
                                    <tr style="text-align: center">
                                        <td><strong>No</strong></td>
                                        <td><strong>Article Code</strong></td>
                                        <td><strong>Quantity</strong></td>
                                        <td><strong>Quantity Per Article</strong></td>
                                    </tr>
                                    <% @shipment.shipment_products.select(:id, :quantity, :order_booking_product_id).each_with_index do |shipment_product, idx| %>
                                      <% order_booking_product = OrderBookingProduct.joins(product: :brand).select("order_booking_products.id, order_booking_products.quantity, common_fields.name, products.code AS prdct_code").where(id: shipment_product.order_booking_product_id).first %>
                                      <% product_sizes = order_booking_product.sizes %>
                                      <% product_colors = order_booking_product.colors %>
                                      <tr align="center">
                                          <td style="vertical-align: middle"><%= idx.succ %></td>
                                          <td style="vertical-align: middle"><%= "#{order_booking_product.prdct_code} - #{order_booking_product.name}" %></td>
                                          <td style="vertical-align: middle">
                                              <table class="table table-condensed table-responsive table-bordered">
                                                  <tbody>
                                                      <!--
                                                      <tr>
                                                          <td colspan="2" rowspan="2"></td>
                                                          <td align="center" colspan="<%#= product_sizes.length %>">Sizes</td>
                                                      </tr>-->
                                                      <tr>
                                                          <td></td>
                                                          <% product_sizes.each do |size| %>
                                                            <td align="center" style="vertical-align: middle"><%= size.size %></td>
                                                          <% end %>
                                                          <td align="center" style="vertical-align: middle"><strong>Qty / Color</strong></td>
                                                      </tr>
                                                      <% product_colors.each_with_index do |color, idx| %>
                                                        <tr align="center">
    <%# if idx == 0 %>
                                                              <!--<td style="vertical-align: middle" rowspan="<%#= product_colors.length %>">Colors</td>-->
    <%# end %>
                                                            <td align="center" style="vertical-align: middle"><%= "#{color.code} - #{color.name}" %></td>
                                                            <% qty_per_color = 0 %>
                                                            <% product_sizes.each do |size| %>
                                                              <% shipment_product_item = shipment_product.shipment_product_items.joins(:order_booking_product_item).select(:quantity).where("order_booking_product_items.size_id = #{size.id} AND order_booking_product_items.color_id = #{color.id}").first %>
                                                              <td align="center" style="vertical-align: middle">
                                                                  <% if shipment_product_item %>
                                                                    <% qty_per_color += shipment_product_item.quantity %>
                                                                    <%= shipment_product_item.quantity %>
                                                                  <% end %>
                                                              </td>
                                                            <% end %>
                                                            <td align="center" style="vertical-align: middle"><%= qty_per_color %></td>
                                                        </tr>
                                                      <% end %>
                                                  </tbody>
                                              </table>
                                          </td>
                                          <td align="right" style="vertical-align: middle"><%= shipment_product.quantity %></td>
                                      </tr>
                                    <% end %>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" align="right"><strong>Total Quantity</strong></td>
                                        <td align="right"><%= @shipment.quantity %></td>
                                    </tr>
                                </tfoot>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Created by</td>
                        <td style="text-align: center">Driver</td>
                        <td style="text-align: right">Recipient</td>
                    </tr>
                    <tr>
                        <td style="padding-top: 50px"><%= @shipment.audits.where(action: "create").select(:user_id, :user_type).first.user.name %></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: right"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



</td>
