<p id="notice"><%= notice %></p>

<p>
  <strong>Delivery order number:</strong>
  <%= @shipment.delivery_order_number %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @shipment.delivery_date %>
</p>

<p>
  <strong>Received date:</strong>
  <%= @shipment.received_date %>
</p>

<p>
  <strong>Order booking:</strong>
  <%= @shipment.order_booking %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @shipment.quantity %>
</p>

<p>
  <strong>Courier:</strong>
  <%= @shipment.courier %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
