<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-spg-thead">
        <tr>
            <th class="col-md-2"><%= smart_listing.sortable "Identifier", "identifier" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Name", "sales_promotion_girls.name" %></th>
            <th class="col-md-2">Phone</th>
            <th class="col-md-2"><%= smart_listing.sortable "Warehouse", "warehouse_code" %></th>
            <th class="col-md-2">Mobile phone</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |spg| %>
          <tr class="editable" data-id="<%= spg.id %>">
              <%= smart_listing.render object: spg, partial: "sales_promotion_girls/sales_promotion_girl", locals: {object: spg} %>
          </tr>
        <% end %>
          <%= smart_listing.item_new colspan: 6, link: new_sales_promotion_girl_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>

<script>
  var processId = setInterval(function () {
      if ($("#listing-spg-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-spg-thead").show();
      }
  }, 0);
<% unless user_is_not_cashier %>
    $('#new-item-btn').css({'opacity': 0.0, 'cursor': 'default'});
    $('#new-item-btn').unbind("click");
    $('#new-item-btn').click(function (e) {
        return false;
    });
<% end %>
</script>