<td><%= object.identifier %></td>
<td><%= object.name %></td>
<td><%= remove_empty_space_from_phone_number(object.phone) %></td>
<td id="spg-warehouse-code-<%= object.id %>"><%= object.warehouse_code rescue nil %></td>
<td><%= remove_empty_space_from_phone_number(object.mobile_phone) %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, object, data: {remote: true}, title: "Show" %>
    <%# if user_can_edit %>
      <%= link_to "<i class=\"glyphicon glyphicon-pencil\"></i>".html_safe, edit_sales_promotion_girl_path(object), data: {remote: true}, class: :edit, title: "Edit" %>
      <%# end %>
      <%# if user_is_not_cashier %>
        <%= link_to(content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete" ) %>
      <%# end %>
  </td>
