<%= f.hidden_field :spg_role %>
<div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "inputs", tabindex: "9" %>
  </div>

  <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "inputs", tabindex: "10" %>
    </div>