<%= form_for(@warehouse, remote: true, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group<%= control_group_error(@warehouse, :code) %>">
        <%= f.label :code, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
              <%= f.text_field :code, class: "form-control upcase inputs", style: "width: auto", size: 13, maxlength: 9 %>
                <%= error_help_text(@warehouse, :code) %>
            </div>
        </div>
        <div class="form-group<%= control_group_error(@warehouse, :name) %>">
            <%= f.label :name, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.text_field :name, class: "form-control inputs", tabindex: "2" %>
                    <%= error_help_text(@warehouse, :name) %>
                </div>
            </div>
            <div class="form-group<%= control_group_error(@warehouse, :address) %>">
                <%= f.label :address, class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                      <%= f.text_area :address, rows: 6, tabindex: "3", class: "form-control" %>
                        <%= error_help_text(@warehouse, :address) %>
                    </div>
                </div>
<!--
                <div class="form-group">                
                    <div class="col-sm-offset-2 col-sm-10">
                        <%#= f.check_box :is_active, tabindex: "4" %> Is active
                    </div>
                </div>-->
                <div class="form-group<%= control_group_error(@warehouse, :supervisor_id) %>">
                    <%= f.label :supervisor_id, "Area Manager", class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.select :supervisor_id, options_from_collection_for_select(Supervisor.select(:id, :name), :id, :name, @warehouse.supervisor_id.to_s), {prompt: true}, {tabindex: "5", class: "form-control"} %>
                            <%= error_help_text(@warehouse, :supervisor_id) %>
                        </div>
                    </div>
                    <div class="form-group<%= control_group_error(@warehouse, :region_id) %>">
                        <%= f.label :region_id, class: "col-sm-2 control-label" %>
                          <div class="col-sm-10">
                              <%= f.select :region_id, options_from_collection_for_select(Region.select(:id, :code), :id, :code, @warehouse.region_id.to_s), {prompt: true}, {tabindex: "6", class: "form-control"} %>
                                <%= error_help_text(@warehouse, :region_id) %>
                            </div>
                        </div>

                        <div class="form-group<%= control_group_error(@warehouse, :price_code_id) %>">
                            <%= f.label :price_code_id, class: "col-sm-2 control-label" %>
                              <div class="col-sm-10">
                                  <%= f.select :price_code_id, options_from_collection_for_select(PriceCode.select(:id, :code), :id, :code, @warehouse.price_code_id.to_s), {prompt: true}, {tabindex: "7", class: "form-control"} %>
                                    <%= error_help_text(@warehouse, :price_code_id) %>
                                </div>
                            </div>
                            <div class="form-group<%= control_group_error(@warehouse, :warehouse_type) %>">
                                <%= f.label :warehouse_type, "Type", class: "col-sm-2 control-label" %>
                                  <div class="col-sm-10">
                                      <%= f.select :warehouse_type, options_for_select(Warehouse::TYPES, @warehouse.warehouse_type), {prompt: true}, {tabindex: "8", class: "form-control"} %>
                                        <%= error_help_text(@warehouse, :warehouse_type) %>
                                    </div>
                                </div>
                                <% if @warehouse.warehouse_type.eql?("counter") %>
                                  <% hidden_class_name = "" %>
                                <% else %>
                                  <% hidden_class_name = " hidden" %>
                                <% end %>
                                <div class="form-group<%= control_group_error(@warehouse, :sku) %><%= hidden_class_name %>" id="sku_field">
                                    <%= f.label :stock_keeping_unit, "SKU", class: "col-sm-2 control-label" %>
                                      <div class="col-sm-10">
                                          <%= f.text_field :sku, class: "form-control" %>
                                            <%= error_help_text(@warehouse, :sku) %>
                                        </div>
                                    </div>                                
                                    <div class="form-group">
                                        <%= f.label :first_message, class: "col-sm-2 control-label" %>
                                          <div class="col-sm-10">
                                              <%= f.text_field :first_message, class: "form-control inputs" %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label :second_message, class: "col-sm-2 control-label" %>
                                              <div class="col-sm-10">
                                                  <%= f.text_field :second_message, class: "form-control inputs" %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= f.label :third_message, class: "col-sm-2 control-label" %>
                                                  <div class="col-sm-10">
                                                      <%= f.text_field :third_message, class: "form-control inputs" %>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <%= f.label :fourth_message, class: "col-sm-2 control-label" %>
                                                      <div class="col-sm-10">
                                                          <%= f.text_field :fourth_message, class: "form-control inputs" %>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <%= f.label :fifth_message, class: "col-sm-2 control-label" %>
                                                          <div class="col-sm-10">
                                                              <%= f.text_field :fifth_message, class: "form-control inputs" %>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <%= f.submit "Save", class: "btn btn-primary" %>
                                                                  <button class="btn btn-link cancel">Cancel</button>
                                                              </div>
                                                          </div>
                                                        <% end %>

                                                        <script>
                                                          $(function () {
                                                              MaskedInput({
                                                                  elm: document.getElementById('warehouse_code'),
                                                                  format: '____-____',
                                                                  separator: '-',
                                                                  allowed: "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
                                                              });
                                                        <% if action_name.eql?("update") %>
                                                                $("#warehouse_code").val("<%= @warehouse_code %>");
                                                        <% end %>

                                                              $("#warehouse_warehouse_type").change(function () {
                                                                  if ($(this).val() == "counter")
                                                                      $("#sku_field").removeClass("hidden");
                                                                  else
                                                                      $("#sku_field").addClass("hidden");
                                                              });
                                                              $('#warehouse_sku').on("input", function () {
                                                                  $(this).val($(this).val().replace(/ /g, ""));
                                                              });
                                                          });

                                                        </script>
