<td colspan="6">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>

    <dl class="dl-horizontal">
        <dt>Code</dt>
        <dd><%= object.code %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= object.name %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Address</dt>
        <dd><%= object.address %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Is active</dt>
        <dd><%= object.is_active %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Area manager</dt>
        <dd><%= object.supervisor_name %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Province</dt>
        <dd><%= object.province.name rescue "" %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>City</dt>
        <dd><%= object.city.name rescue "" %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Region</dt>
        <dd><%= object.region_code %></dd>
    </dl>


    <dl class="dl-horizontal">
        <dt>Price code</dt>
        <dd><%= object.price_code_code %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd><%= object.warehouse_type.titleize %></dd>
    </dl>

    <% if object.counter_type.present? %>
      <dl class="dl-horizontal">
          <dt>Counter type</dt>
          <dd><%= object.counter_type %></dd>
      </dl>
    <% end %>

    <% if object.sku.present? %>
      <dl class="dl-horizontal">
          <dt>SKU</dt>
          <dd><%= object.sku %></dd>
      </dl>
    <% end %>
    <% if @warehouse.warehouse_type.eql?("showroom") %>
      <dl class="dl-horizontal">
          <dt>First message</dt>
          <dd><%= object.first_message %></dd>
      </dl>

      <dl class="dl-horizontal">
          <dt>Second message</dt>
          <dd><%= object.second_message %></dd>
      </dl>

      <dl class="dl-horizontal">
          <dt>Third message</dt>
          <dd><%= object.third_message %></dd>
      </dl>

      <dl class="dl-horizontal">
          <dt>Fourth message</dt>
          <dd><%= object.fourth_message %></dd>
      </dl>

      <dl class="dl-horizontal">
          <dt>Fifth message</dt>
          <dd><%= object.fifth_message %></dd>
      </dl>
    <% end %>

</td>
