<td><%= object.code %></td>
<td><%= object.name %></td>
<td id="warehouse-supervisor-name-<%= object.id %>"><%= object.supervisor_name rescue nil %></td>
<td id="warehouse-region-code-<%= object.id %>"><%= object.region_code rescue nil %></td>
<td><%= object.warehouse_type.titleize %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, object, data: {remote: true}, title: "Show" %>
    <% if user_signed_in? && is_admin? %>
      <%= link_to "<i class=\"glyphicon glyphicon-pencil\"></i>".html_safe, edit_warehouse_path(object), data: {remote: true}, class: :edit, title: "Edit" %>
        <%= link_to_if(!object.spg_relation.present? && !object.po_relation.present?, content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete" ) %>
      <% end %>
  </td>
