<div class="page-header"><h1>Listing Warehouses</h1></div>

<table class="table table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Supervisor</th>
            <th>Region</th>
            <th>Type</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @warehouses.each do |warehouse| %>
          <tr>
              <td><%= warehouse.code %></td>
              <td><%= warehouse.name %></td>
              <td><%= warehouse.supervisor.name if warehouse.supervisor %></td>
              <td><%= warehouse.region.code if warehouse.region %></td>
              <td><%= warehouse.warehouse_type.titleize %></td>
              <td>
                  <%= link_to 'Show', warehouse, class: "btn btn-info btn-xs active" %>
                    <%= link_to 'Edit', edit_warehouse_path(warehouse), class: "btn btn-warning btn-xs active" %>
                      <%= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs active" %>
                    </td>
                </tr>
              <% end %>
          </tbody>
      </table>


      <%= link_to 'New Warehouse', new_warehouse_path, class: "btn btn-default active" %>
