<div class="page-header"><h1>Warehouse Detail</h1></div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Code:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.code %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Name:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.name %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Address:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.address %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Is active:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.is_active %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Supervisor:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.supervisor.name if @warehouse.supervisor %>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">
            Region:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.region.code if @warehouse.region %>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">
            Price code:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.price_code.code if @warehouse.price_code %>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">
            Type:
        </label>
        <div class="col-sm-10 form-control hidden-box">
            <%= @warehouse.warehouse_type.titleize %>
        </div>
    </div>

</div>
<%= link_to 'Edit', edit_warehouse_path(@warehouse), class: "btn btn-default active" %>
