<table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;">
    <thead id="listing-sales-thead">
        <tr>
            <th class="col-md-4"><%= smart_listing.sortable "Transaction Number", "transaction_number" %></th>
            <th class="col-md-3"><%= smart_listing.sortable "Transaction Time", "transaction_time" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Payment Method", "payment_method" %></th>
            <th class="col-md-2"><%= smart_listing.sortable "Total", "total" %></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <% smart_listing.collection.each do |sale| %>
          <tr class="editable" data-id="<%= sale.id %>">
              <%= smart_listing.render object: sale, partial: "sales/sale", locals: {object: sale} %>
          </tr>
        <% end %>
        <%#= smart_listing.item_new colspan: 4, link: new_cash_disbursement_path %>
    </tbody>
</table>
<%= smart_listing.paginate %>
<script>
  var processId = setInterval(function () {
      if ($("#listing-sales-thead").is(":visible")) {
          clearInterval(processId);
      } else {
          $("#listing-sales-thead").show();
      }
  }, 0);
</script>