<div class="form-group">
    <label class="col-sm-3 control-label">Color</label>
    <div class="col-sm-9">
        <%= select_tag "sale_bogo_product_color_#{product_row_index}", options_from_collection_for_select(product_colors, :id, "code_and_name"), {include_blank: true, class: "form-control", style: "width: 100%"} %>
      </div>
  </div>

  <script>
    $(function () {
        $("#sale_bogo_product_color_<%= product_row_index %>").attr("data-placeholder", "Select").chosen();
        $("#sale_bogo_product_color_<%= product_row_index %>").change(function () {
            $.get("/sales/get_free_product_sizes", {
                sale_bogo_product_code: "<%= product_code %>",
                sale_bogo_product_color: $("#sale_bogo_product_color_<%= product_row_index %>").val().trim(),
                product_row_index: "<%= product_row_index %>",
                product_barcode_id: "<%= product_barcode_id %>"
            });
        });

    });
  </script>