<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @sale.member %>
</p>

<p>
  <strong>Transaction time:</strong>
  <%= @sale.transaction_time %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @sale.bank %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @sale.payment_type %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Trace number:</strong>
  <%= @sale.trace_number %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @sale.card_number %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @sale.cash %>
</p>

<p>
  <strong>Change:</strong>
  <%= @sale.change %>
</p>

<p>
  <strong>Transaction number:</strong>
  <%= @sale.transaction_number %>
</p>

<p>
  <strong>Cashier opening:</strong>
  <%= @sale.cashier_opening %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
