<td><%= object.number %></td>
<td><%= object.plan_date.strftime("%d/%m/%Y") %></td>
<td id="ori-warehouse-name-<%= object.id %>"><%= object.ow_name rescue "" %></td>
<td id="dest-warehouse-name-<%= object.id %>"><%= object.dw_name rescue "" %></td>
<td><%= object.quantity %></td>
<td><%= object.status %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, order_booking_path(object), data: {remote: true}, title: "Show" %>
    <% if user_signed_in? && is_admin? %>
      <%= link_to_if(object.status.eql?("O"), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_order_booking_path(object), :remote => true, :class => :edit, method: :get, title: "Edit" ) %>
      <%= link_to_if(object.status.eql?("O"), content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure?', placement: :left}, title: "Delete" ) %>
    <% end %>
</td>
