<td><%= object.number %></td>
<td><%= object.plan_date.strftime("%d/%m/%Y") %></td>
<td id="ori-warehouse-name-<%= object.id %>"><%= object.ow_name rescue "" %></td>
<% if (object.cust_name rescue nil).present? %>
  <td id="dest-warehouse-name-<%= object.id %>"><%= object.cust_name %></td>
<% else %>
  <td id="dest-warehouse-name-<%= object.id %>"><%= object.dw_name rescue "" %></td>
<% end %>
<td id="total-quantity-<%= object.id %>"><%= object.quantity %></td>
<td><%= object.status %></td>
<td id="listing-ob-user-name-<%= object.id %>"><%= object.user_name rescue "" %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, order_booking_path(object), data: {remote: true}, title: "Show" %>
    <%= link_to_if(can?(:manage, OrderBooking) && (object.status.eql?("O") || object.status.eql?("P")), content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), edit_order_booking_path(object), :remote => true, :class => :edit, method: :get, title: "Edit" ) %>
    <%= link_to_if(can?(:manage, OrderBooking) && (object.status.eql?("O") || object.status.eql?("P")), content_tag(:i, "", :class => "glyphicon glyphicon-trash"), object, :remote => true, :class => "destroy", :method => :delete, :data => {:confirmation => 'Are you sure that you want to permanently delete the selected item?', placement: :left}, title: "Delete" ) %>
    <%= link_to_if(can?(:manage, OrderBooking) && (object.status.eql?("O") || object.status.eql?("P")), content_tag(:i, "", :class => "glyphicon glyphicon-print"), picking_note_order_booking_path(object), :remote => true, method: :get, :data => {placement: :left}, title: "Picking Note" ) %>
</td>
