<div class="page-header">
    <h1>Order Bookings</h1>
</div>

<div id="search-form-container" class="form-inline text-right">
    <div class="form-group text-left">
        <%= select_tag "status", options_for_select(OrderBooking::STATUSES), {include_blank: true, class: "form-control", id: "filter-status"} %>
      </div>
      <% if current_user.has_non_spg_role? %>
        <div class="form-group text-left">
            <%= select_tag "destination_warehouse", options_from_collection_for_select(Warehouse.not_central.actived.select(:id, :code, :name), :id, "code_and_name"), {include_blank: true, class: "form-control", id: "filter-destination-warehouse"} %>
          </div>
        <% end %>
        <div class="form-group">
            <input type="text" class="form-control" readonly="true" id="filter-plan-date" placeholder="Plan date">
        </div>
        <div class="form-group">
            <input type="text" id="filter-string" class="form-control" placeholder="Number/Created by">
        </div>
        <button id="search-ob-btn" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
    </div>


    <div class="hidden">
        <%= smart_listing_controls_for(:order_bookings, {class: "form-inline text-right"}) do %>
            <%= text_field_tag :filter_plan_date, '', class: "search form-control", autocomplete: :off %>
              <%= text_field_tag :filter_string, '', class: "search form-control", autocomplete: :off %>
                <%= text_field_tag :filter_status, '', class: "search form-control", autocomplete: :off %>
                  <% if current_user.has_non_spg_role? %>
                    <%= text_field_tag :filter_destination_warehouse, '', class: "search form-control", autocomplete: :off %>
                    <% end %>
                  <% end %>
              </div>
              <%= smart_listing_render(:order_bookings) %>
              <div id="print_doc_container"></div>
