<p id="notice"><%= notice %></p>

<p>
  <strong>Plan date:</strong>
  <%= @order_booking.plan_date %>
</p>

<p>
  <strong>Origin warehouse:</strong>
  <%= @order_booking.origin_warehouse %>
</p>

<p>
  <strong>Destination warehouse:</strong>
  <%= @order_booking.destination_warehouse %>
</p>

<p>
  <strong>Print date:</strong>
  <%= @order_booking.print_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order_booking.note %>
</p>

<%= link_to 'Edit', edit_order_booking_path(@order_booking) %> |
<%= link_to 'Back', order_bookings_path %>
