<td colspan="5">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>

    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd><%= object.member_id %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= object.name %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Gender</dt>
        <dd><%= object.gender.titleize %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Address</dt>
        <dd><%= object.address %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Phone</dt>
        <dd><%= remove_empty_space_from_phone_number(object.phone) %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Mobile Phone</dt>
        <dd><%= remove_empty_space_from_phone_number(object.mobile_phone) %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd><%= object.email %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Discount</dt>
        <dd><%= object.discount %>%</dd>
    </dl>
</td>
