<table width="100%" id="cash_disbursement_report" style="display: none">
    <tr>
        <th colspan="3" style="text-align: center">Cash Disbursement Report</th>
    </tr>
    <tr>
        <td style="vertical-align: top">Store</td>
        <td style="vertical-align: top">:</td>
        <td><%= "#{@cashier_opening.code} - #{@cashier_opening.name}" %></td>
    </tr>
    <tr style="overflow: hidden; white-space: nowrap">
        <td>Opened At</td>
        <td>:</td>
        <td><%= @cashier_opening.created_at.strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
    <tr style="overflow: hidden; white-space: nowrap">
        <td>Closed At</td>
        <td>:</td>
        <td><%= @cashier_opening.closed_at.strftime("%d/%m/%Y %H:%M") if @cashier_opening.closed_at.present? %></td>
    </tr>
    <tr>
        <td style="overflow: hidden; white-space: nowrap; vertical-align: top">Opened/Closed By</td>
        <td style="vertical-align: top">:</td>
        <td style="vertical-align: top"><%= @cashier_opening.cashier_name %></td>
    </tr>
    <tr style="overflow: hidden; white-space: nowrap">
        <td>Station</td>
        <td>:</td>
        <td><%= @cashier_opening.station %></td>
    </tr>
    <tr style="overflow: hidden; white-space: nowrap">
        <td>Shift</td>
        <td>:</td>
        <td><%= @cashier_opening.shift %></td>
    </tr>
    <tr style="overflow: hidden; white-space: nowrap">
        <td>Beginning Cash</td>
        <td>:</td>
        <td><%= number_to_currency(@cashier_opening.beginning_cash, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
    </tr>
    <tr style="overflow: hidden; white-space: nowrap">
        <td>Cash On Hand</td>
        <td>:</td>
        <td><%= number_to_currency(@cashier_opening.cash_balance, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="3" align="center">                  
            <table class="table table-condensed table-responsive table-bordered">
                <tr>
                    <th>No.</th>
                    <th>Description</th>
                    <th>Price/Amount</th>
                </tr>
                <% sum = 0 %>
                <% @cashier_opening.cash_disbursements.each_with_index do |cash_disbursement, index| %>
                  <% sum += cash_disbursement.price %>
                  <tr>
                      <td><%= index + 1 %></td>
                      <td><%= cash_disbursement.description %></td>
                      <td style="text-align: right"><%= number_to_currency(cash_disbursement.price, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                  </tr>
                <% end %>
                <tfoot>
                    <tr>
                        <td colspan="2">Sum</td>
                        <td style="text-align: right"><%= number_to_currency(sum, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
                    </tr>
                </tfoot>
            </table>
        </td></tr>
</table>